<dec f='halide/build/include/Halide.h' l='20700' type='const Halide::Target'/>
<offset>832</offset>
<dec f='halide/src/CompilerLogger.h' l='100' type='const Halide::Target'/>
<offset>832</offset>
<use f='halide/src/CompilerLogger.cpp' l='99' u='w' c='_ZN6Halide8Internal18JSONCompilerLoggerC1ERKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEES9_S9_RKNS_6TargetES9_b'/>
<use f='halide/src/CompilerLogger.cpp' l='270' u='m' c='_ZN6Halide8Internal18JSONCompilerLogger14emit_to_streamERSo'/>
<use f='halide/src/CompilerLogger.cpp' l='270' u='m' c='_ZN6Halide8Internal18JSONCompilerLogger14emit_to_streamERSo'/>
