<use f='halide/src/autoschedulers/adams2019/FunctionDAG.h' l='474'/>
<use f='halide/src/autoschedulers/adams2019/FunctionDAG.h' l='487'/>
<def f='halide/src/autoschedulers/adams2019/FunctionDAG.h' l='524' ll='558'/>
<use f='halide/src/autoschedulers/adams2019/FunctionDAG.h' l='561'/>
<size>72</size>
<doc f='halide/src/autoschedulers/adams2019/FunctionDAG.h' l='523'>// A representation of a producer-consumer relationship</doc>
<mbr r='Halide::Internal::Autoscheduler::FunctionDAG::Edge::bounds' o='0' t='vector&lt;pair&lt;Halide::Internal::Autoscheduler::FunctionDAG::Edge::BoundInfo, Halide::Internal::Autoscheduler::FunctionDAG::Edge::BoundInfo&gt; &gt;'/>
<mbr r='Halide::Internal::Autoscheduler::FunctionDAG::Edge::producer' o='192' t='FunctionDAG::Node *'/>
<mbr r='Halide::Internal::Autoscheduler::FunctionDAG::Edge::consumer' o='256' t='FunctionDAG::Node::Stage *'/>
<mbr r='Halide::Internal::Autoscheduler::FunctionDAG::Edge::calls' o='320' t='int'/>
<mbr r='Halide::Internal::Autoscheduler::FunctionDAG::Edge::all_bounds_affine' o='352' t='bool'/>
<mbr r='Halide::Internal::Autoscheduler::FunctionDAG::Edge::load_jacobians' o='384' t='vector&lt;Halide::Internal::Autoscheduler::LoadJacobian&gt;'/>
<fun r='_ZN6Halide8Internal13Autoscheduler11FunctionDAG4Edge17add_load_jacobianENS1_12LoadJacobianE'/>
<fun r='_ZNK6Halide8Internal13Autoscheduler11FunctionDAG4Edge16expand_footprintEPKNS1_4SpanEPS4_'/>
<use f='halide/src/autoschedulers/adams2019/FunctionDAG.cpp' l='913' c='_ZN6Halide8Internal13Autoscheduler11FunctionDAGC1ERKSt6vectorINS0_8FunctionESaIS4_EERKNS_13MachineParamsERKNS_6TargetE'/>
<use f='halide/src/autoschedulers/adams2019/FunctionDAG.cpp' l='1049' c='_ZNK6Halide8Internal13Autoscheduler11FunctionDAG13dump_internalERT_'/>
<size>72</size>
<fun r='_ZN6Halide8Internal13Autoscheduler11FunctionDAG4Edge17add_load_jacobianENS1_12LoadJacobianE'/>
<fun r='_ZNK6Halide8Internal13Autoscheduler11FunctionDAG4Edge16expand_footprintEPKNS1_4SpanEPS4_'/>
<use f='halide/src/autoschedulers/adams2019/LoopNest.cpp' l='526' c='_ZNK6Halide8Internal13Autoscheduler8LoopNest16compute_featuresERKNS1_11FunctionDAGERKNS_13MachineParamsERK14PerfectHashMapINS3_4Node5StageENS2_5SitesE1864315'/>
<use f='halide/src/autoschedulers/adams2019/LoopNest.cpp' l='2088' c='_ZNK6Halide8Internal13Autoscheduler8LoopNest17collect_producersERK14PerfectHashMapINS1_11FunctionDAG4Node5StageENS2_5SitesELi4E22PerfectHashMapAsserterE'/>
<size>72</size>
