<use f='halide/build/include/Halide.h' l='25821' u='m' c='_ZNK6Halide16GeneratorContext10get_targetEv'/>
<dec f='halide/build/include/Halide.h' l='25862' type='GeneratorParam&lt;Halide::Target&gt;'/>
<offset>64</offset>
<use f='halide/src/Generator.h' l='2887' u='m' c='_ZNK6Halide16GeneratorContext10get_targetEv'/>
<dec f='halide/src/Generator.h' l='2928' type='GeneratorParam&lt;Halide::Target&gt;'/>
<use f='halide/src/Generator.cpp' l='18' u='w' c='_ZN6Halide16GeneratorContextC1ERKNS_6TargetEbRKNS_13MachineParamsE'/>
<use f='halide/src/Generator.cpp' l='26' u='m' c='_ZN6Halide16GeneratorContext17init_from_contextERKS0_'/>
<offset>64</offset>
