<dec f='halide/halide-install/include/Halide.h' l='1785' type='const char *'/>
<offset>128</offset>
<doc f='halide/halide-install/include/Halide.h' l='1783'>/** The Target for which the filter was compiled. This is always
     * a canonical Target string (ie a product of Target::to_string). */</doc>
<dec f='halide/halide-install/include/HalideRuntime.h' l='1687' type='const char *'/>
<offset>128</offset>
<doc f='halide/halide-install/include/HalideRuntime.h' l='1685'>/** The Target for which the filter was compiled. This is always
     * a canonical Target string (ie a product of Target::to_string). */</doc>
<use f='halide/apps/blur/test.cpp' l='159' u='r' c='main'/>
<use f='halide/apps/blur/test.cpp' l='159' u='r' c='main'/>
<dec f='halide/build/include/HalideRuntime.h' l='1687' type='const char *'/>
<offset>128</offset>
<doc f='halide/build/include/HalideRuntime.h' l='1685'>/** The Target for which the filter was compiled. This is always
     * a canonical Target string (ie a product of Target::to_string). */</doc>
<dec f='halide/build/include/Halide.h' l='1785' type='const char *'/>
<offset>128</offset>
<doc f='halide/build/include/Halide.h' l='1783'>/** The Target for which the filter was compiled. This is always
     * a canonical Target string (ie a product of Target::to_string). */</doc>
<dec f='halide/src/runtime/HalideRuntime.h' l='1687' type='const char *'/>
<offset>128</offset>
<doc f='halide/src/runtime/HalideRuntime.h' l='1685'>/** The Target for which the filter was compiled. This is always
     * a canonical Target string (ie a product of Target::to_string). */</doc>
<use f='halide/test/generator/metadata_tester_aottest.cpp' l='365' u='r' c='_Z14check_metadataRK24halide_filter_metadata_tb'/>
<use f='halide/test/generator/metadata_tester_aottest.cpp' l='366' u='r' c='_Z14check_metadataRK24halide_filter_metadata_tb'/>
<use f='halide/test/generator/metadata_tester_aottest.cpp' l='367' u='r' c='_Z14check_metadataRK24halide_filter_metadata_tb'/>
<use f='halide/test/generator/metadata_tester_aottest.cpp' l='368' u='r' c='_Z14check_metadataRK24halide_filter_metadata_tb'/>
<use f='halide/test/generator/metadata_tester_aottest.cpp' l='369' u='r' c='_Z14check_metadataRK24halide_filter_metadata_tb'/>
<use f='halide/tools/RunGen.h' l='1313' u='r' c='_ZN6Halide6RunGen6RunGen17run_for_benchmarkEd'/>
<dec f='halide/build/tutorial/lesson_10_halide.h' l='1759' type='const char *'/>
<offset>128</offset>
<doc f='halide/build/tutorial/lesson_10_halide.h' l='1757'>/** The Target for which the filter was compiled. This is always
     * a canonical Target string (ie a product of Target::to_string). */</doc>
