<dec f='include/libavcodec/avcodec.h' l='1476' type='int64_t'/>
<offset>128</offset>
<doc f='include/libavcodec/avcodec.h' l='1471'>/**
     * Decompression timestamp in AVStream-&gt;time_base units; the time at which
     * the packet is decompressed.
     * Can be AV_NOPTS_VALUE if it is not stored in the file.
     */</doc>
