<dec f='x264/common/common.h' l='682' type='x264_ratecontrol_t *'/>
<offset>390656</offset>
<doc f='x264/common/common.h' l='681'>/* rate control encoding only */</doc>
<use f='x264/encoder/ratecontrol.c' l='542' u='r' c='x264_10_macroblock_tree_read'/>
<use f='x264/encoder/ratecontrol.c' l='586' u='r' c='x264_10_reference_build_list_optimal'/>
<use f='x264/encoder/ratecontrol.c' l='633' u='r' c='x264_10_ratecontrol_init_reconfigurable'/>
<use f='x264/encoder/ratecontrol.c' l='749' u='w' c='x264_10_ratecontrol_new'/>
<use f='x264/encoder/ratecontrol.c' l='749' u='r' c='x264_10_ratecontrol_new'/>
<use f='x264/encoder/ratecontrol.c' l='749' u='r' c='x264_10_ratecontrol_new'/>
<use f='x264/encoder/ratecontrol.c' l='750' u='r' c='x264_10_ratecontrol_new'/>
<use f='x264/encoder/ratecontrol.c' l='1203' u='w' c='x264_10_ratecontrol_new'/>
<use f='x264/encoder/ratecontrol.c' l='1264' u='r' c='parse_zones'/>
<use f='x264/encoder/ratecontrol.c' l='1334' u='r' c='get_zone'/>
<use f='x264/encoder/ratecontrol.c' l='1346' u='r' c='x264_10_ratecontrol_summary'/>
<use f='x264/encoder/ratecontrol.c' l='1359' u='r' c='x264_10_ratecontrol_delete'/>
<use f='x264/encoder/ratecontrol.c' l='1411' u='r' c='accum_p_qp_update'/>
<use f='x264/encoder/ratecontrol.c' l='1423' u='r' c='x264_10_ratecontrol_zone_init'/>
<use f='x264/encoder/ratecontrol.c' l='1433' u='r' c='x264_10_ratecontrol_start'/>
<use f='x264/encoder/ratecontrol.c' l='1543' u='r' c='predict_row_size'/>
<use f='x264/encoder/ratecontrol.c' l='1591' u='r' c='x264_10_ratecontrol_mb'/>
<use f='x264/encoder/ratecontrol.c' l='1642' u='r' c='x264_10_ratecontrol_mb'/>
<use f='x264/encoder/ratecontrol.c' l='1643' u='r' c='x264_10_ratecontrol_mb'/>
<use f='x264/encoder/ratecontrol.c' l='1746' u='r' c='x264_10_ratecontrol_qp'/>
<use f='x264/encoder/ratecontrol.c' l='1752' u='r' c='x264_10_ratecontrol_mb_qp'/>
<use f='x264/encoder/ratecontrol.c' l='1768' u='r' c='x264_10_ratecontrol_slice_type'/>
<use f='x264/encoder/ratecontrol.c' l='1789' u='r' c='x264_10_ratecontrol_slice_type'/>
<use f='x264/encoder/ratecontrol.c' l='1790' u='r' c='x264_10_ratecontrol_slice_type'/>
<use f='x264/encoder/ratecontrol.c' l='1809' u='r' c='x264_10_ratecontrol_set_weights'/>
<use f='x264/encoder/ratecontrol.c' l='1826' u='r' c='x264_10_ratecontrol_end'/>
<use f='x264/encoder/ratecontrol.c' l='2000' u='r' c='get_qscale'/>
<use f='x264/encoder/ratecontrol.c' l='2034' u='r' c='get_diff_limited_q'/>
<use f='x264/encoder/ratecontrol.c' l='2136' u='r' c='update_vbv'/>
<use f='x264/encoder/ratecontrol.c' l='2137' u='r' c='update_vbv'/>
<use f='x264/encoder/ratecontrol.c' l='2191' u='r' c='x264_10_hrd_fullness'/>
<use f='x264/encoder/ratecontrol.c' l='2214' u='r' c='update_vbv_plan'/>
<use f='x264/encoder/ratecontrol.c' l='2215' u='r' c='update_vbv_plan'/>
<use f='x264/encoder/ratecontrol.c' l='2218' u='r' c='update_vbv_plan'/>
<use f='x264/encoder/ratecontrol.c' l='2222' u='r' c='update_vbv_plan'/>
<use f='x264/encoder/ratecontrol.c' l='2225' u='r' c='update_vbv_plan'/>
<use f='x264/encoder/ratecontrol.c' l='2225' u='r' c='update_vbv_plan'/>
<use f='x264/encoder/ratecontrol.c' l='2228' u='r' c='update_vbv_plan'/>
<use f='x264/encoder/ratecontrol.c' l='2239' u='r' c='clip_qscale'/>
<use f='x264/encoder/ratecontrol.c' l='2397' u='r' c='rate_estimate_qscale'/>
<use f='x264/encoder/ratecontrol.c' l='2468' u='r' c='rate_estimate_qscale'/>
<use f='x264/encoder/ratecontrol.c' l='2472' u='r' c='rate_estimate_qscale'/>
<use f='x264/encoder/ratecontrol.c' l='2475' u='r' c='rate_estimate_qscale'/>
<use f='x264/encoder/ratecontrol.c' l='2475' u='r' c='rate_estimate_qscale'/>
<use f='x264/encoder/ratecontrol.c' l='2646' u='r' c='threads_normalize_predictors'/>
<use f='x264/encoder/ratecontrol.c' l='2647' u='r' c='threads_normalize_predictors'/>
<use f='x264/encoder/ratecontrol.c' l='2649' u='r' c='threads_normalize_predictors'/>
<use f='x264/encoder/ratecontrol.c' l='2655' u='r' c='x264_10_threads_distribute_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2665' u='r' c='x264_10_threads_distribute_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2672' u='r' c='x264_10_threads_distribute_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2673' u='r' c='x264_10_threads_distribute_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2673' u='r' c='x264_10_threads_distribute_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2680' u='r' c='x264_10_threads_distribute_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2683' u='r' c='x264_10_threads_distribute_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2696' u='r' c='x264_10_threads_distribute_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2702' u='r' c='x264_10_threads_distribute_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2702' u='r' c='x264_10_threads_distribute_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2708' u='r' c='x264_10_threads_merge_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2714' u='r' c='x264_10_threads_merge_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2735' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2763' u='r' c='x264_10_thread_sync_ratecontrol'/>
<use f='x264/encoder/ratecontrol.c' l='2787' u='r' c='find_underflow'/>
<use f='x264/encoder/ratecontrol.c' l='2815' u='r' c='fix_underflow'/>
<use f='x264/encoder/ratecontrol.c' l='2834' u='r' c='count_expected_bits'/>
<use f='x264/encoder/ratecontrol.c' l='2852' u='r' c='vbv_pass2'/>
<use f='x264/encoder/ratecontrol.c' l='2911' u='r' c='init_pass2'/>
