<use f='llvm/compiler-rt/lib/sanitizer_common/sanitizer_deadlock_detector.h' l='249' c='__sanitizer::DeadlockDetector::addEdges'/>
<def f='llvm/compiler-rt/lib/sanitizer_common/sanitizer_deadlock_detector.h' l='390' ll='396'/>
<use f='llvm/compiler-rt/lib/sanitizer_common/sanitizer_deadlock_detector.h' l='404'/>
<mbr r='__sanitizer::DeadlockDetector::Edge::from' t='__sanitizer::u16'/>
<mbr r='__sanitizer::DeadlockDetector::Edge::to' t='__sanitizer::u16'/>
<mbr r='__sanitizer::DeadlockDetector::Edge::stk_from' t='__sanitizer::u32'/>
<mbr r='__sanitizer::DeadlockDetector::Edge::stk_to' t='__sanitizer::u32'/>
<mbr r='__sanitizer::DeadlockDetector::Edge::unique_tid' t='int'/>
