<dec f='llvm/clang/lib/CodeGen/CodeGenModule.h' l='308' type='const clang::TargetInfo &amp;'/>
<use f='llvm/clang/lib/CodeGen/CodeGenModule.h' l='691' u='a' c='_ZNK5clang7CodeGen13CodeGenModule9getTargetEv'/>
<use f='llvm/clang/lib/CodeGen/CodeGenModule.h' l='692' u='m' c='_ZNK5clang7CodeGen13CodeGenModule9getTripleEv'/>
<offset>1600</offset>
<use f='llvm/clang/lib/CodeGen/CGObjC.cpp' l='3937' u='m' c='_ZN5clang7CodeGen13CodeGenModule24emitAtAvailableLinkGuardEv'/>
<use f='llvm/clang/lib/CodeGen/CGObjC.cpp' l='3942' u='m' c='_ZN5clang7CodeGen13CodeGenModule24emitAtAvailableLinkGuardEv'/>
<use f='llvm/clang/lib/CodeGen/CGObjC.cpp' l='3942' u='m' c='_ZN5clang7CodeGen13CodeGenModule24emitAtAvailableLinkGuardEv'/>
<use f='llvm/clang/lib/CodeGen/CodeGenModule.cpp' l='104' u='w' c='_ZN5clang7CodeGen13CodeGenModuleC1ERNS_10ASTContextERKNS_19HeaderSearchOptionsERKNS_19PreprocessorOptionsERKNS_14CodeGenOptionsERN4llvm6ModuleERNS_17D6477505'/>
<use f='llvm/clang/lib/CodeGen/CodeGenModule.cpp' l='595' u='m' c='_ZN5clang7CodeGen13CodeGenModule7ReleaseEv'/>
<use f='llvm/clang/lib/CodeGen/CodeGenModule.cpp' l='621' u='m' c='_ZN5clang7CodeGen13CodeGenModule7ReleaseEv'/>
<use f='llvm/clang/lib/CodeGen/CodeGenModule.cpp' l='628' u='m' c='_ZN5clang7CodeGen13CodeGenModule7ReleaseEv'/>
