<dec f='llvm/clang/lib/Sema/TreeTransform.h' l='6358' type='ArgLocContainer *'/>
<use f='llvm/clang/lib/Sema/TreeTransform.h' l='6383' u='w' c='_ZN5clang36TemplateArgumentLocContainerIteratorC1ERT_j'/>
<use f='llvm/clang/lib/Sema/TreeTransform.h' l='6397' u='c' c='_ZNK5clang36TemplateArgumentLocContainerIteratordeEv'/>
<use f='llvm/clang/lib/Sema/TreeTransform.h' l='6401' u='c' c='_ZNK5clang36TemplateArgumentLocContainerIteratorptEv'/>
