<dec f='llvm/clang/include/clang/Frontend/CompilerInstance.h' l='81' type='IntrusiveRefCntPtr&lt;clang::TargetInfo&gt;'/>
<use f='llvm/clang/include/clang/Frontend/CompilerInstance.h' l='366' u='r' c='_ZNK5clang16CompilerInstance9hasTargetEv'/>
<use f='llvm/clang/include/clang/Frontend/CompilerInstance.h' l='370' u='m' c='_ZNK5clang16CompilerInstance9getTargetEv'/>
<offset>320</offset>
<doc f='llvm/clang/include/clang/Frontend/CompilerInstance.h' l='80'>/// The target being compiled for.</doc>
<use f='llvm/clang/lib/Frontend/CompilerInstance.cpp' l='97' u='w' c='_ZN5clang16CompilerInstance9setTargetEPNS_10TargetInfoE'/>
