<def f='llvm/clang/include/clang/Sema/AnalysisBasedWarnings.h' l='34' ll='44'/>
<use f='llvm/clang/include/clang/Sema/AnalysisBasedWarnings.h' l='48'/>
<use f='llvm/clang/include/clang/Sema/AnalysisBasedWarnings.h' l='92' c='_ZN5clang4sema21AnalysisBasedWarnings13IssueWarningsENS1_6PolicyEPNS0_17FunctionScopeInfoEPKNS_4DeclENS_8QualTypeE'/>
<use f='llvm/clang/include/clang/Sema/AnalysisBasedWarnings.h' l='95' c='_ZN5clang4sema21AnalysisBasedWarnings16getDefaultPolicyEv'/>
<use f='llvm/clang/include/clang/Sema/Sema.h' l='1826' c='_ZN5clang4Sema20PopFunctionScopeInfoEPKNS_4sema21AnalysisBasedWarnings6PolicyEPKNS_4DeclENS_8QualTypeE'/>
<size>4</size>
<mbr r='clang::sema::AnalysisBasedWarnings::Policy::enableCheckFallThrough' o='0' t='unsigned int'/>
<mbr r='clang::sema::AnalysisBasedWarnings::Policy::enableCheckUnreachable' o='1' t='unsigned int'/>
<mbr r='clang::sema::AnalysisBasedWarnings::Policy::enableThreadSafetyAnalysis' o='2' t='unsigned int'/>
<mbr r='clang::sema::AnalysisBasedWarnings::Policy::enableConsumedAnalysis' o='3' t='unsigned int'/>
<fun r='_ZN5clang4sema21AnalysisBasedWarnings6PolicyC1Ev'/>
<fun r='_ZN5clang4sema21AnalysisBasedWarnings6Policy23disableCheckFallThroughEv'/>
<use f='llvm/clang/lib/Sema/AnalysisBasedWarnings.cpp' l='2155' c='_ZN5clang4sema21AnalysisBasedWarnings13IssueWarningsENS1_6PolicyEPNS0_17FunctionScopeInfoEPKNS_4DeclENS_8QualTypeE'/>
<size>4</size>
<fun r='_ZN5clang4sema21AnalysisBasedWarnings6PolicyC1Ev'/>
<use f='llvm/clang/lib/Sema/Sema.cpp' l='2002' c='_ZN5clang4Sema20PopFunctionScopeInfoEPKNS_4sema21AnalysisBasedWarnings6PolicyEPKNS_4DeclENS_8QualTypeE'/>
<size>4</size>
<use f='llvm/clang/lib/Sema/SemaDecl.cpp' l='14310' c='_ZN5clang4Sema23ActOnFinishFunctionBodyEPNS_4DeclEPNS_4StmtEb'/>
<use f='llvm/clang/lib/Sema/SemaDecl.cpp' l='14311' c='_ZN5clang4Sema23ActOnFinishFunctionBodyEPNS_4DeclEPNS_4StmtEb'/>
<size>4</size>
<use f='llvm/clang/lib/Sema/SemaExpr.cpp' l='15474' c='_ZN5clang4Sema18ActOnBlockStmtExprENS_14SourceLocationEPNS_4StmtEPNS_5ScopeE'/>
<size>4</size>
