<use f='llvm/clang/include/clang/Analysis/Analyses/ThreadSafetyTIL.h' l='968' u='w' c='_ZN5clang12threadSafety3til4CallC1EPNS1_5SExprEPKNS_8CallExprE'/>
<use f='llvm/clang/include/clang/Analysis/Analyses/ThreadSafetyTIL.h' l='969' u='w' c='_ZN5clang12threadSafety3til4CallC1ERKS2_PNS1_5SExprE'/>
<use f='llvm/clang/include/clang/Analysis/Analyses/ThreadSafetyTIL.h' l='973' u='r' c='_ZN5clang12threadSafety3til4Call6targetEv'/>
<use f='llvm/clang/include/clang/Analysis/Analyses/ThreadSafetyTIL.h' l='974' u='r' c='_ZNK5clang12threadSafety3til4Call6targetEv'/>
<use f='llvm/clang/include/clang/Analysis/Analyses/ThreadSafetyTIL.h' l='980' c='_ZN5clang12threadSafety3til4Call8traverseERT_NS3_5R_CtxE'/>
<dec f='llvm/clang/include/clang/Analysis/Analyses/ThreadSafetyTIL.h' l='990' type='clang::threadSafety::til::SExpr *'/>
<offset>128</offset>
