<dec f='llvm/clang/include/clang/AST/Comment.h' l='1052' type='1'/>
<use f='llvm/clang/lib/AST/Comment.cpp' l='265' u='r' c='_ZN5clang8comments8DeclInfo4fillEv'/>
<use f='llvm/clang/lib/AST/Comment.cpp' l='275' u='r' c='_ZN5clang8comments8DeclInfo4fillEv'/>
<use f='llvm/clang/lib/AST/Comment.cpp' l='345' u='r' c='_ZN5clang8comments8DeclInfo4fillEv'/>
<use f='llvm/clang/lib/Index/CommentToXML.cpp' l='836' c='_ZN12_GLOBAL__N_124CommentASTToXMLConverter16visitFullCommentEPKN5clang8comments11FullCommentE'/>
<use f='llvm/clang/lib/Index/CommentToXML.cpp' l='857' c='_ZN12_GLOBAL__N_124CommentASTToXMLConverter16visitFullCommentEPKN5clang8comments11FullCommentE'/>
