<dec f='llvm/clang/include/clang/Sema/Sema.h' l='2384' type='clang::TemplateName'/>
<use f='llvm/clang/include/clang/Sema/Sema.h' l='2425' u='w' c='_ZN5clang4Sema18NameClassification12TypeTemplateENS_12TemplateNameE'/>
<use f='llvm/clang/include/clang/Sema/Sema.h' l='2431' u='w' c='_ZN5clang4Sema18NameClassification11VarTemplateENS_12TemplateNameE'/>
<use f='llvm/clang/include/clang/Sema/Sema.h' l='2437' u='w' c='_ZN5clang4Sema18NameClassification16FunctionTemplateENS_12TemplateNameE'/>
<use f='llvm/clang/include/clang/Sema/Sema.h' l='2443' u='w' c='_ZN5clang4Sema18NameClassification7ConceptENS_12TemplateNameE'/>
<use f='llvm/clang/include/clang/Sema/Sema.h' l='2449' u='w' c='_ZN5clang4Sema18NameClassification18UndeclaredTemplateENS_12TemplateNameE'/>
<use f='llvm/clang/include/clang/Sema/Sema.h' l='2474' u='r' c='_ZNK5clang4Sema18NameClassification15getTemplateNameEv'/>
<offset>0</offset>
