<dec f='llvm/clang/include/clang/AST/TemplateName.h' l='205' type='0'/>
<doc f='llvm/clang/include/clang/AST/TemplateName.h' l='204'>/// A single template declaration.</doc>
<use f='llvm/clang/lib/AST/ASTContext.cpp' l='5818' c='_ZNK5clang10ASTContext18getNameForTemplateENS_12TemplateNameENS_14SourceLocationE'/>
<use f='llvm/clang/lib/AST/ASTContext.cpp' l='5871' c='_ZNK5clang10ASTContext24getCanonicalTemplateNameENS_12TemplateNameE'/>
<use f='llvm/clang/lib/AST/ASTImporter.cpp' l='8641' c='_ZN5clang11ASTImporter6ImportENS_12TemplateNameE'/>
<use f='llvm/clang/lib/AST/ASTStructuralEquivalence.cpp' l='516' c='_ZL24IsStructurallyEquivalentRN5clang28StructuralEquivalenceContextERKNS_12TemplateNameES4_'/>
<use f='llvm/clang/lib/AST/ItaniumMangle.cpp' l='2021' c='_ZN12_GLOBAL__N_114CXXNameMangler10mangleTypeEN5clang12TemplateNameE'/>
<use f='llvm/clang/lib/AST/ItaniumMangle.cpp' l='2162' c='_ZN12_GLOBAL__N_114CXXNameMangler30mangleUnresolvedTypeOrSimpleIdEN5clang8QualTypeEN4llvm9StringRefE'/>
<use f='llvm/clang/lib/AST/ODRHash.cpp' l='143' c='_ZN5clang7ODRHash15AddTemplateNameENS_12TemplateNameE'/>
<use f='llvm/clang/lib/AST/TemplateName.cpp' l='84' u='r' c='_ZNK5clang12TemplateName7getKindEv'/>
<use f='llvm/clang/lib/Sema/SemaDeclCXX.cpp' l='10775' u='r' c='_ZN5clang4Sema29CheckDeductionGuideDeclaratorERNS_10DeclaratorERNS_8QualTypeERNS_12StorageClassE'/>
<use f='llvm/clang/lib/Sema/SemaOverload.cpp' l='10937' u='r' c='_ZL20DiagnoseBadDeductionRN5clang4SemaEPNS_9NamedDeclEPNS_4DeclERNS_20DeductionFailureInfoEjb'/>
<use f='llvm/clang/lib/Sema/SemaOverload.cpp' l='10938' u='r' c='_ZL20DiagnoseBadDeductionRN5clang4SemaEPNS_9NamedDeclEPNS_4DeclERNS_20DeductionFailureInfoEjb'/>
<use f='llvm/build/tools/clang/include/clang/AST/AbstractBasicReader.inc' l='969' c='_ZN5clang13serialization15BasicReaderBase16readTemplateNameEv'/>
<use f='llvm/build/tools/clang/include/clang/AST/AbstractBasicWriter.inc' l='1163' c='_ZN5clang13serialization15BasicWriterBase17writeTemplateNameENS_12TemplateNameE'/>
<use f='llvm/clang/tools/libclang/CIndex.cpp' l='1443' c='_ZN5clang8cxcursor13CursorVisitor17VisitTemplateNameENS_12TemplateNameENS_14SourceLocationE'/>
