<dec f='llvm/clang/include/clang/Testing/TestClangConfig.h' l='28' type='std::string'/>
<use f='llvm/clang/include/clang/Testing/TestClangConfig.h' l='62' u='r' c='_ZNK5clang15TestClangConfig25hasDelayedTemplateParsingEv'/>
<use f='llvm/clang/include/clang/Testing/TestClangConfig.h' l='68' u='r' c='_ZNK5clang15TestClangConfig18getCommandLineArgsB5cxx11Ev'/>
<use f='llvm/clang/include/clang/Testing/TestClangConfig.h' l='75' u='r' c='_ZNK5clang15TestClangConfig8toStringB5cxx11Ev'/>
<offset>64</offset>
<doc f='llvm/clang/include/clang/Testing/TestClangConfig.h' l='27'>/// The argument of the `-target` command line flag.</doc>
<use f='llvm/clang/unittests/ASTMatchers/ASTMatchersNodeTest.cpp' l='2263' u='w' c='_ZN5clang12ast_matchersL19allTestClangConfigsEv'/>
<use f='llvm/clang/unittests/ASTMatchers/ASTMatchersNodeTest.cpp' l='2268' u='w' c='_ZN5clang12ast_matchersL19allTestClangConfigsEv'/>
<use f='llvm/clang/unittests/Tooling/Syntax/TreeTestBase.cpp' l='54' u='w' c='_ZN5clang6syntax19allTestClangConfigsEv'/>
<use f='llvm/clang/unittests/Tooling/Syntax/TreeTestBase.cpp' l='59' u='w' c='_ZN5clang6syntax19allTestClangConfigsEv'/>
