<dec f='llvm/clang/include/clang/StaticAnalyzer/Core/AnalyzerOptions.h' l='207' type='clang::AnalyzerOptions::ConfigTable'/>
<offset>448</offset>
<doc f='llvm/clang/include/clang/StaticAnalyzer/Core/AnalyzerOptions.h' l='205'>/// A key-value table of use-specified configuration values.
  // TODO: This shouldn&apos;t be public.</doc>
<use f='llvm/clang/lib/Frontend/CompilerInvocation.cpp' l='708' u='m' c='_ZL17ParseAnalyzerArgsRN5clang15AnalyzerOptionsERN4llvm3opt7ArgListERNS_17DiagnosticsEngineE'/>
<use f='llvm/clang/lib/StaticAnalyzer/Checkers/DebugCheckers.cpp' l='271' u='r' c='_ZNK12_GLOBAL__N_112ConfigDumper25checkEndOfTranslationUnitEPKN5clang19TranslationUnitDeclERNS1_4ento15AnalysisManagerERNS5_11BugReporterE'/>
<use f='llvm/clang/lib/StaticAnalyzer/Core/AnalyzerOptions.cpp' l='124' u='m' c='_ZNK5clang15AnalyzerOptions22getCheckerStringOptionEN4llvm9StringRefES2_b'/>
<use f='llvm/clang/lib/StaticAnalyzer/Core/AnalyzerOptions.cpp' l='127' u='m' c='_ZNK5clang15AnalyzerOptions22getCheckerStringOptionEN4llvm9StringRefES2_b'/>
<use f='llvm/clang/lib/StaticAnalyzer/Frontend/AnalysisConsumer.cpp' l='731' u='m' c='_ZN5clang4ento22CreateAnalysisConsumerERNS_16CompilerInstanceE'/>
<use f='llvm/clang/lib/StaticAnalyzer/Frontend/CheckerRegistry.cpp' l='349' u='m' c='_ZL17insertAndValidateN4llvm9StringRefERKN5clang4ento13CmdLineOptionERNS1_15AnalyzerOptionsERNS1_17DiagnosticsEngineE'/>
<use f='llvm/clang/lib/StaticAnalyzer/Frontend/CheckerRegistry.cpp' l='493' c='_ZNK5clang4ento15CheckerRegistry22validateCheckerOptionsEv'/>
<use f='llvm/clang/unittests/StaticAnalyzer/AnalyzerOptionsTest.cpp' l='35' u='m' c='_ZN5clang4ento53StaticAnalyzerOptions_SearchInParentPackageTests_Test8TestBodyEv'/>
<use f='llvm/clang/unittests/StaticAnalyzer/AnalyzerOptionsTest.cpp' l='36' u='m' c='_ZN5clang4ento53StaticAnalyzerOptions_SearchInParentPackageTests_Test8TestBodyEv'/>
<use f='llvm/clang/unittests/StaticAnalyzer/AnalyzerOptionsTest.cpp' l='37' u='m' c='_ZN5clang4ento53StaticAnalyzerOptions_SearchInParentPackageTests_Test8TestBodyEv'/>
<use f='llvm/clang/unittests/StaticAnalyzer/AnalyzerOptionsTest.cpp' l='38' u='m' c='_ZN5clang4ento53StaticAnalyzerOptions_SearchInParentPackageTests_Test8TestBodyEv'/>
<use f='llvm/clang/unittests/StaticAnalyzer/AnalyzerOptionsTest.cpp' l='76' u='m' c='_ZN5clang4ento40StaticAnalyzerOptions_StringOptions_Test8TestBodyEv'/>
<use f='llvm/clang/unittests/StaticAnalyzer/AnalyzerOptionsTest.cpp' l='91' u='m' c='_ZN5clang4ento44StaticAnalyzerOptions_SubCheckerOptions_Test8TestBodyEv'/>
