<dec f='llvm/clang/include/clang/AST/Type.h' l='5043' type='clang::TemplateName'/>
<use f='llvm/clang/include/clang/AST/Type.h' l='5053' u='w' c='_ZN5clang33DeducedTemplateSpecializationTypeC1ENS_12TemplateNameENS_8QualTypeEb'/>
<use f='llvm/clang/include/clang/AST/Type.h' l='5057' u='r' c='_ZNK5clang33DeducedTemplateSpecializationType15getTemplateNameEv'/>
<offset>256</offset>
<doc f='llvm/clang/include/clang/AST/Type.h' l='5042'>/// The name of the template whose arguments will be deduced.</doc>
