<dec f='llvm/clang/include/clang/AST/TemplateBase.h' l='87' type='5'/>
<use f='llvm/clang/include/clang/AST/TemplateBase.h' l='190' u='r' c='_ZN5clang16TemplateArgumentC1ENS_12TemplateNameE'/>
<use f='llvm/clang/include/clang/AST/TemplateBase.h' l='496' u='r' c='_ZNK5clang19TemplateArgumentLoc11getLocationEv'/>
<use f='llvm/clang/include/clang/AST/TemplateBase.h' l='540' u='r' c='_ZNK5clang19TemplateArgumentLoc23getTemplateQualifierLocEv'/>
<use f='llvm/clang/include/clang/AST/TemplateBase.h' l='547' u='r' c='_ZNK5clang19TemplateArgumentLoc18getTemplateNameLocEv'/>
<doc f='llvm/clang/include/clang/AST/TemplateBase.h' l='85'>/// The template argument is a template name that was provided for a
    /// template template parameter.</doc>
<use f='llvm/clang/include/clang/AST/RecursiveASTVisitor.h' l='779' c='_ZN5clang19RecursiveASTVisitor24TraverseTemplateArgumentERKNS_16TemplateArgumentE'/>
<use f='llvm/clang/include/clang/AST/RecursiveASTVisitor.h' l='817' c='_ZN5clang19RecursiveASTVisitor27TraverseTemplateArgumentLocERKNS_19TemplateArgumentLocE'/>
<use f='llvm/clang/lib/AST/ASTContext.cpp' l='5934' c='_ZNK5clang10ASTContext28getCanonicalTemplateArgumentERKNS_16TemplateArgumentE'/>
<use f='llvm/clang/include/clang/AST/TemplateArgumentVisitor.h' l='40' c='_ZN5clang23templateargumentvisitor4Base5VisitENT_INS_16TemplateArgumentEE4typeEDpT2_'/>
<use f='llvm/clang/lib/AST/ASTImporter.cpp' l='812' c='_ZN5clang15ASTNodeImporter6importERKT_'/>
<use f='llvm/clang/lib/AST/ASTStructuralEquivalence.cpp' l='555' c='_ZL24IsStructurallyEquivalentRN5clang28StructuralEquivalenceContextERKNS_16TemplateArgumentES4_'/>
<use f='llvm/clang/lib/AST/Decl.cpp' l='345' c='_ZN5clang15LinkageComputer28getLVForTemplateArgumentListEN4llvm8ArrayRefINS_16TemplateArgumentEEENS_17LVComputationKindE'/>
<use f='llvm/clang/lib/AST/ItaniumMangle.cpp' l='5101' c='_ZN12_GLOBAL__N_114CXXNameMangler17mangleTemplateArgEN5clang16TemplateArgumentEb'/>
<use f='llvm/clang/lib/AST/MicrosoftMangle.cpp' l='1602' c='_ZN12_GLOBAL__N_123MicrosoftCXXNameMangler17mangleTemplateArgEPKN5clang12TemplateDeclERKNS1_16TemplateArgumentEPKNS1_9NamedDeclE'/>
<use f='llvm/clang/lib/AST/ODRHash.cpp' l='173' c='_ZN5clang7ODRHash19AddTemplateArgumentENS_16TemplateArgumentE'/>
<use f='llvm/clang/lib/AST/QualTypeNames.cpp' l='98' u='r' c='_ZN5clang8TypeNameL33getFullyQualifiedTemplateArgumentERKNS_10ASTContextERNS_16TemplateArgumentEb'/>
<use f='llvm/clang/lib/AST/StmtProfile.cpp' l='2191' c='_ZN12_GLOBAL__N_112StmtProfiler21VisitTemplateArgumentERKN5clang16TemplateArgumentE'/>
<use f='llvm/clang/lib/AST/TemplateBase.cpp' l='127' c='_ZNK5clang16TemplateArgument13getDependenceEv'/>
<use f='llvm/clang/lib/AST/TemplateBase.cpp' l='177' c='_ZNK5clang16TemplateArgument15isPackExpansionEv'/>
<use f='llvm/clang/lib/AST/TemplateBase.cpp' l='210' c='_ZNK5clang16TemplateArgument30getNonTypeTemplateArgumentTypeEv'/>
<use f='llvm/clang/lib/AST/TemplateBase.cpp' l='251' c='_ZNK5clang16TemplateArgument7ProfileERN4llvm16FoldingSetNodeIDERKNS_10ASTContextE'/>
<use f='llvm/clang/lib/AST/TemplateBase.cpp' l='295' c='_ZNK5clang16TemplateArgument18structurallyEqualsERKS0_'/>
<use f='llvm/clang/lib/AST/TemplateBase.cpp' l='335' c='_ZNK5clang16TemplateArgument23getPackExpansionPatternEv'/>
<use f='llvm/clang/lib/AST/TemplateBase.cpp' l='376' c='_ZNK5clang16TemplateArgument5printERKNS_14PrintingPolicyERN4llvm11raw_ostreamE'/>
<use f='llvm/clang/lib/AST/TemplateBase.cpp' l='439' c='_ZNK5clang19TemplateArgumentLoc14getSourceRangeEv'/>
<use f='llvm/clang/lib/AST/TemplateBase.cpp' l='482' c='_ZL15DiagTemplateArgRKT_RKN5clang16TemplateArgumentE'/>
<use f='llvm/clang/lib/AST/TypeLoc.cpp' l='578' c='_ZN5clang29TemplateSpecializationTypeLoc17initializeArgLocsERNS_10ASTContextEjPKNS_16TemplateArgumentEPNS_23TemplateArgumentLocInfoENS_14SourceLocationE'/>
<use f='llvm/clang/lib/AST/TypeLoc.cpp' l='589' u='r' c='_ZN5clang29TemplateSpecializationTypeLoc17initializeArgLocsERNS_10ASTContextEjPKNS_16TemplateArgumentEPNS_23TemplateArgumentLocInfoENS_14SourceLocationE'/>
<use f='llvm/clang/lib/AST/TypePrinter.cpp' l='1953' u='r' c='_ZL29isSubstitutedTemplateArgumentRN5clang10ASTContextENS_16TemplateArgumentES2_N4llvm8ArrayRefIS2_EEj'/>
<use f='llvm/clang/include/clang/ASTMatchers/ASTMatchers.h' l='1113' u='r' c='_ZNK5clang12ast_matchers8internal32matcher_refersToTemplate0Matcher7matchesERKNS_16TemplateArgumentEPNS1_14ASTMatchFinderEPNS1_21BoundNodesTreeBuilderE'/>
<use f='llvm/clang/lib/CodeGen/CGDebugInfo.cpp' l='1952' c='_ZN5clang7CodeGen11CGDebugInfo21CollectTemplateParamsEPKNS_21TemplateParameterListEN4llvm8ArrayRefINS_16TemplateArgumentEEEPNS5_6DIFileE'/>
<use f='llvm/clang/lib/Index/IndexDecl.cpp' l='57' c='_ZN12_GLOBAL__N_119IndexingDeclVisitor25handleTemplateArgumentLocERKN5clang19TemplateArgumentLocEPKNS1_9NamedDeclEPKNS1_11DeclContextE'/>
<use f='llvm/clang/lib/Index/USRGeneration.cpp' l='963' c='_ZN12_GLOBAL__N_112USRGenerator21VisitTemplateArgumentERKN5clang16TemplateArgumentE'/>
<use f='llvm/clang/lib/Sema/TreeTransform.h' l='3549' c='_ZN5clang13TreeTransform20RebuildPackExpansionENS_19TemplateArgumentLocENS_14SourceLocationEN4llvm8OptionalIjEE'/>
<use f='llvm/clang/lib/Sema/TreeTransform.h' l='4278' c='_ZN5clang13TreeTransform25TransformTemplateArgumentERKNS_19TemplateArgumentLocERS1_b'/>
<use f='llvm/clang/lib/Sema/SemaLookup.cpp' l='2639' c='_ZL33addAssociatedClassesAndNamespacesRN12_GLOBAL__N_116AssociatedLookupERKN5clang16TemplateArgumentE'/>
<use f='llvm/clang/lib/Sema/SemaOverload.cpp' l='10933' u='r' c='_ZL20DiagnoseBadDeductionRN5clang4SemaEPNS_9NamedDeclEPNS_4DeclERNS_20DeductionFailureInfoEjb'/>
<use f='llvm/clang/lib/Sema/SemaOverload.cpp' l='10934' u='r' c='_ZL20DiagnoseBadDeductionRN5clang4SemaEPNS_9NamedDeclEPNS_4DeclERNS_20DeductionFailureInfoEjb'/>
<use f='llvm/clang/lib/Sema/SemaTemplate.cpp' l='4110' c='_ZL35isTemplateArgumentTemplateParameterRKN5clang16TemplateArgumentEjj'/>
<use f='llvm/clang/lib/Sema/SemaTemplate.cpp' l='4940' c='_ZN5clang4Sema25CheckTemplateTypeArgumentEPNS_20TemplateTypeParmDeclERNS_19TemplateArgumentLocERN4llvm15SmallVectorImplINS_16TemplateArgumentEEE'/>
<use f='llvm/clang/lib/Sema/SemaTemplate.cpp' l='5428' c='_ZN5clang4Sema21CheckTemplateArgumentEPNS_9NamedDeclERNS_19TemplateArgumentLocES2_NS_14SourceLocationES5_jRN4llvm15SmallVectorImplINS_16TemplateArgume15467567'/>
<use f='llvm/clang/lib/Sema/SemaTemplate.cpp' l='5551' c='_ZN5clang4Sema21CheckTemplateArgumentEPNS_9NamedDeclERNS_19TemplateArgumentLocES2_NS_14SourceLocationES5_jRN4llvm15SmallVectorImplINS_16TemplateArgume15467567'/>
<use f='llvm/clang/lib/Sema/SemaTemplateDeduction.cpp' l='279' c='_ZL29checkDeducedTemplateArgumentsRN5clang10ASTContextERKNS_23DeducedTemplateArgumentES4_'/>
<use f='llvm/clang/lib/Sema/SemaTemplateDeduction.cpp' l='280' u='r' c='_ZL29checkDeducedTemplateArgumentsRN5clang10ASTContextERKNS_23DeducedTemplateArgumentES4_'/>
<use f='llvm/clang/lib/Sema/SemaTemplateDeduction.cpp' l='2333' c='_ZL23DeduceTemplateArgumentsRN5clang4SemaEPNS_21TemplateParameterListERKNS_16TemplateArgumentES4_RNS_4sema21TemplateDeductionInfoERN4llvm15SmallVector5874903'/>
<use f='llvm/clang/lib/Sema/SemaTemplateDeduction.cpp' l='2334' u='r' c='_ZL23DeduceTemplateArgumentsRN5clang4SemaEPNS_21TemplateParameterListERKNS_16TemplateArgumentES4_RNS_4sema21TemplateDeductionInfoERN4llvm15SmallVector5874903'/>
<use f='llvm/clang/lib/Sema/SemaTemplateDeduction.cpp' l='2585' c='_ZL17isSameTemplateArgRN5clang10ASTContextENS_16TemplateArgumentERKS2_b'/>
<use f='llvm/clang/lib/Sema/SemaTemplateDeduction.cpp' l='2666' c='_ZN5clang4Sema29getTrivialTemplateArgumentLocERKNS_16TemplateArgumentENS_8QualTypeENS_14SourceLocationE'/>
<use f='llvm/clang/lib/Sema/SemaTemplateDeduction.cpp' l='2676' u='r' c='_ZN5clang4Sema29getTrivialTemplateArgumentLocERKNS_16TemplateArgumentENS_8QualTypeENS_14SourceLocationE'/>
<use f='llvm/clang/lib/Sema/SemaTemplateDeduction.cpp' l='6116' c='_ZL26MarkUsedTemplateParametersRN5clang10ASTContextERKNS_16TemplateArgumentEbjRN4llvm14SmallBitVectorE'/>
<use f='llvm/clang/lib/Sema/SemaTemplateVariadic.cpp' l='1104' c='_ZNK5clang4Sema39getTemplateArgumentPackExpansionPatternENS_19TemplateArgumentLocERNS_14SourceLocationERN4llvm8OptionalIjEE'/>
<use f='llvm/clang/lib/Sema/SemaTemplateVariadic.cpp' l='1144' c='_ZN5clang4Sema24getFullyPackExpandedSizeENS_16TemplateArgumentE'/>
<use f='llvm/build/tools/clang/include/clang/AST/AbstractBasicReader.inc' l='919' c='_ZN5clang13serialization15BasicReaderBase20readTemplateArgumentEv'/>
<use f='llvm/clang/lib/Serialization/ASTReader.cpp' l='7117' c='_ZN5clang15ASTRecordReader27readTemplateArgumentLocInfoENS_16TemplateArgument7ArgKindE'/>
<use f='llvm/build/tools/clang/include/clang/AST/AbstractBasicWriter.inc' l='1119' c='_ZN5clang13serialization15BasicWriterBase21writeTemplateArgumentENS_16TemplateArgumentE'/>
<use f='llvm/clang/lib/Serialization/ASTWriter.cpp' l='5209' c='_ZN5clang15ASTRecordWriter26AddTemplateArgumentLocInfoENS_16TemplateArgument7ArgKindERKNS_23TemplateArgumentLocInfoE'/>
<use f='llvm/clang/tools/libclang/CIndex.cpp' l='1506' c='_ZN5clang8cxcursor13CursorVisitor24VisitTemplateArgumentLocERKNS_19TemplateArgumentLocE'/>
<use f='llvm/clang/tools/libclang/CXCursor.cpp' l='1378' c='clang_Cursor_getTemplateArgumentKind'/>
<use f='llvm/lldb/source/Plugins/TypeSystem/Clang/TypeSystemClang.cpp' l='6994' c='_ZN12lldb_private15TypeSystemClang23GetTemplateArgumentKindEPvm'/>
