<dec f='llvm/clang/include/clang/AST/Decl.h' l='3251' type='clang::TypeAliasTemplateDecl *'/>
<use f='llvm/clang/include/clang/AST/Decl.h' l='3256' u='w' c='_ZN5clang13TypeAliasDeclC1ERNS_10ASTContextEPNS_11DeclContextENS_14SourceLocationES5_PNS_14IdentifierInfoEPNS_14TypeSourceInfoE'/>
<use f='llvm/clang/include/clang/AST/Decl.h' l='3266' u='r' c='_ZNK5clang13TypeAliasDecl25getDescribedAliasTemplateEv'/>
<use f='llvm/clang/include/clang/AST/Decl.h' l='3267' u='w' c='_ZN5clang13TypeAliasDecl25setDescribedAliasTemplateEPNS_21TypeAliasTemplateDeclE'/>
<offset>704</offset>
<doc f='llvm/clang/include/clang/AST/Decl.h' l='3250'>/// The template for which this is the pattern, if any.</doc>
