<use f='llvm/llvm/unittests/Support/VirtualFileSystemTest.cpp' l='896' u='r' c='_ZNK21IsHardLinkToMatcherP2cvN7testing7MatcherITL0__EEEv'/>
<use f='llvm/llvm/unittests/Support/VirtualFileSystemTest.cpp' l='896' u='w' c='_ZN21IsHardLinkToMatcherP2C1ET_T0_'/>
<dec f='llvm/llvm/unittests/Support/VirtualFileSystemTest.cpp' l='896' type='Target_type'/>
