<use f='llvm/llvm/unittests/Support/VirtualFileSystemTest.cpp' l='896' u='w' c='_ZN21IsHardLinkToMatcherP210gmock_ImplC1ET_T0_'/>
<dec f='llvm/llvm/unittests/Support/VirtualFileSystemTest.cpp' l='896' type='Target_type'/>
<use f='llvm/llvm/unittests/Support/VirtualFileSystemTest.cpp' l='896' c='_ZNK21IsHardLinkToMatcherP210gmock_Impl17FormatDescriptionB5cxx11Eb'/>
<use f='llvm/llvm/unittests/Support/VirtualFileSystemTest.cpp' l='898' u='r' c='_ZNK21IsHardLinkToMatcherP210gmock_Impl15MatchAndExplainETL0__PN7testing19MatchResultListenerE'/>
