<dec f='llvm/polly/lib/External/isl/isl_map_private.h' l='74' type='struct isl_vec *'/>
<offset>640</offset>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='284' u='r' c='outside_point'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='513' u='r' c='uset_affine_hull_bounded'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='513' u='r' c='uset_affine_hull_bounded'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='514' u='r' c='uset_affine_hull_bounded'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='520' u='r' c='uset_affine_hull_bounded'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='522' u='r' c='uset_affine_hull_bounded'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='523' u='w' c='uset_affine_hull_bounded'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='542' u='r' c='uset_affine_hull_bounded'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='543' u='w' c='uset_affine_hull_bounded'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='604' u='w' c='initial_hull'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='654' u='r' c='isl_tab_detect_equalities'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='655' u='w' c='isl_tab_detect_equalities'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='760' u='r' c='affine_hull_with_cone'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='760' u='r' c='affine_hull_with_cone'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='761' u='w' c='affine_hull_with_cone'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='761' u='r' c='affine_hull_with_cone'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='769' u='r' c='affine_hull_with_cone'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='777' u='r' c='affine_hull_with_cone'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='778' u='w' c='affine_hull_with_cone'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='878' u='r' c='equalities_in_underlying_set'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='885' u='r' c='equalities_in_underlying_set'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='886' u='w' c='equalities_in_underlying_set'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='938' u='r' c='isl_basic_map_detect_equalities'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='939' u='w' c='isl_basic_map_detect_equalities'/>
<use f='llvm/polly/lib/External/isl/isl_affine_hull.c' l='939' u='r' c='isl_basic_map_detect_equalities'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='1273' u='w' c='basic_map_init'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='1388' u='w' c='isl_basic_map_dup'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='1388' u='r' c='isl_basic_map_dup'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='1458' u='r' c='isl_basic_map_free'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='1953' u='w' c='isl_basic_map_extend'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='1953' u='r' c='isl_basic_map_extend'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='2140' u='r' c='isl_basic_map_set_to_empty'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='2141' u='w' c='isl_basic_map_set_to_empty'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='3668' u='r' c='isl_basic_map_intersect'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='3669' u='r' c='isl_basic_map_intersect'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='3670' u='r' c='isl_basic_map_intersect'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='3671' u='r' c='isl_basic_map_intersect'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='3672' u='r' c='isl_basic_map_intersect'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='3673' u='r' c='isl_basic_map_intersect'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='3674' u='r' c='isl_basic_map_intersect'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='3675' u='r' c='isl_basic_map_intersect'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='3687' u='r' c='isl_basic_map_intersect'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='3688' u='w' c='isl_basic_map_intersect'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='9273' u='r' c='isl_basic_map_is_empty'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='9274' u='w' c='isl_basic_map_is_empty'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='9282' u='r' c='isl_basic_map_is_empty'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='9283' u='w' c='isl_basic_map_is_empty'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='9314' u='r' c='isl_basic_map_plain_is_non_empty'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='9319' u='r' c='isl_basic_map_plain_is_non_empty'/>
<use f='llvm/polly/lib/External/isl/isl_map.c' l='9321' u='r' c='isl_basic_map_plain_is_non_empty'/>
<use f='llvm/polly/lib/External/isl/isl_sample.c' l='672' u='r' c='sample_bounded'/>
<use f='llvm/polly/lib/External/isl/isl_sample.c' l='673' u='w' c='sample_bounded'/>
<use f='llvm/polly/lib/External/isl/isl_sample.c' l='1168' u='r' c='basic_set_sample'/>
<use f='llvm/polly/lib/External/isl/isl_sample.c' l='1168' u='r' c='basic_set_sample'/>
<use f='llvm/polly/lib/External/isl/isl_sample.c' l='1169' u='r' c='basic_set_sample'/>
<use f='llvm/polly/lib/External/isl/isl_sample.c' l='1173' u='r' c='basic_set_sample'/>
<use f='llvm/polly/lib/External/isl/isl_sample.c' l='1178' u='r' c='basic_set_sample'/>
<use f='llvm/polly/lib/External/isl/isl_sample.c' l='1179' u='w' c='basic_set_sample'/>
<use f='llvm/polly/lib/External/isl/isl_sample.c' l='1233' u='w' c='isl_basic_set_from_vec'/>
<use f='llvm/polly/lib/External/isl/isl_sample.c' l='1255' u='r' c='isl_basic_map_sample'/>
<use f='llvm/polly/lib/External/isl/isl_sample.c' l='1256' u='w' c='isl_basic_map_sample'/>
<use f='llvm/polly/lib/External/isl/isl_tab.c' l='2648' u='r' c='isl_basic_map_update_from_tab'/>
<use f='llvm/polly/lib/External/isl/isl_tab.c' l='2649' u='w' c='isl_basic_map_update_from_tab'/>
