<dec f='llvm/lld/MachO/SyntheticSections.h' l='195' type='lld::macho::Location'/>
<use f='llvm/lld/MachO/SyntheticSections.h' l='197' u='w' c='_ZN3lld5macho12BindingEntryC1EPKNS0_11DylibSymbolElNS0_8LocationE'/>
<offset>128</offset>
<use f='llvm/lld/MachO/SyntheticSections.cpp' l='309' u='m' c='_ZN3lld5macho14BindingSection16finalizeContentsEv'/>
<use f='llvm/lld/MachO/SyntheticSections.cpp' l='309' u='m' c='_ZN3lld5macho14BindingSection16finalizeContentsEv'/>
<use f='llvm/lld/MachO/SyntheticSections.cpp' l='313' u='m' c='_ZN3lld5macho14BindingSection16finalizeContentsEv'/>
<use f='llvm/lld/MachO/SyntheticSections.cpp' l='314' u='m' c='_ZN3lld5macho14BindingSection16finalizeContentsEv'/>
<use f='llvm/lld/MachO/SyntheticSections.cpp' l='317' u='m' c='_ZN3lld5macho14BindingSection16finalizeContentsEv'/>
<use f='llvm/lld/MachO/SyntheticSections.cpp' l='318' u='m' c='_ZN3lld5macho14BindingSection16finalizeContentsEv'/>
