<use f='llvm/lld/COFF/Chunks.h' l='519' u='w' c='_ZN3lld4coff22RangeExtensionThunkARMC1EPNS0_7DefinedE'/>
<dec f='llvm/lld/COFF/Chunks.h' l='523' type='lld::coff::Defined *'/>
<offset>128</offset>
<use f='llvm/lld/COFF/Chunks.cpp' l='755' u='r' c='_ZNK3lld4coff22RangeExtensionThunkARM7writeToEPh'/>
