<use f='llvm/lld/COFF/PDB.h' l='38'/>
<use f='llvm/lld/COFF/PDB.h' l='39'/>
<use f='llvm/lld/include/lld/Common/Timer.h' l='25' c='_ZN3lld11ScopedTimerC1ERNS_5TimerE'/>
<use f='llvm/lld/include/lld/Common/Timer.h' l='33'/>
<def f='llvm/lld/include/lld/Common/Timer.h' l='36' ll='54'/>
<use f='llvm/lld/include/lld/Common/Timer.h' l='38' c='_ZN3lld5TimerC1EN4llvm9StringRefERS0_'/>
<use f='llvm/lld/include/lld/Common/Timer.h' l='40' c='_ZN3lld5Timer4rootEv'/>
<use f='llvm/lld/include/lld/Common/Timer.h' l='52'/>
<size>64</size>
<fun r='_ZN3lld5TimerC1EN4llvm9StringRefERS0_'/>
<fun r='_ZN3lld5Timer4rootEv'/>
<fun r='_ZN3lld5Timer10addToTotalENSt6chrono8durationIlSt5ratioILl1ELl1000000000EEEE'/>
<fun r='_ZN3lld5Timer5printEv'/>
<fun r='_ZNK3lld5Timer6millisEv'/>
<fun r='_ZN3lld5TimerC1EN4llvm9StringRefE'/>
<fun r='_ZNK3lld5Timer5printEidb'/>
<mbr r='lld::Timer::total' o='0' t='std::atomic&lt;std::chrono::nanoseconds::rep&gt;'/>
<mbr r='lld::Timer::children' o='64' t='std::vector&lt;Timer *&gt;'/>
<mbr r='lld::Timer::name' o='256' t='std::string'/>
<use f='llvm/lld/COFF/Driver.cpp' l='62'/>
<size>64</size>
<use f='llvm/lld/COFF/ICF.cpp' l='39'/>
<size>64</size>
<use f='llvm/lld/COFF/MapFile.cpp' l='45'/>
<use f='llvm/lld/COFF/MapFile.cpp' l='46'/>
<use f='llvm/lld/COFF/MapFile.cpp' l='47'/>
<use f='llvm/lld/COFF/MapFile.cpp' l='48'/>
<size>64</size>
<use f='llvm/lld/COFF/MarkLive.cpp' l='18'/>
<size>64</size>
<use f='llvm/lld/COFF/PDB.cpp' l='69'/>
<use f='llvm/lld/COFF/PDB.cpp' l='70'/>
<use f='llvm/lld/COFF/PDB.cpp' l='71'/>
<use f='llvm/lld/COFF/PDB.cpp' l='72'/>
<use f='llvm/lld/COFF/PDB.cpp' l='73'/>
<use f='llvm/lld/COFF/PDB.cpp' l='74'/>
<use f='llvm/lld/COFF/PDB.cpp' l='75'/>
<use f='llvm/lld/COFF/PDB.cpp' l='76'/>
<use f='llvm/lld/COFF/PDB.cpp' l='77'/>
<size>64</size>
<use f='llvm/lld/COFF/SymbolTable.cpp' l='31'/>
<size>64</size>
<use f='llvm/lld/COFF/Writer.cpp' l='310'/>
<use f='llvm/lld/COFF/Writer.cpp' l='311'/>
<size>64</size>
<use f='llvm/lld/Common/Timer.cpp' l='16' c='_ZN3lld11ScopedTimerC1ERNS_5TimerE'/>
<use f='llvm/lld/Common/Timer.cpp' l='30' c='_ZN3lld5TimerC1EN4llvm9StringRefERS0_'/>
<use f='llvm/lld/Common/Timer.cpp' l='34' c='_ZN3lld5Timer4rootEv'/>
<use f='llvm/lld/Common/Timer.cpp' l='35' c='_ZN3lld5Timer4rootEv'/>
<size>64</size>
<fun r='_ZN3lld5TimerC1EN4llvm9StringRefE'/>
<fun r='_ZN3lld5TimerC1EN4llvm9StringRefERS0_'/>
<fun r='_ZN3lld5Timer4rootEv'/>
<fun r='_ZN3lld5Timer5printEv'/>
<fun r='_ZNK3lld5Timer6millisEv'/>
<fun r='_ZNK3lld5Timer5printEidb'/>
