<dec f='llvm/lld/ELF/Target.h' l='226' type='const lld::elf::TargetInfo *'/>
<use f='llvm/lld/ELF/AArch64ErrataFix.cpp' l='421' u='r' c='_ZN3lld3elf18Patch843419Section7writeToEPh'/>
<use f='llvm/lld/ELF/AArch64ErrataFix.cpp' l='487' u='r' c='_ZN3lld3elf23AArch64Err843419Patcher13insertPatchesERNS0_23InputSectionDescriptionERSt6vectorIPNS0_18Patch843419SectionESaIS6_EE'/>
<use f='llvm/lld/ELF/AArch64ErrataFix.cpp' l='504' u='r' c='_ZN3lld3elf23AArch64Err843419Patcher13insertPatchesERNS0_23InputSectionDescriptionERSt6vectorIPNS0_18Patch843419SectionESaIS6_EE'/>
<use f='llvm/lld/ELF/ARMErrataFix.cpp' l='162' u='r' c='_ZL16getThumbDestAddrmj'/>
<use f='llvm/lld/ELF/ARMErrataFix.cpp' l='164' u='r' c='_ZL16getThumbDestAddrmj'/>
<use f='llvm/lld/ELF/ARMErrataFix.cpp' l='166' u='r' c='_ZL16getThumbDestAddrmj'/>
<use f='llvm/lld/ELF/ARMErrataFix.cpp' l='189' u='r' c='_ZN3lld3elf18Patch657417Section7writeToEPh'/>
<use f='llvm/lld/ELF/ARMErrataFix.cpp' l='225' u='r' c='_ZL12patchInRangePKN3lld3elf12InputSectionEmj'/>
<use f='llvm/lld/ELF/Arch/PPC64.cpp' l='359' u='r' c='_ZN3lld3elf27tryRelaxPPC64TocIndirectionERKNS0_10RelocationEPh'/>
<use f='llvm/lld/ELF/Arch/RISCV.cpp' l='164' u='r' c='_ZNK12_GLOBAL__N_15RISCV14writePltHeaderEPh'/>
<use f='llvm/lld/ELF/Arch/RISCV.cpp' l='185' u='r' c='_ZNK12_GLOBAL__N_15RISCV9getDynRelEj'/>
<use f='llvm/lld/ELF/Driver.cpp' l='553' u='w' c='_ZN3lld3elf12LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/ELF/Driver.cpp' l='1489' u='r' c='_ZL14getMaxPageSizeRN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/ELF/Driver.cpp' l='1493' u='r' c='_ZL14getMaxPageSizeRN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/ELF/Driver.cpp' l='1504' u='r' c='_ZL17getCommonPageSizeRN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/ELF/Driver.cpp' l='1508' u='r' c='_ZL17getCommonPageSizeRN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/ELF/Driver.cpp' l='2274' u='w' c='_ZN3lld3elf12LinkerDriver4linkERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/ELF/Driver.cpp' l='2276' u='r' c='_ZN3lld3elf12LinkerDriver4linkERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='474' u='r' c='_ZN3lld3elf12InputSection15copyRelocationsEPhN4llvm8ArrayRefIT0_EE'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='477' u='r' c='_ZN3lld3elf12InputSection15copyRelocationsEPhN4llvm8ArrayRefIT0_EE'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='494' u='r' c='_ZN3lld3elf12InputSection15copyRelocationsEPhN4llvm8ArrayRefIT0_EE'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='891' u='r' c='_ZN3lld3elf12InputSection16relocateNonAllocEPhN4llvm8ArrayRefIT0_EE'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='894' u='r' c='_ZN3lld3elf12InputSection16relocateNonAllocEPhN4llvm8ArrayRefIT0_EE'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='899' u='r' c='_ZN3lld3elf12InputSection16relocateNonAllocEPhN4llvm8ArrayRefIT0_EE'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='924' u='r' c='_ZN3lld3elf12InputSection16relocateNonAllocEPhN4llvm8ArrayRefIT0_EE'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='931' u='r' c='_ZN3lld3elf12InputSection16relocateNonAllocEPhN4llvm8ArrayRefIT0_EE'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='966' u='r' c='_ZN3lld3elf12InputSection16relocateNonAllocEPhN4llvm8ArrayRefIT0_EE'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='970' u='r' c='_ZN3lld3elf12InputSection16relocateNonAllocEPhN4llvm8ArrayRefIT0_EE'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='987' u='r' c='_ZL30relocateNonAllocForRelocatablePN3lld3elf12InputSectionEPh'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='1033' u='r' c='_ZN3lld3elf16InputSectionBase13relocateAllocEPhS2_'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='1046' u='r' c='_ZN3lld3elf16InputSectionBase13relocateAllocEPhS2_'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='1057' u='r' c='_ZN3lld3elf16InputSectionBase13relocateAllocEPhS2_'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='1060' u='r' c='_ZN3lld3elf16InputSectionBase13relocateAllocEPhS2_'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='1064' u='r' c='_ZN3lld3elf16InputSectionBase13relocateAllocEPhS2_'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='1068' u='r' c='_ZN3lld3elf16InputSectionBase13relocateAllocEPhS2_'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='1075' u='r' c='_ZN3lld3elf16InputSectionBase13relocateAllocEPhS2_'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='1100' u='r' c='_ZN3lld3elf16InputSectionBase13relocateAllocEPhS2_'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='1103' u='r' c='_ZN3lld3elf16InputSectionBase13relocateAllocEPhS2_'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='1116' u='r' c='_ZN3lld3elf16InputSectionBase13relocateAllocEPhS2_'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='1212' u='r' c='_ZN3lld3elf16InputSectionBase33adjustSplitStackFunctionProloguesEPhS2_'/>
<use f='llvm/lld/ELF/InputSection.cpp' l='1222' u='r' c='_ZN3lld3elf16InputSectionBase33adjustSplitStackFunctionProloguesEPhS2_'/>
<use f='llvm/lld/ELF/LinkerScript.cpp' l='1207' u='r' c='_ZN3lld3elf12LinkerScript15assignAddressesEv'/>
<use f='llvm/lld/ELF/MarkLive.cpp' l='79' u='r' c='_ZL9getAddendRN3lld3elf16InputSectionBaseERKNT_3RelE'/>
<use f='llvm/lld/ELF/OutputSections.cpp' l='257' u='r' c='_ZL12nopInstrFillPhm'/>
<use f='llvm/lld/ELF/OutputSections.cpp' l='538' u='r' c='_ZN3lld3elf13OutputSection9getFillerEv'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='204' u='r' c='_ZL19handleTlsRelocationjRN3lld3elf6SymbolERNS0_16InputSectionBaseENT_4uintElNS0_7RelExprE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='237' u='r' c='_ZL19handleTlsRelocationjRN3lld3elf6SymbolERNS0_16InputSectionBaseENT_4uintElNS0_7RelExprE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='239' u='r' c='_ZL19handleTlsRelocationjRN3lld3elf6SymbolERNS0_16InputSectionBaseENT_4uintElNS0_7RelExprE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='246' u='r' c='_ZL19handleTlsRelocationjRN3lld3elf6SymbolERNS0_16InputSectionBaseENT_4uintElNS0_7RelExprE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='248' u='r' c='_ZL19handleTlsRelocationjRN3lld3elf6SymbolERNS0_16InputSectionBaseENT_4uintElNS0_7RelExprE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='257' u='r' c='_ZL19handleTlsRelocationjRN3lld3elf6SymbolERNS0_16InputSectionBaseENT_4uintElNS0_7RelExprE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='269' u='r' c='_ZL19handleTlsRelocationjRN3lld3elf6SymbolERNS0_16InputSectionBaseENT_4uintElNS0_7RelExprE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='284' u='r' c='_ZL19handleTlsRelocationjRN3lld3elf6SymbolERNS0_16InputSectionBaseENT_4uintElNS0_7RelExprE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='286' u='r' c='_ZL19handleTlsRelocationjRN3lld3elf6SymbolERNS0_16InputSectionBaseENT_4uintElNS0_7RelExprE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='292' u='r' c='_ZL19handleTlsRelocationjRN3lld3elf6SymbolERNS0_16InputSectionBaseENT_4uintElNS0_7RelExprE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='296' u='r' c='_ZL19handleTlsRelocationjRN3lld3elf6SymbolERNS0_16InputSectionBaseENT_4uintElNS0_7RelExprE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='306' u='r' c='_ZL19handleTlsRelocationjRN3lld3elf6SymbolERNS0_16InputSectionBaseENT_4uintElNS0_7RelExprE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='310' u='r' c='_ZL19handleTlsRelocationjRN3lld3elf6SymbolERNS0_16InputSectionBaseENT_4uintElNS0_7RelExprE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='315' u='r' c='_ZL19handleTlsRelocationjRN3lld3elf6SymbolERNS0_16InputSectionBaseENT_4uintElNS0_7RelExprE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='318' u='r' c='_ZL19handleTlsRelocationjRN3lld3elf6SymbolERNS0_16InputSectionBaseENT_4uintElNS0_7RelExprE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='422' u='r' c='_ZL24isStaticLinkTimeConstantN3lld3elf7RelExprEjRKNS0_6SymbolERNS0_16InputSectionBaseEm'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='442' u='r' c='_ZL24isStaticLinkTimeConstantN3lld3elf7RelExprEjRKNS0_6SymbolERNS0_16InputSectionBaseEm'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='621' u='r' c='_ZL16addCopyRelSymbolRN3lld3elf12SharedSymbolE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='653' u='r' c='_ZL17computeMipsAddendRKT0_PS0_RN3lld3elf16InputSectionBaseENS4_7RelExprEb'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='674' u='r' c='_ZL13computeAddendRKT0_PS0_RN3lld3elf16InputSectionBaseENS4_7RelExprEb'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1065' u='r' c='_ZL16addRelativeRelocPN3lld3elf16InputSectionBaseEmPNS0_6SymbolElNS0_7RelExprEj'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1094' u='r' c='_ZL11addGotEntryRN3lld3elf6SymbolE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1101' u='r' c='_ZL11addGotEntryRN3lld3elf6SymbolE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1105' u='r' c='_ZL11addGotEntryRN3lld3elf6SymbolE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1105' u='r' c='_ZL11addGotEntryRN3lld3elf6SymbolE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1106' u='r' c='_ZL11addGotEntryRN3lld3elf6SymbolE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1161' u='r' c='_ZL15processRelocAuxRN3lld3elf16InputSectionBaseENS0_7RelExprEjmRNS0_6SymbolERKT0_l'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1162' u='r' c='_ZL15processRelocAuxRN3lld3elf16InputSectionBaseENS0_7RelExprEjmRNS0_6SymbolERKT0_l'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1166' u='r' c='_ZL15processRelocAuxRN3lld3elf16InputSectionBaseENS0_7RelExprEjmRNS0_6SymbolERKT0_l'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1167' u='r' c='_ZL15processRelocAuxRN3lld3elf16InputSectionBaseENS0_7RelExprEjmRNS0_6SymbolERKT0_l'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1248' u='r' c='_ZL15processRelocAuxRN3lld3elf16InputSectionBaseENS0_7RelExprEjmRNS0_6SymbolERKT0_l'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1252' u='r' c='_ZL15processRelocAuxRN3lld3elf16InputSectionBaseENS0_7RelExprEjmRNS0_6SymbolERKT0_l'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1252' u='r' c='_ZL15processRelocAuxRN3lld3elf16InputSectionBaseENS0_7RelExprEjmRNS0_6SymbolERKT0_l'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1314' u='r' c='_ZL9scanRelocRN3lld3elf16InputSectionBaseERN12_GLOBAL__N_112OffsetGetterERPT0_S7_S7_'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1389' u='r' c='_ZL9scanRelocRN3lld3elf16InputSectionBaseERN12_GLOBAL__N_112OffsetGetterERPT0_S7_S7_'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1432' u='r' c='_ZL9scanRelocRN3lld3elf16InputSectionBaseERN12_GLOBAL__N_112OffsetGetterERPT0_S7_S7_'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1502' u='r' c='_ZL9scanRelocRN3lld3elf16InputSectionBaseERN12_GLOBAL__N_112OffsetGetterERPT0_S7_S7_'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1518' u='r' c='_ZL9scanRelocRN3lld3elf16InputSectionBaseERN12_GLOBAL__N_112OffsetGetterERPT0_S7_S7_'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1783' u='r' c='_ZN3lld3elf12ThunkCreator14getISDThunkSecEPNS0_13OutputSectionEPNS0_12InputSectionEPNS0_23InputSectionDescriptionEjm'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1793' u='r' c='_ZN3lld3elf12ThunkCreator14getISDThunkSecEPNS0_13OutputSectionEPNS0_12InputSectionEPNS0_23InputSectionDescriptionEjm'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1795' u='r' c='_ZN3lld3elf12ThunkCreator14getISDThunkSecEPNS0_13OutputSectionEPNS0_12InputSectionEPNS0_23InputSectionDescriptionEjm'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1849' u='r' c='_ZN3lld3elf12ThunkCreator26createInitialThunkSectionsEN4llvm8ArrayRefIPNS0_13OutputSectionEEE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1914' u='r' c='_ZN3lld3elf12ThunkCreator15addThunkSectionEPNS0_13OutputSectionEPNS0_23InputSectionDescriptionEm'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1964' u='r' c='_ZN3lld3elf12ThunkCreator8getThunkEPNS0_12InputSectionERNS0_10RelocationEm'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='1981' u='r' c='_ZN3lld3elf12ThunkCreator22normalizeExistingThunkERNS0_10RelocationEm'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='2020' u='r' c='_ZN3lld3elf12ThunkCreator12createThunksEN4llvm8ArrayRefIPNS0_13OutputSectionEEE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='2040' u='r' c='_ZN3lld3elf12ThunkCreator12createThunksEN4llvm8ArrayRefIPNS0_13OutputSectionEEE'/>
<use f='llvm/lld/ELF/Relocations.cpp' l='2112' u='r' c='_ZN3lld3elf22hexagonTLSSymbolUpdateEN4llvm8ArrayRefIPNS0_13OutputSectionEEE'/>
<use f='llvm/lld/ELF/ScriptParser.cpp' l='1091' u='r' c='_ZN12_GLOBAL__N_112ScriptParser11getPageSizeEv'/>
<use f='llvm/lld/ELF/Symbols.cpp' l='174' u='r' c='_ZNK3lld3elf6Symbol15getGotPltOffsetEv'/>
<use f='llvm/lld/ELF/Symbols.cpp' l='179' u='r' c='_ZNK3lld3elf6Symbol8getPltVAEv'/>
<use f='llvm/lld/ELF/Symbols.cpp' l='181' u='r' c='_ZNK3lld3elf6Symbol8getPltVAEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='652' u='r' c='_ZN3lld3elf10GotSectionC1Ev'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='653' u='r' c='_ZN3lld3elf10GotSectionC1Ev'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='699' u='r' c='_ZN3lld3elf10GotSection7writeToEPh'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='989' u='r' c='_ZN3lld3elf14MipsGotSection5buildEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='997' u='r' c='_ZN3lld3elf14MipsGotSection5buildEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1005' u='r' c='_ZN3lld3elf14MipsGotSection5buildEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1011' u='r' c='_ZN3lld3elf14MipsGotSection5buildEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1023' u='r' c='_ZN3lld3elf14MipsGotSection5buildEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1033' u='r' c='_ZN3lld3elf14MipsGotSection5buildEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1039' u='r' c='_ZN3lld3elf14MipsGotSection5buildEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1144' u='r' c='_ZNK3lld3elf13GotPltSection7getSizeEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1148' u='r' c='_ZN3lld3elf13GotPltSection7writeToEPh'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1149' u='r' c='_ZN3lld3elf13GotPltSection7writeToEPh'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1151' u='r' c='_ZN3lld3elf13GotPltSection7writeToEPh'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1193' u='r' c='_ZN3lld3elf14IgotPltSection7writeToEPh'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1441' u='r' c='_ZN3lld3elf14DynamicSection16finalizeContentsEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1511' u='r' c='_ZN3lld3elf14DynamicSection16finalizeContentsEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1540' u='r' c='_ZN3lld3elf14DynamicSection16finalizeContentsEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1604' u='r' c='_ZN3lld3elf21RelocationBaseSection8addRelocERKNS0_12DynamicRelocE'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1663' u='r' c='_ZN3lld3elf17RelocationSection7writeToEPh'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1665' u='r' c='_ZN3lld3elf17RelocationSection7writeToEPh'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1750' u='r' c='_ZN3lld3elf30AndroidPackedRelocationSection15updateAllocSizeEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1848' u='r' c='_ZN3lld3elf30AndroidPackedRelocationSection15updateAllocSizeEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1859' u='r' c='_ZN3lld3elf30AndroidPackedRelocationSection15updateAllocSizeEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='1874' u='r' c='_ZN3lld3elf30AndroidPackedRelocationSection15updateAllocSizeEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='2507' u='r' c='_ZN3lld3elf10PltSectionC1Ev'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='2529' u='r' c='_ZN3lld3elf10PltSection7writeToEPh'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='2533' u='r' c='_ZN3lld3elf10PltSection7writeToEPh'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='2534' u='r' c='_ZN3lld3elf10PltSection7writeToEPh'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='2544' u='r' c='_ZNK3lld3elf10PltSection7getSizeEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='2555' u='r' c='_ZN3lld3elf10PltSection10addSymbolsEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='2559' u='r' c='_ZN3lld3elf10PltSection10addSymbolsEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='2560' u='r' c='_ZN3lld3elf10PltSection10addSymbolsEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='2575' u='r' c='_ZN3lld3elf11IpltSection7writeToEPh'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='2576' u='r' c='_ZN3lld3elf11IpltSection7writeToEPh'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='2581' u='r' c='_ZNK3lld3elf11IpltSection7getSizeEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='2593' u='r' c='_ZN3lld3elf11IpltSection10addSymbolsEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='2594' u='r' c='_ZN3lld3elf11IpltSection10addSymbolsEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='2608' u='r' c='_ZNK3lld3elf17PPC32GlinkSection7getSizeEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='2673' u='r' c='_ZN3lld3elf13IBTPltSection7writeToEPh'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='2678' u='r' c='_ZNK3lld3elf13IBTPltSection7getSizeEv'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='3527' u='r' c='_ZN3lld3elf24ARMExidxSyntheticSection7writeToEPh'/>
<use f='llvm/lld/ELF/SyntheticSections.cpp' l='3535' u='r' c='_ZN3lld3elf24ARMExidxSyntheticSection7writeToEPh'/>
<def f='llvm/lld/ELF/Target.cpp' l='41' type='const lld::elf::TargetInfo *'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='378' u='r' c='_ZN12_GLOBAL__N_122PPC64PILongBranchThunkC1ERN3lld3elf6SymbolEl'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='442' u='r' c='_ZN12_GLOBAL__N_119AArch64ABSLongThunk7writeToEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='466' u='r' c='_ZN12_GLOBAL__N_116AArch64ADRPThunk7writeToEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='468' u='r' c='_ZN12_GLOBAL__N_116AArch64ADRPThunk7writeToEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='512' u='r' c='_ZN12_GLOBAL__N_18ARMThunk7writeToEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='550' u='r' c='_ZN12_GLOBAL__N_110ThumbThunk7writeToEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='567' u='r' c='_ZN12_GLOBAL__N_117ARMV7ABSLongThunk9writeLongEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='568' u='r' c='_ZN12_GLOBAL__N_117ARMV7ABSLongThunk9writeLongEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='585' u='r' c='_ZN12_GLOBAL__N_119ThumbV7ABSLongThunk9writeLongEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='586' u='r' c='_ZN12_GLOBAL__N_119ThumbV7ABSLongThunk9writeLongEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='606' u='r' c='_ZN12_GLOBAL__N_116ARMV7PILongThunk9writeLongEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='607' u='r' c='_ZN12_GLOBAL__N_116ARMV7PILongThunk9writeLongEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='627' u='r' c='_ZN12_GLOBAL__N_118ThumbV7PILongThunk9writeLongEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='628' u='r' c='_ZN12_GLOBAL__N_118ThumbV7PILongThunk9writeLongEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='643' u='r' c='_ZN12_GLOBAL__N_117ARMV5ABSLongThunk9writeLongEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='669' u='r' c='_ZN12_GLOBAL__N_116ARMV5PILongThunk9writeLongEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='699' u='r' c='_ZN12_GLOBAL__N_120ThumbV6MABSLongThunk9writeLongEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='725' u='r' c='_ZN12_GLOBAL__N_119ThumbV6MPILongThunk9writeLongEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='742' u='r' c='_ZN12_GLOBAL__N_19MipsThunk7writeToEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='743' u='r' c='_ZN12_GLOBAL__N_19MipsThunk7writeToEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='764' u='r' c='_ZN12_GLOBAL__N_114MicroMipsThunk7writeToEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='765' u='r' c='_ZN12_GLOBAL__N_114MicroMipsThunk7writeToEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='766' u='r' c='_ZN12_GLOBAL__N_114MicroMipsThunk7writeToEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='788' u='r' c='_ZN12_GLOBAL__N_116MicroMipsR6Thunk7writeToEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='789' u='r' c='_ZN12_GLOBAL__N_116MicroMipsR6Thunk7writeToEPh'/>
<use f='llvm/lld/ELF/Thunks.cpp' l='790' u='r' c='_ZN12_GLOBAL__N_116MicroMipsR6Thunk7writeToEPh'/>
<use f='llvm/lld/ELF/Writer.cpp' l='523' u='r' c='_ZN3lld3elf23createSyntheticSectionsEv'/>
<use f='llvm/lld/ELF/Writer.cpp' l='1136' u='r' c='_ZN12_GLOBAL__N_16Writer25setReservedSymbolSectionsEv'/>
<use f='llvm/lld/ELF/Writer.cpp' l='1422' u='r' c='_ZL21sortISDBySectionOrderPN3lld3elf23InputSectionDescriptionERKN4llvm8DenseMapIPKNS0_16InputSectionBaseEiNS3_12DenseMapInfoIS7_EENS3_6detail12DenseMapPairIS7_iEEEE'/>
<use f='llvm/lld/ELF/Writer.cpp' l='1718' u='r' c='_ZN12_GLOBAL__N_16Writer31finalizeAddressDependentContentEv'/>
<use f='llvm/lld/ELF/Writer.cpp' l='1841' u='r' c='_ZN12_GLOBAL__N_16Writer23optimizeBasicBlockJumpsEv'/>
<use f='llvm/lld/ELF/Writer.cpp' l='2911' u='r' c='_ZL8fillTrapPhS_'/>
