<use f='llvm/lld/COFF/Chunks.h' l='182'/>
<def f='llvm/lld/COFF/ICF.cpp' l='41' ll='65'/>
<use f='llvm/lld/COFF/ICF.cpp' l='317' c='_ZN3lld4coff5doICFEN4llvm8ArrayRefIPNS0_5ChunkEEE'/>
<size>32</size>
<fun r='_ZN3lld4coff3ICF3runEN4llvm8ArrayRefIPNS0_5ChunkEEE'/>
<fun r='_ZN3lld4coff3ICF9segregateEmmb'/>
<fun r='_ZN3lld4coff3ICF11assocEqualsEPKNS0_12SectionChunkES4_'/>
<fun r='_ZN3lld4coff3ICF14equalsConstantEPKNS0_12SectionChunkES4_'/>
<fun r='_ZN3lld4coff3ICF14equalsVariableEPKNS0_12SectionChunkES4_'/>
<fun r='_ZN3lld4coff3ICF10isEligibleEPNS0_12SectionChunkE'/>
<fun r='_ZN3lld4coff3ICF12findBoundaryEmm'/>
<fun r='_ZN3lld4coff3ICF17forEachClassRangeEmmSt8functionIFvmmEE'/>
<fun r='_ZN3lld4coff3ICF12forEachClassESt8functionIFvmmEE'/>
<mbr r='lld::coff::ICF::chunks' o='0' t='std::vector&lt;SectionChunk *&gt;'/>
<mbr r='lld::coff::ICF::cnt' o='192' t='int'/>
<mbr r='lld::coff::ICF::repeat' o='224' t='std::atomic&lt;bool&gt;'/>
<fun r='_ZN3lld4coff3ICF10isEligibleEPNS0_12SectionChunkE'/>
<fun r='_ZN3lld4coff3ICF9segregateEmmb'/>
<fun r='_ZN3lld4coff3ICF11assocEqualsEPKNS0_12SectionChunkES4_'/>
<fun r='_ZN3lld4coff3ICF14equalsConstantEPKNS0_12SectionChunkES4_'/>
<fun r='_ZN3lld4coff3ICF14equalsVariableEPKNS0_12SectionChunkES4_'/>
<fun r='_ZN3lld4coff3ICF12findBoundaryEmm'/>
<fun r='_ZN3lld4coff3ICF17forEachClassRangeEmmSt8functionIFvmmEE'/>
<fun r='_ZN3lld4coff3ICF12forEachClassESt8functionIFvmmEE'/>
<fun r='_ZN3lld4coff3ICF3runEN4llvm8ArrayRefIPNS0_5ChunkEEE'/>
