<use f='llvm/lld/COFF/Chunks.h' l='528' u='w' c='_ZN3lld4coff24RangeExtensionThunkARM64C1EPNS0_7DefinedE'/>
<dec f='llvm/lld/COFF/Chunks.h' l='532' type='lld::coff::Defined *'/>
<offset>128</offset>
<use f='llvm/lld/COFF/Chunks.cpp' l='776' u='r' c='_ZNK3lld4coff24RangeExtensionThunkARM647writeToEPh'/>
<use f='llvm/lld/COFF/Chunks.cpp' l='777' u='r' c='_ZNK3lld4coff24RangeExtensionThunkARM647writeToEPh'/>
