<dec f='llvm/lld/wasm/Config.h' l='94' type='lld::wasm::Configuration *'/>
<use f='llvm/lld/wasm/Symbols.h' l='130' u='r' c='_ZN3lld4wasm6SymbolC1EN4llvm9StringRefENS1_4KindEjPNS0_9InputFileE'/>
<use f='llvm/lld/wasm/InputFiles.h' l='72' u='r' c='_ZN3lld4wasm9InputFileC1ENS1_4KindEN4llvm15MemoryBufferRefE'/>
<use f='llvm/lld/wasm/InputChunks.h' l='74' u='r' c='_ZN3lld4wasm10InputChunkC1EPNS0_7ObjFileENS1_4KindE'/>
<use f='llvm/lld/wasm/InputChunks.h' l='148' u='r' c='_ZNK3lld4wasm13InputFunction7getSizeEv'/>
<use f='llvm/lld/wasm/InputGlobal.h' l='26' u='r' c='_ZN3lld4wasm11InputGlobalC1ERKN4llvm4wasm10WasmGlobalEPNS0_7ObjFileE'/>
<use f='llvm/lld/wasm/InputTable.h' l='26' u='r' c='_ZN3lld4wasm10InputTableC1ERKN4llvm4wasm9WasmTableEPNS0_7ObjFileE'/>
<def f='llvm/lld/wasm/Driver.cpp' l='46' type='lld::wasm::Configuration *'/>
<use f='llvm/lld/wasm/Driver.cpp' l='98' u='w' c='_ZN3lld4wasm4linkEN4llvm8ArrayRefIPKcEEbRNS1_11raw_ostreamES7_'/>
<use f='llvm/lld/wasm/Driver.cpp' l='212' u='r' c='_ZN3lld4wasmL14readImportFileEN4llvm9StringRefE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='291' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10addLibraryEN4llvm9StringRefE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='365' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='366' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='368' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='369' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='370' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='371' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='372' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='373' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='374' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='375' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='376' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='379' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='380' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='381' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='382' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='383' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='384' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='387' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='388' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='389' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='390' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='391' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='392' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='393' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='394' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='396' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='397' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='398' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='400' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='401' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='402' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='403' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='404' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='405' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='406' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='407' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='408' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='411' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='415' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='416' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='417' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='418' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='422' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='423' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='429' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='431' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='445' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='448' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='451' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='454' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='458' u='r' c='_ZN3lld4wasmL11readConfigsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='466' u='r' c='_ZN3lld4wasmL10setConfigsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='466' u='r' c='_ZN3lld4wasmL10setConfigsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='466' u='r' c='_ZN3lld4wasmL10setConfigsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='468' u='r' c='_ZN3lld4wasmL10setConfigsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='469' u='r' c='_ZN3lld4wasmL10setConfigsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='471' u='r' c='_ZN3lld4wasmL10setConfigsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='474' u='r' c='_ZN3lld4wasmL10setConfigsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='475' u='r' c='_ZN3lld4wasmL10setConfigsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='476' u='r' c='_ZN3lld4wasmL10setConfigsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='483' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='483' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='483' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='487' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='488' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='489' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='491' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='492' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='494' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='494' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='497' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='500' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='500' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='503' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='504' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='506' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='508' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='512' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='514' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='523' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='525' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='530' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='535' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='535' u='r' c='_ZN3lld4wasmL12checkOptionsERN4llvm3opt12InputArgListE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='572' u='r' c='_ZN3lld4wasmL21createUndefinedGlobalEN4llvm9StringRefEPNS1_4wasm14WasmGlobalTypeE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='579' u='r' c='_ZN3lld4wasmL12createGlobalEN4llvm9StringRefEb'/>
<use f='llvm/lld/wasm/Driver.cpp' l='605' u='r' c='_ZN3lld4wasmL22createSyntheticSymbolsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='621' u='r' c='_ZN3lld4wasmL22createSyntheticSymbolsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='623' u='r' c='_ZN3lld4wasmL22createSyntheticSymbolsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='633' u='r' c='_ZN3lld4wasmL22createSyntheticSymbolsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='643' u='r' c='_ZN3lld4wasmL22createSyntheticSymbolsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='643' u='r' c='_ZN3lld4wasmL22createSyntheticSymbolsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='650' u='r' c='_ZN3lld4wasmL22createSyntheticSymbolsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='656' u='r' c='_ZN3lld4wasmL21createOptionalSymbolsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='661' u='r' c='_ZN3lld4wasmL21createOptionalSymbolsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='664' u='r' c='_ZN3lld4wasmL21createOptionalSymbolsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='680' u='r' c='_ZN3lld4wasmL21createOptionalSymbolsEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='797' u='r' c='_ZN3lld4wasmL34createDefinedIndirectFunctionTableEN4llvm9StringRefE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='800' u='r' c='_ZN3lld4wasmL34createDefinedIndirectFunctionTableEN4llvm9StringRefE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='810' u='r' c='_ZN3lld4wasmL36createUndefinedIndirectFunctionTableEN4llvm9StringRefE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='815' u='r' c='_ZN3lld4wasmL36createUndefinedIndirectFunctionTableEN4llvm9StringRefE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='834' u='r' c='_ZN3lld4wasmL28resolveIndirectFunctionTableEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='840' u='r' c='_ZN3lld4wasmL28resolveIndirectFunctionTableEv'/>
<use f='llvm/lld/wasm/Driver.cpp' l='911' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='912' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='913' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='914' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='923' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='944' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='944' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='945' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='950' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='958' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='958' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='960' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='961' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='1019' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='1022' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='1026' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='1026' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<use f='llvm/lld/wasm/Driver.cpp' l='1041' u='r' c='_ZN3lld4wasm12_GLOBAL__N_112LinkerDriver10linkerMainEN4llvm8ArrayRefIPKcEE'/>
<doc f='llvm/lld/wasm/Config.h' l='93'>// The only instance of Configuration struct.</doc>
<use f='llvm/lld/wasm/InputChunks.cpp' l='286' u='r' c='_ZN3lld4wasm13InputFunction13calculateSizeEv'/>
<use f='llvm/lld/wasm/InputChunks.cpp' l='323' u='r' c='_ZNK3lld4wasm13InputFunction7writeToEPh'/>
<use f='llvm/lld/wasm/InputChunks.cpp' l='363' u='r' c='_ZNK3lld4wasm12InputSegment22generateRelocationCodeERN4llvm11raw_ostreamE'/>
<use f='llvm/lld/wasm/InputChunks.cpp' l='366' u='r' c='_ZNK3lld4wasm12InputSegment22generateRelocationCodeERN4llvm11raw_ostreamE'/>
<use f='llvm/lld/wasm/InputEvent.h' l='32' u='r' c='_ZN3lld4wasm10InputEventC1ERKN4llvm4wasm13WasmSignatureERKNS3_9WasmEventEPNS0_7ObjFileE'/>
<use f='llvm/lld/wasm/InputFiles.cpp' l='48' u='r' c='_ZNK3lld4wasm9InputFile9checkArchEN4llvm6Triple8ArchTypeE'/>
<use f='llvm/lld/wasm/InputFiles.cpp' l='51' u='r' c='_ZNK3lld4wasm9InputFile9checkArchEN4llvm6Triple8ArchTypeE'/>
<use f='llvm/lld/wasm/InputFiles.cpp' l='228' u='r' c='_ZNK3lld4wasm7ObjFile12calcNewValueERKN4llvm4wasm14WasmRelocationEm'/>
<use f='llvm/lld/wasm/LTO.cpp' l='50' u='r' c='_ZN3lld4wasmL9createLTOEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='52' u='r' c='_ZN3lld4wasmL9createLTOEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='54' u='r' c='_ZN3lld4wasmL9createLTOEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='55' u='r' c='_ZN3lld4wasmL9createLTOEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='56' u='r' c='_ZN3lld4wasmL9createLTOEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='58' u='r' c='_ZN3lld4wasmL9createLTOEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='60' u='r' c='_ZN3lld4wasmL9createLTOEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='65' u='r' c='_ZN3lld4wasmL9createLTOEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='66' u='r' c='_ZN3lld4wasmL9createLTOEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='69' u='r' c='_ZN3lld4wasmL9createLTOEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='71' u='r' c='_ZN3lld4wasmL9createLTOEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='106' u='r' c='_ZN3lld4wasm15BitcodeCompiler3addERNS0_11BitcodeFileE'/>
<use f='llvm/lld/wasm/LTO.cpp' l='131' u='r' c='_ZN3lld4wasm15BitcodeCompiler7compileEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='133' u='r' c='_ZN3lld4wasm15BitcodeCompiler7compileEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='145' u='r' c='_ZN3lld4wasm15BitcodeCompiler7compileEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='146' u='r' c='_ZN3lld4wasm15BitcodeCompiler7compileEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='146' u='r' c='_ZN3lld4wasm15BitcodeCompiler7compileEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='152' u='r' c='_ZN3lld4wasm15BitcodeCompiler7compileEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='154' u='r' c='_ZN3lld4wasm15BitcodeCompiler7compileEv'/>
<use f='llvm/lld/wasm/LTO.cpp' l='156' u='r' c='_ZN3lld4wasm15BitcodeCompiler7compileEv'/>
<use f='llvm/lld/wasm/SyntheticSections.h' l='78' u='r' c='_ZNK3lld4wasm13DylinkSection8isNeededEv'/>
<use f='llvm/lld/wasm/SyntheticSections.h' l='164' u='r' c='_ZNK3lld4wasm13MemorySection8isNeededEv'/>
<use f='llvm/lld/wasm/SyntheticSections.h' l='277' u='r' c='_ZNK3lld4wasm14LinkingSection8isNeededEv'/>
<use f='llvm/lld/wasm/SyntheticSections.h' l='277' u='r' c='_ZNK3lld4wasm14LinkingSection8isNeededEv'/>
<use f='llvm/lld/wasm/SyntheticSections.h' l='296' u='r' c='_ZNK3lld4wasm11NameSection8isNeededEv'/>
<use f='llvm/lld/wasm/SyntheticSections.h' l='296' u='r' c='_ZNK3lld4wasm11NameSection8isNeededEv'/>
<use f='llvm/lld/wasm/SyntheticSections.h' l='313' u='r' c='_ZNK3lld4wasm16ProducersSection8isNeededEv'/>
<use f='llvm/lld/wasm/SyntheticSections.h' l='332' u='r' c='_ZNK3lld4wasm21TargetFeaturesSection8isNeededEv'/>
<use f='llvm/lld/wasm/MapFile.cpp' l='102' u='r' c='_ZN3lld4wasm12writeMapFileEN4llvm8ArrayRefIPNS0_13OutputSectionEEE'/>
<use f='llvm/lld/wasm/MapFile.cpp' l='107' u='r' c='_ZN3lld4wasm12writeMapFileEN4llvm8ArrayRefIPNS0_13OutputSectionEEE'/>
<use f='llvm/lld/wasm/MapFile.cpp' l='109' u='r' c='_ZN3lld4wasm12writeMapFileEN4llvm8ArrayRefIPNS0_13OutputSectionEEE'/>
<use f='llvm/lld/wasm/MarkLive.cpp' l='91' u='r' c='_ZN3lld4wasm12_GLOBAL__N_18MarkLive3runEv'/>
<use f='llvm/lld/wasm/MarkLive.cpp' l='92' u='r' c='_ZN3lld4wasm12_GLOBAL__N_18MarkLive3runEv'/>
<use f='llvm/lld/wasm/MarkLive.cpp' l='147' u='r' c='_ZN3lld4wasm8markLiveEv'/>
<use f='llvm/lld/wasm/MarkLive.cpp' l='156' u='r' c='_ZN3lld4wasm8markLiveEv'/>
<use f='llvm/lld/wasm/MarkLive.cpp' l='188' u='r' c='_ZN3lld4wasm12_GLOBAL__N_18MarkLive15isCallCtorsLiveEv'/>
<use f='llvm/lld/wasm/MarkLive.cpp' l='193' u='r' c='_ZN3lld4wasm12_GLOBAL__N_18MarkLive15isCallCtorsLiveEv'/>
<use f='llvm/lld/wasm/OutputSections.cpp' l='161' u='r' c='_ZN3lld4wasm11DataSection16finalizeContentsEv'/>
<use f='llvm/lld/wasm/Relocations.cpp' l='23' u='r' c='_ZN3lld4wasmL17requiresGOTAccessEPKNS0_6SymbolE'/>
<use f='llvm/lld/wasm/Relocations.cpp' l='29' u='r' c='_ZN3lld4wasmL17requiresGOTAccessEPKNS0_6SymbolE'/>
<use f='llvm/lld/wasm/Relocations.cpp' l='29' u='r' c='_ZN3lld4wasmL17requiresGOTAccessEPKNS0_6SymbolE'/>
<use f='llvm/lld/wasm/Relocations.cpp' l='46' u='r' c='_ZN3lld4wasmL14allowUndefinedEPKNS0_6SymbolE'/>
<use f='llvm/lld/wasm/Relocations.cpp' l='51' u='r' c='_ZN3lld4wasmL15reportUndefinedEPNS0_6SymbolE'/>
<use f='llvm/lld/wasm/Relocations.cpp' l='128' u='r' c='_ZN3lld4wasm15scanRelocationsEPNS0_10InputChunkE'/>
<use f='llvm/lld/wasm/Relocations.cpp' l='155' u='r' c='_ZN3lld4wasm15scanRelocationsEPNS0_10InputChunkE'/>
<use f='llvm/lld/wasm/SymbolTable.cpp' l='45' u='r' c='_ZN3lld4wasm11SymbolTable7addFileEPNS0_9InputFileE'/>
<use f='llvm/lld/wasm/SymbolTable.cpp' l='233' u='r' c='_ZN3lld4wasm11SymbolTable21addOptionalDataSymbolEN4llvm9StringRefEm'/>
<use f='llvm/lld/wasm/SymbolTable.cpp' l='233' u='r' c='_ZN3lld4wasm11SymbolTable21addOptionalDataSymbolEN4llvm9StringRefEm'/>
<use f='llvm/lld/wasm/Symbols.cpp' l='38' u='r' c='_ZN3lld19maybeDemangleSymbolB5cxx11EN4llvm9StringRefE'/>
<use f='llvm/lld/wasm/Symbols.cpp' l='179' u='r' c='_ZN3lld4wasm6Symbol11setGOTIndexEj'/>
<use f='llvm/lld/wasm/Symbols.cpp' l='212' u='r' c='_ZNK3lld4wasm6Symbol10isExportedEv'/>
<use f='llvm/lld/wasm/Symbols.cpp' l='215' u='r' c='_ZNK3lld4wasm6Symbol10isExportedEv'/>
<use f='llvm/lld/wasm/SyntheticSections.cpp' l='98' u='r' c='_ZNK3lld4wasm13ImportSection13getNumImportsEv'/>
<use f='llvm/lld/wasm/SyntheticSections.cpp' l='130' u='r' c='_ZN3lld4wasm13ImportSection9writeBodyEv'/>
<use f='llvm/lld/wasm/SyntheticSections.cpp' l='137' u='r' c='_ZN3lld4wasm13ImportSection9writeBodyEv'/>
<use f='llvm/lld/wasm/SyntheticSections.cpp' l='141' u='r' c='_ZN3lld4wasm13ImportSection9writeBodyEv'/>
<use f='llvm/lld/wasm/SyntheticSections.cpp' l='143' u='r' c='_ZN3lld4wasm13ImportSection9writeBodyEv'/>
<use f='llvm/lld/wasm/SyntheticSections.cpp' l='232' u='r' c='_ZN3lld4wasm13MemorySection9writeBodyEv'/>
<use f='llvm/lld/wasm/SyntheticSections.cpp' l='237' u='r' c='_ZN3lld4wasm13MemorySection9writeBodyEv'/>
<use f='llvm/lld/wasm/SyntheticSections.cpp' l='239' u='r' c='_ZN3lld4wasm13MemorySection9writeBodyEv'/>
<use f='llvm/lld/wasm/SyntheticSections.cpp' l='289' u='r' c='_ZNK3lld4wasm13GlobalSection22generateRelocationCodeERN4llvm11raw_ostreamE'/>
<use f='llvm/lld/wasm/SyntheticSections.cpp' l='292' u='r' c='_ZNK3lld4wasm13GlobalSection22generateRelocationCodeERN4llvm11raw_ostreamE'/>
<use f='llvm/lld/wasm/SyntheticSections.cpp' l='337' u='r' c='_ZN3lld4wasm13GlobalSection9writeBodyEv'/>
<use f='llvm/lld/wasm/SyntheticSections.cpp' l='390' u='r' c='_ZN3lld4wasm11ElemSection8addEntryEPNS0_14FunctionSymbolE'/>
<use f='llvm/lld/wasm/SyntheticSections.cpp' l='400' u='r' c='_ZN3lld4wasm11ElemSection9writeBodyEv'/>
<use f='llvm/lld/wasm/SyntheticSections.cpp' l='405' u='r' c='_ZN3lld4wasm11ElemSection9writeBodyEv'/>
<use f='llvm/lld/wasm/SyntheticSections.cpp' l='410' u='r' c='_ZN3lld4wasm11ElemSection9writeBodyEv'/>
<use f='llvm/lld/wasm/SyntheticSections.cpp' l='429' u='r' c='_ZNK3lld4wasm16DataCountSection8isNeededEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='121' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer23calculateCustomSectionsEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='121' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer23calculateCustomSectionsEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='156' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer20createCustomSectionsEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='156' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer20createCustomSectionsEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='215' u='r' c='_ZN3lld4wasmL12setGlobalPtrEPNS0_13DefinedGlobalEm'/>
<use f='llvm/lld/wasm/Writer.cpp' l='241' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='241' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='244' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='244' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='246' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='248' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='263' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='266' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='267' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='288' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='289' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='305' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='321' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='324' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='336' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='338' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='339' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='339' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='341' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='343' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='346' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='352' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='353' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='353' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='355' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='357' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='363' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='363' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='364' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='368' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer12layoutMemoryEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='422' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer11addSectionsEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='422' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer11addSectionsEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='447' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer22populateTargetFeaturesEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='450' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer22populateTargetFeaturesEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='452' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer22populateTargetFeaturesEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='491' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer22populateTargetFeaturesEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='494' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer22populateTargetFeaturesEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='513' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer22populateTargetFeaturesEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='569' u='r' c='_ZN3lld4wasmL12shouldImportEPNS0_6SymbolE'/>
<use f='llvm/lld/wasm/Writer.cpp' l='570' u='r' c='_ZN3lld4wasmL12shouldImportEPNS0_6SymbolE'/>
<use f='llvm/lld/wasm/Writer.cpp' l='572' u='r' c='_ZN3lld4wasmL12shouldImportEPNS0_6SymbolE'/>
<use f='llvm/lld/wasm/Writer.cpp' l='588' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer16calculateImportsEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='602' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer16calculateExportsEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='605' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer16calculateExportsEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='605' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer16calculateExportsEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='653' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer14populateSymtabEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='653' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer14populateSymtabEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='748' u='r' c='_ZN3lld4wasmL29finalizeIndirectFunctionTableEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='750' u='r' c='_ZN3lld4wasmL29finalizeIndirectFunctionTableEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='818' u='r' c='_ZN3lld4wasmL24getOutputDataSegmentNameEN4llvm9StringRefE'/>
<use f='llvm/lld/wasm/Writer.cpp' l='820' u='r' c='_ZN3lld4wasmL24getOutputDataSegmentNameEN4llvm9StringRefE'/>
<use f='llvm/lld/wasm/Writer.cpp' l='843' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer20createOutputSegmentsEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='849' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer20createOutputSegmentsEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='849' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer20createOutputSegmentsEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='901' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer28createSyntheticInitFunctionsEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='909' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer28createSyntheticInitFunctionsEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='916' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer28createSyntheticInitFunctionsEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='947' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer24createInitMemoryFunctionEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='1000' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer24createInitMemoryFunctionEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='1015' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer24createInitMemoryFunctionEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='1050' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer24createInitMemoryFunctionEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='1280' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer22calculateInitFunctionsEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='1325' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer3runEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='1325' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer3runEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='1326' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer3runEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='1330' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer3runEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='1331' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer3runEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='1333' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer3runEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='1347' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer3runEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='1365' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer3runEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='1382' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer3runEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='1382' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer3runEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='1448' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer8openFileEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='1451' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer8openFileEv'/>
<use f='llvm/lld/wasm/Writer.cpp' l='1455' u='r' c='_ZN3lld4wasm12_GLOBAL__N_16Writer8openFileEv'/>
