<use f='llvm/lldb/include/lldb/Host/posix/ConnectionFileDescriptorPosix.h' l='46' c='_ZN12lldb_private24ConnectionFileDescriptorC1EPNS_6SocketE'/>
<use f='llvm/lldb/include/lldb/Host/posix/ConnectionFileDescriptorPosix.h' l='117' c='_ZN12lldb_private24ConnectionFileDescriptor16InitializeSocketEPNS_6SocketE'/>
<inh f='llvm/lldb/include/lldb/Utility/IOObject.h' l='20' c='lldb_private::IOObject'/>
<def f='llvm/lldb/include/lldb/Host/Socket.h' l='42' ll='131'/>
<use f='llvm/lldb/include/lldb/Host/Socket.h' l='58' c='_ZN12lldb_private6Socket6CreateENS0_14SocketProtocolEbRNS_6StatusE'/>
<use f='llvm/lldb/include/lldb/Host/Socket.h' l='64' c='_ZN12lldb_private6Socket6AcceptERPS0_'/>
<use f='llvm/lldb/include/lldb/Host/Socket.h' l='73' c='_ZN12lldb_private6Socket10TcpConnectEN4llvm9StringRefEb'/>
<use f='llvm/lldb/include/lldb/Host/Socket.h' l='81' c='_ZN12lldb_private6Socket17UnixDomainConnectEN4llvm9StringRefEbRPS0_'/>
<use f='llvm/lldb/include/lldb/Host/Socket.h' l='83' c='_ZN12lldb_private6Socket16UnixDomainAcceptEN4llvm9StringRefEbRPS0_'/>
<use f='llvm/lldb/include/lldb/Host/Socket.h' l='86' c='_ZN12lldb_private6Socket19UnixAbstractConnectEN4llvm9StringRefEbRPS0_'/>
<use f='llvm/lldb/include/lldb/Host/Socket.h' l='89' c='_ZN12lldb_private6Socket18UnixAbstractAcceptEN4llvm9StringRefEbRPS0_'/>
<ovr f='llvm/lldb/include/lldb/Host/common/TCPSocket.h' l='17' c='lldb_private::TCPSocket'/>
<use f='llvm/lldb/include/lldb/Host/common/TCPSocket.h' l='17'/>
<use f='llvm/lldb/include/lldb/Host/common/TCPSocket.h' l='43' c='_ZN12lldb_private9TCPSocket6AcceptERPNS_6SocketE'/>
<ovr f='llvm/lldb/include/lldb/Host/common/UDPSocket.h' l='15' c='lldb_private::UDPSocket'/>
<use f='llvm/lldb/include/lldb/Host/common/UDPSocket.h' l='15'/>
<use f='llvm/lldb/include/lldb/Host/common/UDPSocket.h' l='30' c='_ZN12lldb_private9UDPSocket6AcceptERPNS_6SocketE'/>
<ovr f='llvm/lldb/include/lldb/Host/posix/DomainSocket.h' l='15' c='lldb_private::DomainSocket'/>
<use f='llvm/lldb/include/lldb/Host/posix/DomainSocket.h' l='15'/>
<use f='llvm/lldb/include/lldb/Host/posix/DomainSocket.h' l='21' c='_ZN12lldb_private12DomainSocket6AcceptERPNS_6SocketE'/>
<use f='llvm/lldb/source/Host/common/Socket.cpp' l='109' c='_ZN12lldb_private6Socket6CreateENS0_14SocketProtocolEbRNS_6StatusE'/>
<use f='llvm/lldb/source/Host/common/Socket.cpp' l='114' c='_ZN12lldb_private6Socket6CreateENS0_14SocketProtocolEbRNS_6StatusE'/>
<use f='llvm/lldb/source/Host/common/Socket.cpp' l='150' c='_ZN12lldb_private6Socket10TcpConnectEN4llvm9StringRefEb'/>
<use f='llvm/lldb/source/Host/common/Socket.cpp' l='157' c='_ZN12lldb_private6Socket10TcpConnectEN4llvm9StringRefEb'/>
<use f='llvm/lldb/source/Host/common/Socket.cpp' l='213' c='_ZN12lldb_private6Socket17UnixDomainConnectEN4llvm9StringRefEbRPS0_'/>
<use f='llvm/lldb/source/Host/common/Socket.cpp' l='215' c='_ZN12lldb_private6Socket17UnixDomainConnectEN4llvm9StringRefEbRPS0_'/>
<use f='llvm/lldb/source/Host/common/Socket.cpp' l='228' c='_ZN12lldb_private6Socket16UnixDomainAcceptEN4llvm9StringRefEbRPS0_'/>
<use f='llvm/lldb/source/Host/common/Socket.cpp' l='230' c='_ZN12lldb_private6Socket16UnixDomainAcceptEN4llvm9StringRefEbRPS0_'/>
<use f='llvm/lldb/source/Host/common/Socket.cpp' l='245' c='_ZN12lldb_private6Socket19UnixAbstractConnectEN4llvm9StringRefEbRPS0_'/>
<use f='llvm/lldb/source/Host/common/Socket.cpp' l='247' c='_ZN12lldb_private6Socket19UnixAbstractConnectEN4llvm9StringRefEbRPS0_'/>
<use f='llvm/lldb/source/Host/common/Socket.cpp' l='260' c='_ZN12lldb_private6Socket18UnixAbstractAcceptEN4llvm9StringRefEbRPS0_'/>
<use f='llvm/lldb/source/Host/common/Socket.cpp' l='262' c='_ZN12lldb_private6Socket18UnixAbstractAcceptEN4llvm9StringRefEbRPS0_'/>
<size>24</size>
<smbr r='lldb_private::Socket::kInvalidSocketValue' t='const lldb_private::NativeSocket'/>
<fun r='_ZN12lldb_private6SocketD1Ev'/>
<fun r='_ZN12lldb_private6Socket10InitializeEv'/>
<fun r='_ZN12lldb_private6Socket9TerminateEv'/>
<fun r='_ZN12lldb_private6Socket6CreateENS0_14SocketProtocolEbRNS_6StatusE'/>
<fun r='_ZN12lldb_private6Socket7ConnectEN4llvm9StringRefE'/>
<fun r='_ZN12lldb_private6Socket6ListenEN4llvm9StringRefEi'/>
<fun r='_ZN12lldb_private6Socket6AcceptERPS0_'/>
<fun r='_ZN12lldb_private6Socket9TcpListenEN4llvm9StringRefEbPNS_9PredicateItEEi'/>
<fun r='_ZN12lldb_private6Socket10TcpConnectEN4llvm9StringRefEb'/>
<fun r='_ZN12lldb_private6Socket10UdpConnectEN4llvm9StringRefEb'/>
<fun r='_ZN12lldb_private6Socket17UnixDomainConnectEN4llvm9StringRefEbRPS0_'/>
<fun r='_ZN12lldb_private6Socket16UnixDomainAcceptEN4llvm9StringRefEbRPS0_'/>
<fun r='_ZN12lldb_private6Socket19UnixAbstractConnectEN4llvm9StringRefEbRPS0_'/>
<fun r='_ZN12lldb_private6Socket18UnixAbstractAcceptEN4llvm9StringRefEbRPS0_'/>
<fun r='_ZN12lldb_private6Socket9GetOptionEiiRi'/>
<fun r='_ZN12lldb_private6Socket9SetOptionEiii'/>
<fun r='_ZNK12lldb_private6Socket15GetNativeSocketEv'/>
<fun r='_ZNK12lldb_private6Socket17GetSocketProtocolEv'/>
<fun r='_ZN12lldb_private6Socket4ReadEPvRm'/>
<fun r='_ZN12lldb_private6Socket5WriteEPKvRm'/>
<fun r='_ZN12lldb_private6Socket13PreDisconnectEv'/>
<fun r='_ZN12lldb_private6Socket5CloseEv'/>
<fun r='_ZNK12lldb_private6Socket7IsValidEv'/>
<fun r='_ZN12lldb_private6Socket17GetWaitableHandleEv'/>
<fun r='_ZN12lldb_private6Socket17DecodeHostAndPortEN4llvm9StringRefERNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEES9_RiPNS_6StatusE'/>
<fun r='_ZNK12lldb_private6Socket22GetRemoteConnectionURIB5cxx11Ev'/>
<fun r='_ZN12lldb_private6SocketC1ENS0_14SocketProtocolEbb'/>
<fun r='_ZN12lldb_private6Socket4SendEPKvm'/>
<fun r='_ZN12lldb_private6Socket12SetLastErrorERNS_6StatusE'/>
<fun r='_ZN12lldb_private6Socket12CreateSocketEiiibRNS_6StatusE'/>
<fun r='_ZN12lldb_private6Socket12AcceptSocketEiP8sockaddrPjbRNS_6StatusE'/>
<mbr r='lldb_private::Socket::m_protocol' o='96' t='lldb_private::Socket::SocketProtocol'/>
<mbr r='lldb_private::Socket::m_socket' o='128' t='lldb_private::NativeSocket'/>
<mbr r='lldb_private::Socket::m_child_processes_inherit' o='160' t='bool'/>
<mbr r='lldb_private::Socket::m_should_close_fd' o='168' t='bool'/>
<smbr r='lldb_private::Socket::kInvalidSocketValue' t='const lldb_private::NativeSocket'/>
<fun r='_ZN12lldb_private6SocketC1ENS0_14SocketProtocolEbb'/>
<fun r='_ZN12lldb_private6SocketD1Ev'/>
<fun r='_ZN12lldb_private6Socket10InitializeEv'/>
<fun r='_ZN12lldb_private6Socket9TerminateEv'/>
<fun r='_ZN12lldb_private6Socket6CreateENS0_14SocketProtocolEbRNS_6StatusE'/>
<fun r='_ZN12lldb_private6Socket10TcpConnectEN4llvm9StringRefEb'/>
<fun r='_ZN12lldb_private6Socket9TcpListenEN4llvm9StringRefEbPNS_9PredicateItEEi'/>
<fun r='_ZN12lldb_private6Socket10UdpConnectEN4llvm9StringRefEb'/>
<fun r='_ZN12lldb_private6Socket17UnixDomainConnectEN4llvm9StringRefEbRPS0_'/>
<fun r='_ZN12lldb_private6Socket16UnixDomainAcceptEN4llvm9StringRefEbRPS0_'/>
<fun r='_ZN12lldb_private6Socket19UnixAbstractConnectEN4llvm9StringRefEbRPS0_'/>
<fun r='_ZN12lldb_private6Socket18UnixAbstractAcceptEN4llvm9StringRefEbRPS0_'/>
<fun r='_ZN12lldb_private6Socket17DecodeHostAndPortEN4llvm9StringRefERNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEES9_RiPNS_6StatusE'/>
<fun r='_ZN12lldb_private6Socket17GetWaitableHandleEv'/>
<fun r='_ZN12lldb_private6Socket4ReadEPvRm'/>
<fun r='_ZN12lldb_private6Socket5WriteEPKvRm'/>
<fun r='_ZN12lldb_private6Socket13PreDisconnectEv'/>
<fun r='_ZN12lldb_private6Socket5CloseEv'/>
<fun r='_ZN12lldb_private6Socket9GetOptionEiiRi'/>
<fun r='_ZN12lldb_private6Socket9SetOptionEiii'/>
<fun r='_ZN12lldb_private6Socket4SendEPKvm'/>
<fun r='_ZN12lldb_private6Socket12SetLastErrorERNS_6StatusE'/>
<fun r='_ZN12lldb_private6Socket12CreateSocketEiiibRNS_6StatusE'/>
<fun r='_ZN12lldb_private6Socket12AcceptSocketEiP8sockaddrPjbRNS_6StatusE'/>
<use f='llvm/lldb/source/Host/common/TCPSocket.cpp' l='61' c='_ZN12lldb_private9TCPSocketC1Ebb'/>
<use f='llvm/lldb/source/Host/common/TCPSocket.cpp' l='64' c='_ZN12lldb_private9TCPSocketC1EiRKS0_'/>
<use f='llvm/lldb/source/Host/common/TCPSocket.cpp' l='71' c='_ZN12lldb_private9TCPSocketC1Eibb'/>
<use f='llvm/lldb/source/Host/common/TCPSocket.cpp' l='254' c='_ZN12lldb_private9TCPSocket6AcceptERPNS_6SocketE'/>
<size>24</size>
<use f='llvm/lldb/source/Host/common/UDPSocket.cpp' l='32' c='_ZN12lldb_private9UDPSocketC1Ei'/>
<use f='llvm/lldb/source/Host/common/UDPSocket.cpp' l='37' c='_ZN12lldb_private9UDPSocketC1Ebb'/>
<use f='llvm/lldb/source/Host/common/UDPSocket.cpp' l='52' c='_ZN12lldb_private9UDPSocket6AcceptERPNS_6SocketE'/>
<size>24</size>
<use f='llvm/lldb/source/Host/posix/ConnectionFileDescriptorPosix.cpp' l='102' c='_ZN12lldb_private24ConnectionFileDescriptorC1EPNS_6SocketE'/>
<use f='llvm/lldb/source/Host/posix/ConnectionFileDescriptorPosix.cpp' l='311' c='_ZN12lldb_private24ConnectionFileDescriptor10DisconnectEPNS_6StatusE'/>
<use f='llvm/lldb/source/Host/posix/ConnectionFileDescriptorPosix.cpp' l='646' c='_ZN12lldb_private24ConnectionFileDescriptor17NamedSocketAcceptEN4llvm9StringRefEPNS_6StatusE'/>
<use f='llvm/lldb/source/Host/posix/ConnectionFileDescriptorPosix.cpp' l='663' c='_ZN12lldb_private24ConnectionFileDescriptor18NamedSocketConnectEN4llvm9StringRefEPNS_6StatusE'/>
<use f='llvm/lldb/source/Host/posix/ConnectionFileDescriptorPosix.cpp' l='680' c='_ZN12lldb_private24ConnectionFileDescriptor25UnixAbstractSocketConnectEN4llvm9StringRefEPNS_6StatusE'/>
<use f='llvm/lldb/source/Host/posix/ConnectionFileDescriptorPosix.cpp' l='714' c='_ZN12lldb_private24ConnectionFileDescriptor21SocketListenAndAcceptEN4llvm9StringRefEPNS_6StatusE'/>
<use f='llvm/lldb/source/Host/posix/ConnectionFileDescriptorPosix.cpp' l='730' c='_ZN12lldb_private24ConnectionFileDescriptor10ConnectTCPEN4llvm9StringRefEPNS_6StatusE'/>
<use f='llvm/lldb/source/Host/posix/ConnectionFileDescriptorPosix.cpp' l='781' c='_ZN12lldb_private24ConnectionFileDescriptor16InitializeSocketEPNS_6SocketE'/>
<size>24</size>
<use f='llvm/lldb/source/Host/posix/DomainSocket.cpp' l='62' c='_ZN12lldb_private12DomainSocketC1Ebb'/>
<use f='llvm/lldb/source/Host/posix/DomainSocket.cpp' l='66' c='_ZN12lldb_private12DomainSocketC1ENS_6Socket14SocketProtocolEb'/>
<use f='llvm/lldb/source/Host/posix/DomainSocket.cpp' l='70' c='_ZN12lldb_private12DomainSocketC1EiRKS0_'/>
<use f='llvm/lldb/source/Host/posix/DomainSocket.cpp' l='113' c='_ZN12lldb_private12DomainSocket6AcceptERPNS_6SocketE'/>
<size>24</size>
<use f='llvm/lldb/source/Plugins/Process/gdb-remote/GDBRemoteCommunication.cpp' l='1240' c='_ZN12lldb_private18process_gdb_remote22GDBRemoteCommunication14ConnectLocallyERS1_S2_'/>
<size>24</size>
<use f='llvm/lldb/tools/lldb-server/Acceptor.h' l='49' c='_ZN12lldb_private11lldb_server8AcceptorC1EOSt10unique_ptrINS_6SocketESt14default_deleteIS3_EEN4llvm9StringRefERKSt8functionIFNSt7__cxx1112basic_string12675456'/>
<use f='llvm/lldb/tools/lldb-server/Acceptor.h' l='52'/>
<use f='llvm/lldb/tools/lldb-server/Acceptor.cpp' l='63' c='_ZN12lldb_private11lldb_server8Acceptor6AcceptEbRPNS_10ConnectionE'/>
<use f='llvm/lldb/tools/lldb-server/Acceptor.cpp' l='108' c='_ZN12lldb_private11lldb_server8Acceptor6CreateEN4llvm9StringRefEbRNS_6StatusE'/>
<use f='llvm/lldb/tools/lldb-server/Acceptor.cpp' l='132' c='_ZN12lldb_private11lldb_server8AcceptorC1EOSt10unique_ptrINS_6SocketESt14default_deleteIS3_EEN4llvm9StringRefERKSt8functionIFNSt7__cxx1112basic_string12675456'/>
<size>24</size>
<use f='llvm/lldb/unittests/Host/ConnectionFileDescriptorTest.cpp' l='20'/>
<size>24</size>
<use f='llvm/lldb/unittests/Host/MainLoopTest.cpp' l='23'/>
<use f='llvm/lldb/unittests/Host/MainLoopTest.cpp' l='34' c='_ZN12_GLOBAL__N_112MainLoopTest5SetUpEv'/>
<use f='llvm/lldb/unittests/Host/MainLoopTest.cpp' l='64'/>
<size>24</size>
<use f='llvm/lldb/unittests/Host/SocketAddressTest.cpp' l='21'/>
<size>24</size>
<use f='llvm/lldb/unittests/Host/SocketTest.cpp' l='24'/>
<size>24</size>
<use f='llvm/lldb/unittests/Host/SocketTestUtilities.cpp' l='22' c='_ZL12AcceptThreadPN12lldb_private6SocketEbPS1_PNS_6StatusE'/>
<use f='llvm/lldb/unittests/Host/SocketTestUtilities.cpp' l='23' c='_ZL12AcceptThreadPN12lldb_private6SocketEbPS1_PNS_6StatusE'/>
<use f='llvm/lldb/unittests/Host/SocketTestUtilities.cpp' l='42' c='_ZN12lldb_private22CreateConnectedSocketsEN4llvm9StringRefERKSt8functionIFNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEERKT_EEPSt10unique_ptrIS95875094'/>
<size>24</size>
<use f='llvm/lldb/unittests/tools/lldb-server/tests/TestClient.cpp' l='112' c='_ZN10llgs_tests10TestClient12launchCustomEN4llvm9StringRefENS1_8ArrayRefIS2_EES4_'/>
<size>24</size>
