<dec f='llvm/lldb/tools/lldb-vscode/VSCode.h' l='87' type='lldb::SBTarget'/>
<use f='llvm/lldb/tools/lldb-vscode/ExceptionBreakpoint.cpp' l='20' u='m' c='_ZN11lldb_vscode19ExceptionBreakpoint13SetBreakpointEv'/>
<use f='llvm/lldb/tools/lldb-vscode/ExceptionBreakpoint.cpp' l='30' u='m' c='_ZN11lldb_vscode19ExceptionBreakpoint15ClearBreakpointEv'/>
<offset>512</offset>
<use f='llvm/lldb/tools/lldb-vscode/FunctionBreakpoint.cpp' l='20' u='m' c='_ZN11lldb_vscode18FunctionBreakpoint13SetBreakpointEv'/>
<use f='llvm/lldb/tools/lldb-vscode/JSONUtils.cpp' l='401' u='r' c='_ZN11lldb_vscode12CreateModuleERN4lldb8SBModuleE'/>
<use f='llvm/lldb/tools/lldb-vscode/JSONUtils.cpp' l='602' u='r' c='_ZN11lldb_vscode12CreateSourceERN4lldb7SBFrameERl'/>
<use f='llvm/lldb/tools/lldb-vscode/JSONUtils.cpp' l='610' u='r' c='_ZN11lldb_vscode12CreateSourceERN4lldb7SBFrameERl'/>
<use f='llvm/lldb/tools/lldb-vscode/JSONUtils.cpp' l='615' u='r' c='_ZN11lldb_vscode12CreateSourceERN4lldb7SBFrameERl'/>
<use f='llvm/lldb/tools/lldb-vscode/JSONUtils.cpp' l='623' u='r' c='_ZN11lldb_vscode12CreateSourceERN4lldb7SBFrameERl'/>
<use f='llvm/lldb/tools/lldb-vscode/JSONUtils.cpp' l='635' u='r' c='_ZN11lldb_vscode12CreateSourceERN4lldb7SBFrameERl'/>
<use f='llvm/lldb/tools/lldb-vscode/JSONUtils.cpp' l='636' u='r' c='_ZN11lldb_vscode12CreateSourceERN4lldb7SBFrameERl'/>
<use f='llvm/lldb/tools/lldb-vscode/JSONUtils.cpp' l='637' u='r' c='_ZN11lldb_vscode12CreateSourceERN4lldb7SBFrameERl'/>
<use f='llvm/lldb/tools/lldb-vscode/JSONUtils.cpp' l='638' u='r' c='_ZN11lldb_vscode12CreateSourceERN4lldb7SBFrameERl'/>
<use f='llvm/lldb/tools/lldb-vscode/SourceBreakpoint.cpp' l='19' u='m' c='_ZN11lldb_vscode16SourceBreakpoint13SetBreakpointEN4llvm9StringRefE'/>
<use f='llvm/lldb/tools/lldb-vscode/VSCode.cpp' l='268' u='m' c='_ZN11lldb_vscode6VSCode13GetLLDBThreadERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/VSCode.cpp' l='273' u='m' c='_ZN11lldb_vscode6VSCode12GetLLDBFrameERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/VSCode.cpp' l='348' u='w' c='_ZN11lldb_vscode6VSCode9SetTargetEN4lldb8SBTargetE'/>
<use f='llvm/lldb/tools/lldb-vscode/VSCode.cpp' l='354' u='m' c='_ZN11lldb_vscode6VSCode9SetTargetEN4lldb8SBTargetE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='189' u='m' c='_ZN12_GLOBAL__N_122SendThreadStoppedEventEv'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='315' u='m' c='_ZN12_GLOBAL__N_116SendProcessEventENS_12LaunchMethodE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='321' u='m' c='_ZN12_GLOBAL__N_116SendProcessEventENS_12LaunchMethodE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='569' u='m' c='_ZN12_GLOBAL__N_114request_attachERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='579' u='m' c='_ZN12_GLOBAL__N_114request_attachERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='581' u='m' c='_ZN12_GLOBAL__N_114request_attachERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='591' u='w' c='_ZN12_GLOBAL__N_114request_attachERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='597' u='m' c='_ZN12_GLOBAL__N_114request_attachERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='675' u='m' c='_ZN12_GLOBAL__N_116request_continueERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='725' u='m' c='_ZN12_GLOBAL__N_125request_configurationDoneERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='780' u='m' c='_ZN12_GLOBAL__N_118request_disconnectERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='1218' u='m' c='_ZN12_GLOBAL__N_120request_compileUnitsERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='1220' u='m' c='_ZN12_GLOBAL__N_120request_compileUnitsERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='1266' u='m' c='_ZN12_GLOBAL__N_115request_modulesERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='1267' u='m' c='_ZN12_GLOBAL__N_115request_modulesERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='1485' u='m' c='_ZN12_GLOBAL__N_121request_runInTerminalERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='1503' u='m' c='_ZN12_GLOBAL__N_121request_runInTerminalERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='1593' u='m' c='_ZN12_GLOBAL__N_114request_launchERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='1635' u='m' c='_ZN12_GLOBAL__N_114request_launchERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='1641' u='w' c='_ZN12_GLOBAL__N_114request_launchERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='1750' u='m' c='_ZN12_GLOBAL__N_113request_pauseERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='2009' u='m' c='_ZN12_GLOBAL__N_122request_setBreakpointsERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='2198' u='m' c='_ZN12_GLOBAL__N_130request_setFunctionBreakpointsERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='2554' u='m' c='_ZN12_GLOBAL__N_115request_threadsERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='2918' u='m' c='_ZN12_GLOBAL__N_133request__testGetTargetBreakpointsERKN4llvm4json6ObjectE'/>
<use f='llvm/lldb/tools/lldb-vscode/lldb-vscode.cpp' l='2919' u='m' c='_ZN12_GLOBAL__N_133request__testGetTargetBreakpointsERKN4llvm4json6ObjectE'/>
