<dec f='llvm/llvm/include/llvm/Demangle/ItaniumDemangle.h' l='935' type='2'/>
<use f='llvm/llvm/include/llvm/Demangle/ItaniumDemangle.h' l='961' c='_ZNK4llvm16itanium_demangle26SyntheticTemplateParamName9printLeftERNS0_12OutputStreamE'/>
<use f='llvm/llvm/include/llvm/Demangle/ItaniumDemangle.h' l='5545' c='_ZN4llvm16itanium_demangle22AbstractManglingParser22parseTemplateParamDeclEv'/>
