<def f='llvm/llvm/include/llvm/LTO/Config.h' l='40' ll='252'/>
<use f='llvm/llvm/include/llvm/LTO/Config.h' l='270' c='_ZN4llvm3lto14LTOLLVMContextC1ERKNS0_6ConfigE'/>
<use f='llvm/llvm/include/llvm/LTO/LTO.h' l='66' c='_ZN4llvm18computeLTOCacheKeyERNS_11SmallStringILj40EEERKNS_3lto6ConfigERKNS_18ModuleSummaryIndexENS_9StringRefERKNS_9StringMapISt13unordered_setImSt4h14040188'/>
<use f='llvm/llvm/include/llvm/LTO/LTO.h' l='225'/>
<use f='llvm/llvm/include/llvm/LTO/LTO.h' l='278' c='_ZN4llvm3lto3LTOC1ENS0_6ConfigESt8functionIFSt10unique_ptrINS0_15ThinBackendProcESt14default_deleteIS5_EERKS2_RNS_18ModuleSummaryIndexERNS_9StringMapI11344618'/>
<use f='llvm/llvm/include/llvm/LTO/LTO.h' l='307'/>
<use f='llvm/llvm/include/llvm/LTO/LTO.h' l='311' c='_ZN4llvm3lto3LTO15RegularLTOStateC1EjRKNS0_6ConfigE'/>
<use f='llvm/llvm/include/llvm/LTO/LTOBackend.h' l='37' c='_ZN4llvm3lto3optERKNS0_6ConfigEPNS_13TargetMachineEjRNS_6ModuleEbPNS_18ModuleSummaryIndexEPKS8_RKSt6vectorIhSaIhEE'/>
<use f='llvm/llvm/include/llvm/LTO/LTOBackend.h' l='44' c='_ZN4llvm3lto7backendERKNS0_6ConfigESt8functionIFSt10unique_ptrINS0_18NativeObjectStreamESt14default_deleteIS6_EEjEEjS5_INS_6ModuleES7_ISC_EERNS_18ModuleSummaryIndexE'/>
<use f='llvm/llvm/include/llvm/LTO/LTOBackend.h' l='49' c='_ZN4llvm3lto11thinBackendERKNS0_6ConfigEjSt8functionIFSt10unique_ptrINS0_18NativeObjectStreamESt14default_deleteIS6_EEjEERNS_6ModuleERKNS_18ModuleSumm11476089'/>
<use f='llvm/clang/lib/CodeGen/BackendUtil.cpp' l='1467' c='_ZL17runThinLTOBackendRN5clang17DiagnosticsEngineEPN4llvm18ModuleSummaryIndexEPNS2_6ModuleERKNS_19HeaderSearchOptionsERKNS_14CodeGenOptionsERKNS_13Tar13930536'/>
<size>1248</size>
<doc f='llvm/llvm/include/llvm/LTO/Config.h' l='38'>/// LTO configuration. A linker can configure LTO by setting fields in this data
/// structure and passing it to the lto::LTO constructor.</doc>
<mbr r='llvm::lto::Config::CPU' o='0' t='std::string'/>
<mbr r='llvm::lto::Config::Options' o='256' t='llvm::TargetOptions'/>
<mbr r='llvm::lto::Config::MAttrs' o='2560' t='std::vector&lt;std::string&gt;'/>
<mbr r='llvm::lto::Config::PassPlugins' o='2752' t='std::vector&lt;std::string&gt;'/>
<mbr r='llvm::lto::Config::PreCodeGenPassesHook' o='2944' t='std::function&lt;void (legacy::PassManager &amp;)&gt;'/>
<mbr r='llvm::lto::Config::RelocModel' o='3200' t='Optional&lt;Reloc::Model&gt;'/>
<mbr r='llvm::lto::Config::CodeModel' o='3264' t='Optional&lt;CodeModel::Model&gt;'/>
<mbr r='llvm::lto::Config::CGOptLevel' o='3328' t='CodeGenOpt::Level'/>
<mbr r='llvm::lto::Config::CGFileType' o='3360' t='llvm::CodeGenFileType'/>
<mbr r='llvm::lto::Config::OptLevel' o='3392' t='unsigned int'/>
<mbr r='llvm::lto::Config::DisableVerify' o='3424' t='bool'/>
<mbr r='llvm::lto::Config::UseNewPM' o='3432' t='bool'/>
<mbr r='llvm::lto::Config::Freestanding' o='3440' t='bool'/>
<mbr r='llvm::lto::Config::CodeGenOnly' o='3448' t='bool'/>
<mbr r='llvm::lto::Config::RunCSIRInstr' o='3456' t='bool'/>
<mbr r='llvm::lto::Config::HasWholeProgramVisibility' o='3464' t='bool'/>
<mbr r='llvm::lto::Config::AlwaysEmitRegularLTOObj' o='3472' t='bool'/>
<mbr r='llvm::lto::Config::OptPipeline' o='3520' t='std::string'/>
<mbr r='llvm::lto::Config::AAPipeline' o='3776' t='std::string'/>
<mbr r='llvm::lto::Config::OverrideTriple' o='4032' t='std::string'/>
<mbr r='llvm::lto::Config::DefaultTriple' o='4288' t='std::string'/>
<mbr r='llvm::lto::Config::CSIRProfile' o='4544' t='std::string'/>
<mbr r='llvm::lto::Config::SampleProfile' o='4800' t='std::string'/>
<mbr r='llvm::lto::Config::ProfileRemapping' o='5056' t='std::string'/>
<mbr r='llvm::lto::Config::DwoDir' o='5312' t='std::string'/>
<mbr r='llvm::lto::Config::SplitDwarfFile' o='5568' t='std::string'/>
<mbr r='llvm::lto::Config::SplitDwarfOutput' o='5824' t='std::string'/>
<mbr r='llvm::lto::Config::RemarksFilename' o='6080' t='std::string'/>
<mbr r='llvm::lto::Config::RemarksPasses' o='6336' t='std::string'/>
<mbr r='llvm::lto::Config::RemarksWithHotness' o='6592' t='bool'/>
<mbr r='llvm::lto::Config::RemarksHotnessThreshold' o='6656' t='llvm::Optional&lt;uint64_t&gt;'/>
<mbr r='llvm::lto::Config::RemarksFormat' o='6784' t='std::string'/>
<mbr r='llvm::lto::Config::DebugPassManager' o='7040' t='bool'/>
<mbr r='llvm::lto::Config::StatsFile' o='7104' t='std::string'/>
<mbr r='llvm::lto::Config::ThinLTOModulesToCompile' o='7360' t='std::vector&lt;std::string&gt;'/>
<mbr r='llvm::lto::Config::TimeTraceEnabled' o='7552' t='bool'/>
<mbr r='llvm::lto::Config::TimeTraceGranularity' o='7584' t='unsigned int'/>
<mbr r='llvm::lto::Config::ShouldDiscardValueNames' o='7616' t='bool'/>
<mbr r='llvm::lto::Config::DiagHandler' o='7680' t='llvm::DiagnosticHandlerFunction'/>
<mbr r='llvm::lto::Config::ResolutionFile' o='7936' t='std::unique_ptr&lt;raw_ostream&gt;'/>
<mbr r='llvm::lto::Config::PTO' o='8000' t='llvm::PipelineTuningOptions'/>
<mbr r='llvm::lto::Config::PreOptModuleHook' o='8192' t='llvm::lto::Config::ModuleHookFn'/>
<mbr r='llvm::lto::Config::PostPromoteModuleHook' o='8448' t='llvm::lto::Config::ModuleHookFn'/>
<mbr r='llvm::lto::Config::PostInternalizeModuleHook' o='8704' t='llvm::lto::Config::ModuleHookFn'/>
<mbr r='llvm::lto::Config::PostImportModuleHook' o='8960' t='llvm::lto::Config::ModuleHookFn'/>
<mbr r='llvm::lto::Config::PostOptModuleHook' o='9216' t='llvm::lto::Config::ModuleHookFn'/>
<mbr r='llvm::lto::Config::PreCodeGenModuleHook' o='9472' t='llvm::lto::Config::ModuleHookFn'/>
<mbr r='llvm::lto::Config::CombinedIndexHook' o='9728' t='llvm::lto::Config::CombinedIndexHookFn'/>
<fun r='_ZN4llvm3lto6Config12addSaveTempsENSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEb'/>
<use f='llvm/lld/COFF/LTO.cpp' l='62' c='_ZL12createConfigv'/>
<use f='llvm/lld/COFF/LTO.cpp' l='63' c='_ZL12createConfigv'/>
<size>1248</size>
<use f='llvm/lld/ELF/LTO.cpp' l='79' c='_ZL12createConfigv'/>
<use f='llvm/lld/ELF/LTO.cpp' l='80' c='_ZL12createConfigv'/>
<size>1248</size>
<use f='llvm/lld/MachO/LTO.cpp' l='28' c='_ZL12createConfigv'/>
<use f='llvm/lld/MachO/LTO.cpp' l='29' c='_ZL12createConfigv'/>
<size>1248</size>
<use f='llvm/lld/wasm/LTO.cpp' l='43' c='_ZN3lld4wasmL9createLTOEv'/>
<size>1248</size>
<use f='llvm/llvm/lib/LTO/LTO.cpp' l='76' c='_ZN4llvm18computeLTOCacheKeyERNS_11SmallStringILj40EEERKNS_3lto6ConfigERKNS_18ModuleSummaryIndexENS_9StringRefERKNS_9StringMapISt13unordered_setImSt4h14040188'/>
<use f='llvm/llvm/lib/LTO/LTO.cpp' l='483' c='_ZN4llvm3lto3LTO15RegularLTOStateC1EjRKNS0_6ConfigE'/>
<use f='llvm/llvm/lib/LTO/LTO.cpp' l='495' c='_ZN4llvm3lto3LTOC1ENS0_6ConfigESt8functionIFSt10unique_ptrINS0_15ThinBackendProcESt14default_deleteIS5_EERKS2_RNS_18ModuleSummaryIndexERNS_9StringMapI11344618'/>
<use f='llvm/llvm/lib/LTO/LTO.cpp' l='1093'/>
<use f='llvm/llvm/lib/LTO/LTO.cpp' l='1098' c='_ZN4llvm3lto15ThinBackendProcC1ERKNS0_6ConfigERNS_18ModuleSummaryIndexERKNS_9StringMapINS_8DenseMapImPNS_18GlobalValueSummaryENS_12DenseMapInfoImEENS_10767003'/>
<use f='llvm/llvm/lib/LTO/LTO.cpp' l='1127' c='_ZN12_GLOBAL__N_120InProcessThinBackendC1ERKN4llvm3lto6ConfigERNS1_18ModuleSummaryIndexENS1_18ThreadPoolStrategyERKNS1_9StringMapINS1_8DenseMapImPNS1_5699889'/>
<use f='llvm/llvm/lib/LTO/LTO.cpp' l='1234' c='_ZN4llvm3lto26createInProcessThinBackendENS_18ThreadPoolStrategyE'/>
<use f='llvm/llvm/lib/LTO/LTO.cpp' l='1272' c='_ZN12_GLOBAL__N_123WriteIndexesThinBackendC1ERKN4llvm3lto6ConfigERNS1_18ModuleSummaryIndexERKNS1_9StringMapINS1_8DenseMapImPNS1_18GlobalValueSummaryEN8993031'/>
<use f='llvm/llvm/lib/LTO/LTO.cpp' l='1328' c='_ZN4llvm3lto29createWriteIndexesThinBackendENSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEES6_bPNS_14raw_fd_ostreamESt8functionIFvRKS6_EE'/>
<size>1248</size>
<use f='llvm/llvm/lib/LTO/LTOBackend.cpp' l='180' c='_ZL19createTargetMachineRKN4llvm3lto6ConfigEPKNS_6TargetERNS_6ModuleE'/>
<use f='llvm/llvm/lib/LTO/LTOBackend.cpp' l='207' c='_ZL14runNewPMPassesRKN4llvm3lto6ConfigERNS_6ModuleEPNS_13TargetMachineEjbPNS_18ModuleSummaryIndexEPKS8_'/>
<use f='llvm/llvm/lib/LTO/LTOBackend.cpp' l='291' c='_ZL20runNewPMCustomPassesRKN4llvm3lto6ConfigERNS_6ModuleEPNS_13TargetMachineENSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEESD_b'/>
<use f='llvm/llvm/lib/LTO/LTOBackend.cpp' l='342' c='_ZL14runOldPMPassesRKN4llvm3lto6ConfigERNS_6ModuleEPNS_13TargetMachineEbPNS_18ModuleSummaryIndexEPKS8_'/>
<use f='llvm/llvm/lib/LTO/LTOBackend.cpp' l='375' c='_ZN4llvm3lto3optERKNS0_6ConfigEPNS_13TargetMachineEjRNS_6ModuleEbPNS_18ModuleSummaryIndexEPKS8_RKSt6vectorIhSaIhEE'/>
<use f='llvm/llvm/lib/LTO/LTOBackend.cpp' l='408' c='_ZL7codegenRKN4llvm3lto6ConfigEPNS_13TargetMachineESt8functionIFSt10unique_ptrINS0_18NativeObjectStreamESt14default_deleteIS8_EEjEEjRNS_6ModuleERKNS_18ModuleSummaryIndexE'/>
<use f='llvm/llvm/lib/LTO/LTOBackend.cpp' l='457' c='_ZL12splitCodeGenRKN4llvm3lto6ConfigEPNS_13TargetMachineESt8functionIFSt10unique_ptrINS0_18NativeObjectStreamESt14default_deleteIS8_EEjEEjS7_INS_6Modu4005855'/>
<use f='llvm/llvm/lib/LTO/LTOBackend.cpp' l='509' c='_ZL19initAndLookupTargetRKN4llvm3lto6ConfigERNS_6ModuleE'/>
<use f='llvm/llvm/lib/LTO/LTOBackend.cpp' l='534' c='_ZN4llvm3lto7backendERKNS0_6ConfigESt8functionIFSt10unique_ptrINS0_18NativeObjectStreamESt14default_deleteIS6_EEjEEjS5_INS_6ModuleES7_ISC_EERNS_18ModuleSummaryIndexE'/>
<use f='llvm/llvm/lib/LTO/LTOBackend.cpp' l='581' c='_ZN4llvm3lto11thinBackendERKNS0_6ConfigEjSt8functionIFSt10unique_ptrINS0_18NativeObjectStreamESt14default_deleteIS6_EEjEERNS_6ModuleERKNS_18ModuleSumm11476089'/>
<size>1248</size>
<fun r='_ZN4llvm3lto6Config12addSaveTempsENSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEb'/>
<use f='llvm/llvm/lib/LTO/ThinLTOCodeGenerator.cpp' l='349' c='_ZN12_GLOBAL__N_116ModuleCacheEntryC1EN4llvm9StringRefERKNS1_18ModuleSummaryIndexES2_RKNS1_9StringMapISt13unordered_setImSt4hashImESt8equal_toImESaImE332739'/>
<size>1248</size>
<use f='llvm/llvm/tools/llvm-lto2/llvm-lto2.cpp' l='238' c='_ZL3runiPPc'/>
<size>1248</size>
