<dec f='llvm/llvm/lib/CodeGen/MIRParser/MIRParser.cpp' l='58' type='std::unique_ptr&lt;PerTargetMIParsingState&gt;'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIRParser.cpp' l='429' u='m' c='_ZN4llvm13MIRParserImpl25initializeMachineFunctionERKNS_4yaml15MachineFunctionERNS_15MachineFunctionE'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIRParser.cpp' l='431' u='m' c='_ZN4llvm13MIRParserImpl25initializeMachineFunctionERKNS_4yaml15MachineFunctionERNS_15MachineFunctionE'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIRParser.cpp' l='433' u='m' c='_ZN4llvm13MIRParserImpl25initializeMachineFunctionERKNS_4yaml15MachineFunctionERNS_15MachineFunctionE'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIRParser.cpp' l='450' u='m' c='_ZN4llvm13MIRParserImpl25initializeMachineFunctionERKNS_4yaml15MachineFunctionERNS_15MachineFunctionE'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIRParser.cpp' l='563' u='m' c='_ZN4llvm13MIRParserImpl17parseRegisterInfoERNS_25PerFunctionMIParsingStateERKNS_4yaml15MachineFunctionE'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIRParser.cpp' l='568' u='m' c='_ZN4llvm13MIRParserImpl17parseRegisterInfoERNS_25PerFunctionMIParsingStateERKNS_4yaml15MachineFunctionE'/>
<offset>4096</offset>
