<use f='llvm/clang/include/clang/Frontend/CompilerInstance.h' l='117'/>
<use f='llvm/clang/include/clang/Frontend/CompilerInstance.h' l='572' c='_ZNK5clang16CompilerInstance16getFrontendTimerEv'/>
<def f='llvm/llvm/include/llvm/Support/Timer.h' l='76' ll='134'/>
<use f='llvm/llvm/include/llvm/Support/Timer.h' l='85'/>
<use f='llvm/llvm/include/llvm/Support/Timer.h' l='86'/>
<use f='llvm/llvm/include/llvm/Support/Timer.h' l='94' c='_ZN4llvm5TimerC1ERKS0_'/>
<use f='llvm/llvm/include/llvm/Support/Timer.h' l='97' c='_ZN4llvm5TimeraSERKS0_'/>
<use f='llvm/llvm/include/llvm/Support/Timer.h' l='97' c='_ZN4llvm5TimeraSERKS0_'/>
<use f='llvm/llvm/include/llvm/Support/Timer.h' l='141'/>
<use f='llvm/llvm/include/llvm/Support/Timer.h' l='145' c='_ZN4llvm10TimeRegionC1ERNS_5TimerE'/>
<use f='llvm/llvm/include/llvm/Support/Timer.h' l='148' c='_ZN4llvm10TimeRegionC1EPNS_5TimerE'/>
<use f='llvm/llvm/include/llvm/Support/Timer.h' l='188'/>
<use f='llvm/llvm/include/llvm/Support/Timer.h' l='239'/>
<use f='llvm/llvm/include/llvm/Support/Timer.h' l='241' c='_ZN4llvm10TimerGroup8addTimerERNS_5TimerE'/>
<use f='llvm/llvm/include/llvm/Support/Timer.h' l='242' c='_ZN4llvm10TimerGroup11removeTimerERNS_5TimerE'/>
<use f='llvm/clang/include/clang/Serialization/ASTReader.h' l='439'/>
<use f='llvm/clang/include/clang/Serialization/ASTReader.h' l='1513' c='_ZN5clang9ASTReaderC1ERNS_12PreprocessorERNS_19InMemoryModuleCacheEPNS_10ASTContextERKNS_18PCHContainerReaderEN4llvm8ArrayRefISt10shared_ptrINS_19Modu2786809'/>
<size>160</size>
<doc f='llvm/llvm/include/llvm/Support/Timer.h' l='69'>/// This class is used to track the amount of time spent between invocations of
/// its startTimer()/stopTimer() methods.  Given appropriate OS support it can
/// also keep track of the RSS of the program at various points.  By default,
/// the Timer will print the amount of time it has captured to standard error
/// when the last timer is destroyed, otherwise it is printed when its
/// TimerGroup is destroyed.  Timers do not print their information if they are
/// never started.</doc>
<mbr r='llvm::Timer::Time' o='0' t='llvm::TimeRecord'/>
<mbr r='llvm::Timer::StartTime' o='256' t='llvm::TimeRecord'/>
<mbr r='llvm::Timer::Name' o='512' t='std::string'/>
<mbr r='llvm::Timer::Description' o='768' t='std::string'/>
<mbr r='llvm::Timer::Running' o='1024' t='bool'/>
<mbr r='llvm::Timer::Triggered' o='1032' t='bool'/>
<mbr r='llvm::Timer::TG' o='1088' t='llvm::TimerGroup *'/>
<mbr r='llvm::Timer::Prev' o='1152' t='llvm::Timer **'/>
<mbr r='llvm::Timer::Next' o='1216' t='llvm::Timer *'/>
<fun r='_ZN4llvm5TimerC1ENS_9StringRefES1_'/>
<fun r='_ZN4llvm5TimerC1ENS_9StringRefES1_RNS_10TimerGroupE'/>
<fun r='_ZN4llvm5TimerC1ERKS0_'/>
<fun r='_ZN4llvm5TimeraSERKS0_'/>
<fun r='_ZN4llvm5TimerD1Ev'/>
<fun r='_ZN4llvm5TimerC1Ev'/>
<fun r='_ZN4llvm5Timer4initENS_9StringRefES1_'/>
<fun r='_ZN4llvm5Timer4initENS_9StringRefES1_RNS_10TimerGroupE'/>
<fun r='_ZNK4llvm5Timer7getNameB5cxx11Ev'/>
<fun r='_ZNK4llvm5Timer14getDescriptionB5cxx11Ev'/>
<fun r='_ZNK4llvm5Timer13isInitializedEv'/>
<fun r='_ZNK4llvm5Timer9isRunningEv'/>
<fun r='_ZNK4llvm5Timer12hasTriggeredEv'/>
<fun r='_ZN4llvm5Timer10startTimerEv'/>
<fun r='_ZN4llvm5Timer9stopTimerEv'/>
<fun r='_ZN4llvm5Timer5clearEv'/>
<fun r='_ZNK4llvm5Timer12getTotalTimeEv'/>
<use f='llvm/llvm/include/llvm/IR/PassTimingInfo.h' l='39' c='_ZN4llvm12getPassTimerEPNS_4PassE'/>
<use f='llvm/llvm/include/llvm/IR/PassTimingInfo.h' l='55'/>
<use f='llvm/llvm/include/llvm/IR/PassTimingInfo.h' l='60'/>
<use f='llvm/llvm/include/llvm/IR/PassTimingInfo.h' l='94' c='_ZN4llvm17TimePassesHandler12getPassTimerENS_9StringRefE'/>
<use f='llvm/clang/lib/CodeGen/BackendUtil.cpp' l='108'/>
<size>160</size>
<use f='llvm/clang/lib/CodeGen/CodeGenAction.cpp' l='117'/>
<size>160</size>
<use f='llvm/clang/lib/Frontend/CompilerInstance.cpp' l='618' c='_ZN5clang16CompilerInstance19createFrontendTimerEv'/>
<use f='llvm/clang/lib/Frontend/CompilerInstance.cpp' l='1483' c='_ZN5clang16CompilerInstance15createASTReaderEv'/>
<use f='llvm/clang/lib/Frontend/CompilerInstance.cpp' l='1486' c='_ZN5clang16CompilerInstance15createASTReaderEv'/>
<use f='llvm/clang/lib/Frontend/CompilerInstance.cpp' l='1515' c='_ZN5clang16CompilerInstance14loadModuleFileEN4llvm9StringRefE'/>
<use f='llvm/clang/lib/Frontend/CompilerInstance.cpp' l='1690' c='_ZN5clang16CompilerInstance29findOrCompileModuleAndReadASTEN4llvm9StringRefENS_14SourceLocationES3_b'/>
<size>160</size>
<use f='llvm/clang/lib/Lex/Pragma.cpp' l='1047' c='_ZN12_GLOBAL__N_118PragmaDebugHandler12HandlePragmaERN5clang12PreprocessorENS1_16PragmaIntroducerERNS1_5TokenE'/>
<size>160</size>
<use f='llvm/clang/lib/Serialization/ASTReader.cpp' l='11641' c='_ZN5clang9ASTReaderC1ERNS_12PreprocessorERNS_19InMemoryModuleCacheEPNS_10ASTContextERKNS_18PCHContainerReaderEN4llvm8ArrayRefISt10shared_ptrINS_19Modu2786809'/>
<size>160</size>
<use f='llvm/clang/lib/StaticAnalyzer/Frontend/AnalysisConsumer.cpp' l='112'/>
<use f='llvm/clang/lib/StaticAnalyzer/Frontend/AnalysisConsumer.cpp' l='113'/>
<use f='llvm/clang/lib/StaticAnalyzer/Frontend/AnalysisConsumer.cpp' l='114'/>
<use f='llvm/clang/lib/StaticAnalyzer/Frontend/AnalysisConsumer.cpp' l='130' c='_ZN12_GLOBAL__N_116AnalysisConsumerC1ERN5clang16CompilerInstanceERKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEN4llvm18IntrusiveRefCntPtrINS1_13950761'/>
<use f='llvm/clang/lib/StaticAnalyzer/Frontend/AnalysisConsumer.cpp' l='132' c='_ZN12_GLOBAL__N_116AnalysisConsumerC1ERN5clang16CompilerInstanceERKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEN4llvm18IntrusiveRefCntPtrINS1_13950761'/>
<use f='llvm/clang/lib/StaticAnalyzer/Frontend/AnalysisConsumer.cpp' l='134' c='_ZN12_GLOBAL__N_116AnalysisConsumerC1ERN5clang16CompilerInstanceERKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEN4llvm18IntrusiveRefCntPtrINS1_13950761'/>
<size>160</size>
<use f='llvm/llvm/include/llvm/TableGen/Record.h' l='1742'/>
<size>160</size>
<use f='llvm/llvm/lib/IR/PassTimingInfo.cpp' l='65'/>
<use f='llvm/llvm/lib/IR/PassTimingInfo.cpp' l='87' c='_ZN4llvm12_GLOBAL__N_16legacy14PassTimingInfo12getPassTimerEPNS_4PassEPv'/>
<use f='llvm/llvm/lib/IR/PassTimingInfo.cpp' l='92' c='_ZN4llvm12_GLOBAL__N_16legacy14PassTimingInfo12newPassTimerENS_9StringRefES3_'/>
<use f='llvm/llvm/lib/IR/PassTimingInfo.cpp' l='122' c='_ZN4llvm12_GLOBAL__N_16legacy14PassTimingInfo12newPassTimerENS_9StringRefES3_'/>
<use f='llvm/llvm/lib/IR/PassTimingInfo.cpp' l='128' c='_ZN4llvm12_GLOBAL__N_16legacy14PassTimingInfo12newPassTimerENS_9StringRefES3_'/>
<use f='llvm/llvm/lib/IR/PassTimingInfo.cpp' l='131' c='_ZN4llvm12_GLOBAL__N_16legacy14PassTimingInfo12getPassTimerEPNS_4PassEPv'/>
<use f='llvm/llvm/lib/IR/PassTimingInfo.cpp' l='137' c='_ZN4llvm12_GLOBAL__N_16legacy14PassTimingInfo12getPassTimerEPNS_4PassEPv'/>
<use f='llvm/llvm/lib/IR/PassTimingInfo.cpp' l='153' c='_ZN4llvm12getPassTimerEPNS_4PassE'/>
<use f='llvm/llvm/lib/IR/PassTimingInfo.cpp' l='173' c='_ZN4llvm17TimePassesHandler12getPassTimerENS_9StringRefE'/>
<use f='llvm/llvm/lib/IR/PassTimingInfo.cpp' l='177' c='_ZN4llvm17TimePassesHandler12getPassTimerENS_9StringRefE'/>
<use f='llvm/llvm/lib/IR/PassTimingInfo.cpp' l='188' c='_ZN4llvm17TimePassesHandler12getPassTimerENS_9StringRefE'/>
<use f='llvm/llvm/lib/IR/PassTimingInfo.cpp' l='188' c='_ZN4llvm17TimePassesHandler12getPassTimerENS_9StringRefE'/>
<use f='llvm/llvm/lib/IR/PassTimingInfo.cpp' l='219' c='_ZNK4llvm17TimePassesHandler4dumpEv'/>
<use f='llvm/llvm/lib/IR/PassTimingInfo.cpp' l='229' c='_ZNK4llvm17TimePassesHandler4dumpEv'/>
<use f='llvm/llvm/lib/IR/PassTimingInfo.cpp' l='237' c='_ZN4llvm17TimePassesHandler10startTimerENS_9StringRefE'/>
<use f='llvm/llvm/lib/IR/PassTimingInfo.cpp' l='245' c='_ZN4llvm17TimePassesHandler9stopTimerENS_9StringRefE'/>
<size>160</size>
<use f='llvm/llvm/lib/Support/Timer.cpp' l='192'/>
<use f='llvm/llvm/lib/Support/Timer.cpp' l='203' c='_ZN12_GLOBAL__N_112Name2PairMap3getEN4llvm9StringRefES2_S2_S2_'/>
<use f='llvm/llvm/lib/Support/Timer.cpp' l='212' c='_ZN12_GLOBAL__N_112Name2PairMap3getEN4llvm9StringRefES2_S2_S2_'/>
<use f='llvm/llvm/lib/Support/Timer.cpp' l='274' c='_ZN4llvm10TimerGroup11removeTimerERNS_5TimerE'/>
<use f='llvm/llvm/lib/Support/Timer.cpp' l='297' c='_ZN4llvm10TimerGroup8addTimerERNS_5TimerE'/>
<use f='llvm/llvm/lib/Support/Timer.cpp' l='360' c='_ZN4llvm10TimerGroup18prepareToPrintListEb'/>
<use f='llvm/llvm/lib/Support/Timer.cpp' l='390' c='_ZN4llvm10TimerGroup5clearEv'/>
<size>160</size>
<fun r='_ZN4llvm5Timer4initENS_9StringRefES1_'/>
<fun r='_ZN4llvm5Timer4initENS_9StringRefES1_RNS_10TimerGroupE'/>
<fun r='_ZN4llvm5TimerD1Ev'/>
<fun r='_ZN4llvm5Timer10startTimerEv'/>
<fun r='_ZN4llvm5Timer9stopTimerEv'/>
<fun r='_ZN4llvm5Timer5clearEv'/>
<use f='llvm/llvm/lib/TableGen/Record.cpp' l='2607' c='_ZN4llvm12RecordKeeper10startTimerENS_9StringRefE'/>
<size>160</size>
<use f='llvm/llvm/tools/llvm-jitlink/llvm-jitlink.cpp' l='1267'/>
<use f='llvm/llvm/tools/llvm-jitlink/llvm-jitlink.cpp' l='1268'/>
<use f='llvm/llvm/tools/llvm-jitlink/llvm-jitlink.cpp' l='1269'/>
<size>160</size>
<use f='llvm/llvm/tools/llvm-rtdyld/llvm-rtdyld.cpp' l='151'/>
<use f='llvm/llvm/tools/llvm-rtdyld/llvm-rtdyld.cpp' l='152'/>
<use f='llvm/llvm/tools/llvm-rtdyld/llvm-rtdyld.cpp' l='153'/>
<size>160</size>
<use f='llvm/llvm/unittests/Support/TimerTest.cpp' l='35' c='_ZN12_GLOBAL__N_121Timer_Additivity_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/Support/TimerTest.cpp' l='52' c='_ZN12_GLOBAL__N_127Timer_CheckIfTriggered_Test8TestBodyEv'/>
<size>160</size>
<use f='llvm/llvm/utils/yaml-bench/YAMLBench.cpp' l='147' c='_ZL9benchmarkRN4llvm10TimerGroupENS_9StringRefES2_S2_'/>
<use f='llvm/llvm/utils/yaml-bench/YAMLBench.cpp' l='157' c='_ZL9benchmarkRN4llvm10TimerGroupENS_9StringRefES2_S2_'/>
<use f='llvm/llvm/utils/yaml-bench/YAMLBench.cpp' l='165' c='_ZL9benchmarkRN4llvm10TimerGroupENS_9StringRefES2_S2_'/>
<size>160</size>
