<def f='llvm/llvm/include/llvm/ExecutionEngine/JITLink/JITLink.h' l='58' ll='95'/>
<use f='llvm/llvm/include/llvm/ExecutionEngine/JITLink/JITLink.h' l='170'/>
<use f='llvm/llvm/include/llvm/ExecutionEngine/JITLink/JITLink.h' l='227' c='_ZN4llvm7jitlink5Block7addEdgeEhjRNS0_6SymbolEl'/>
<use f='llvm/llvm/include/llvm/ExecutionEngine/JITLink/JITLink.h' l='232' c='_ZN4llvm7jitlink5Block7addEdgeERKNS0_4EdgeE'/>
<use f='llvm/llvm/include/llvm/ExecutionEngine/JITLink/JITLink.h' l='262'/>
<use f='llvm/llvm/include/llvm/ExecutionEngine/JITLink/JITLink.h' l='537' c='_ZN4llvm7jitlink9printEdgeERNS_11raw_ostreamERKNS0_5BlockERKNS0_4EdgeENS_9StringRefE'/>
<size>32</size>
<doc f='llvm/llvm/include/llvm/ExecutionEngine/JITLink/JITLink.h' l='57'>/// Represents fixups and constraints in the LinkGraph.</doc>
<fun r='_ZN4llvm7jitlink4EdgeC1EhjRNS0_6SymbolEl'/>
<fun r='_ZNK4llvm7jitlink4Edge9getOffsetEv'/>
<fun r='_ZN4llvm7jitlink4Edge9setOffsetEj'/>
<fun r='_ZNK4llvm7jitlink4Edge7getKindEv'/>
<fun r='_ZN4llvm7jitlink4Edge7setKindEh'/>
<fun r='_ZNK4llvm7jitlink4Edge12isRelocationEv'/>
<fun r='_ZNK4llvm7jitlink4Edge13getRelocationEv'/>
<fun r='_ZNK4llvm7jitlink4Edge11isKeepAliveEv'/>
<fun r='_ZNK4llvm7jitlink4Edge9getTargetEv'/>
<fun r='_ZN4llvm7jitlink4Edge9setTargetERNS0_6SymbolE'/>
<fun r='_ZNK4llvm7jitlink4Edge9getAddendEv'/>
<fun r='_ZN4llvm7jitlink4Edge9setAddendEl'/>
<mbr r='llvm::jitlink::Edge::Target' o='0' t='llvm::jitlink::Symbol *'/>
<mbr r='llvm::jitlink::Edge::Offset' o='64' t='llvm::jitlink::Edge::OffsetT'/>
<mbr r='llvm::jitlink::Edge::Addend' o='128' t='llvm::jitlink::Edge::AddendT'/>
<mbr r='llvm::jitlink::Edge::K' o='192' t='llvm::jitlink::Edge::Kind'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/EHFrameSupportImpl.h' l='67' c='_ZN4llvm7jitlink16EHFrameEdgeFixer10EdgeTargetC1ERKNS0_4EdgeE'/>
<size>32</size>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/ELF_x86_64.cpp' l='39' c='_ZNK12_GLOBAL__N_129ELF_x86_64_GOTAndStubsBuilder9isGOTEdgeERN4llvm7jitlink4EdgeE'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/ELF_x86_64.cpp' l='50' c='_ZN12_GLOBAL__N_129ELF_x86_64_GOTAndStubsBuilder10fixGOTEdgeERN4llvm7jitlink4EdgeERNS2_6SymbolE'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/ELF_x86_64.cpp' l='64' c='_ZN12_GLOBAL__N_129ELF_x86_64_GOTAndStubsBuilder20isExternalBranchEdgeERN4llvm7jitlink4EdgeE'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/ELF_x86_64.cpp' l='77' c='_ZN12_GLOBAL__N_129ELF_x86_64_GOTAndStubsBuilder21fixExternalBranchEdgeERN4llvm7jitlink4EdgeERNS2_6SymbolE'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/ELF_x86_64.cpp' l='705' c='_ZN4llvm7jitlink19ELFJITLinker_x86_6421targetOutOfRangeErrorERKNS0_5BlockERKNS0_4EdgeE'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/ELF_x86_64.cpp' l='716' c='_ZNK4llvm7jitlink19ELFJITLinker_x86_6410applyFixupERNS0_5BlockERKNS0_4EdgeEPc'/>
<size>32</size>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/JITLink.cpp' l='140' c='_ZN4llvm7jitlink9printEdgeERNS_11raw_ostreamERKNS0_5BlockERKNS0_4EdgeENS_9StringRefE'/>
<size>32</size>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/MachO_arm64.cpp' l='413' c='_ZNK12_GLOBAL__N_130MachO_arm64_GOTAndStubsBuilder9isGOTEdgeERN4llvm7jitlink4EdgeE'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/MachO_arm64.cpp' l='425' c='_ZN12_GLOBAL__N_130MachO_arm64_GOTAndStubsBuilder10fixGOTEdgeERN4llvm7jitlink4EdgeERNS2_6SymbolE'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/MachO_arm64.cpp' l='436' c='_ZN12_GLOBAL__N_130MachO_arm64_GOTAndStubsBuilder20isExternalBranchEdgeERN4llvm7jitlink4EdgeE'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/MachO_arm64.cpp' l='449' c='_ZN12_GLOBAL__N_130MachO_arm64_GOTAndStubsBuilder21fixExternalBranchEdgeERN4llvm7jitlink4EdgeERNS2_6SymbolE'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/MachO_arm64.cpp' l='513' c='_ZN4llvm7jitlink20MachOJITLinker_arm6421targetOutOfRangeErrorERKNS0_5BlockERKNS0_4EdgeE'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/MachO_arm64.cpp' l='540' c='_ZNK4llvm7jitlink20MachOJITLinker_arm6410applyFixupERNS0_5BlockERKNS0_4EdgeEPc'/>
<size>32</size>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/MachO_x86_64.cpp' l='375' c='_ZNK12_GLOBAL__N_131MachO_x86_64_GOTAndStubsBuilder9isGOTEdgeERN4llvm7jitlink4EdgeE'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/MachO_x86_64.cpp' l='386' c='_ZN12_GLOBAL__N_131MachO_x86_64_GOTAndStubsBuilder10fixGOTEdgeERN4llvm7jitlink4EdgeERNS2_6SymbolE'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/MachO_x86_64.cpp' l='400' c='_ZN12_GLOBAL__N_131MachO_x86_64_GOTAndStubsBuilder20isExternalBranchEdgeERN4llvm7jitlink4EdgeE'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/MachO_x86_64.cpp' l='413' c='_ZN12_GLOBAL__N_131MachO_x86_64_GOTAndStubsBuilder21fixExternalBranchEdgeERN4llvm7jitlink4EdgeERNS2_6SymbolE'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/MachO_x86_64.cpp' l='560' c='_ZN4llvm7jitlink21MachOJITLinker_x86_6421targetOutOfRangeErrorERKNS0_5BlockERKNS0_4EdgeE'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/MachO_x86_64.cpp' l='571' c='_ZNK4llvm7jitlink21MachOJITLinker_x86_6410applyFixupERNS0_5BlockERKNS0_4EdgeEPc'/>
<size>32</size>
<use f='llvm/llvm/tools/llvm-jitlink/llvm-jitlink-elf.cpp' l='27' c='_ZL22getFirstRelocationEdgeRN4llvm7jitlink9LinkGraphERNS0_5BlockE'/>
<use f='llvm/llvm/tools/llvm-jitlink/llvm-jitlink-elf.cpp' l='29' c='_ZL22getFirstRelocationEdgeRN4llvm7jitlink9LinkGraphERNS0_5BlockE'/>
<size>32</size>
<use f='llvm/llvm/tools/llvm-jitlink/llvm-jitlink-macho.cpp' l='29' c='_ZL22getFirstRelocationEdgeRN4llvm7jitlink9LinkGraphERNS0_5BlockE'/>
<use f='llvm/llvm/tools/llvm-jitlink/llvm-jitlink-macho.cpp' l='31' c='_ZL22getFirstRelocationEdgeRN4llvm7jitlink9LinkGraphERNS0_5BlockE'/>
<size>32</size>
