<dec f='llvm/llvm/include/llvm/CodeGen/MachineFunction.h' l='229' type='const llvm::LLVMTargetMachine &amp;'/>
<use f='llvm/llvm/include/llvm/CodeGen/MachineFunction.h' l='546' u='a' c='_ZNK4llvm15MachineFunction9getTargetEv'/>
<offset>64</offset>
<use f='llvm/llvm/lib/CodeGen/MachineFunction.cpp' l='140' u='w' c='_ZN4llvm15MachineFunctionC1ERNS_8FunctionERKNS_17LLVMTargetMachineERKNS_19TargetSubtargetInfoEjRNS_17MachineModuleInfoE'/>
<use f='llvm/llvm/lib/CodeGen/MachineFunction.cpp' l='882' u='m' c='_ZN4llvm15MachineFunction15getCallSiteInfoEPKNS_12MachineInstrE'/>
