<dec f='llvm/llvm/lib/Target/AArch64/AArch64RegisterInfo.h' l='27' type='const llvm::Triple &amp;'/>
<offset>2240</offset>
<use f='llvm/llvm/lib/Target/AArch64/AArch64RegisterInfo.cpp' l='39' u='w' c='_ZN4llvm19AArch64RegisterInfoC1ERKNS_6TripleE'/>
<use f='llvm/llvm/lib/Target/AArch64/AArch64RegisterInfo.cpp' l='252' u='m' c='_ZNK4llvm19AArch64RegisterInfo23getTLSCallPreservedMaskEv'/>
<use f='llvm/llvm/lib/Target/AArch64/AArch64RegisterInfo.cpp' l='312' u='m' c='_ZNK4llvm19AArch64RegisterInfo15getReservedRegsERKNS_15MachineFunctionE'/>
<use f='llvm/llvm/lib/Target/AArch64/AArch64RegisterInfo.cpp' l='734' u='m' c='_ZNK4llvm19AArch64RegisterInfo19getRegPressureLimitEPKNS_19TargetRegisterClassERNS_15MachineFunctionE'/>
