<dec f='llvm/llvm/include/llvm/CodeGen/MIRParser/MIParser.h' l='165' type='llvm::PerTargetMIParsingState &amp;'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIParser.cpp' l='321' u='w' c='_ZN4llvm25PerFunctionMIParsingStateC1ERNS_15MachineFunctionERNS_9SourceMgrERKNS_11SlotMappingERNS_23PerTargetMIParsingStateE'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIParser.cpp' l='1271' u='m' c='_ZN12_GLOBAL__N_18MIParser16parseInstructionERjS1_'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIParser.cpp' l='1280' u='m' c='_ZN12_GLOBAL__N_18MIParser18parseNamedRegisterERN4llvm8RegisterE'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIParser.cpp' l='1331' u='m' c='_ZN12_GLOBAL__N_18MIParser24parseRegisterClassOrBankERN4llvm8VRegInfoE'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIParser.cpp' l='1358' u='m' c='_ZN12_GLOBAL__N_18MIParser24parseRegisterClassOrBankERN4llvm8VRegInfoE'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIParser.cpp' l='1432' u='m' c='_ZN12_GLOBAL__N_18MIParser21parseSubRegisterIndexERj'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIParser.cpp' l='1994' u='m' c='_ZN12_GLOBAL__N_18MIParser28parseSubRegisterIndexOperandERN4llvm14MachineOperandE'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIParser.cpp' l='2500' u='m' c='_ZN12_GLOBAL__N_18MIParser23parseTargetIndexOperandERN4llvm14MachineOperandE'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIParser.cpp' l='2645' u='m' c='_ZN12_GLOBAL__N_18MIParser19parseMachineOperandEjjRN4llvm14MachineOperandERNS1_8OptionalIjEE'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIParser.cpp' l='2679' u='m' c='_ZN12_GLOBAL__N_18MIParser33parseMachineOperandAndTargetFlagsEjjRN4llvm14MachineOperandERNS1_8OptionalIjEE'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIParser.cpp' l='2680' u='m' c='_ZN12_GLOBAL__N_18MIParser33parseMachineOperandAndTargetFlagsEjjRN4llvm14MachineOperandERNS1_8OptionalIjEE'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIParser.cpp' l='2690' u='m' c='_ZN12_GLOBAL__N_18MIParser33parseMachineOperandAndTargetFlagsEjjRN4llvm14MachineOperandERNS1_8OptionalIjEE'/>
<use f='llvm/llvm/lib/CodeGen/MIRParser/MIParser.cpp' l='2846' u='m' c='_ZN12_GLOBAL__N_18MIParser22parseMemoryOperandFlagERN4llvm17MachineMemOperand5FlagsE'/>
<offset>960</offset>
