<dec f='llvm/llvm/lib/IR/Verifier.cpp' l='129' type='llvm::Triple'/>
<use f='llvm/llvm/lib/IR/Verifier.cpp' l='141' u='w' c='_ZN4llvm15VerifierSupportC1EPNS_11raw_ostreamERKNS_6ModuleE'/>
<use f='llvm/llvm/lib/IR/Verifier.cpp' l='1412' u='m' c='_ZN12_GLOBAL__N_18Verifier11visitComdatERKN4llvm6ComdatE'/>
<offset>448</offset>
