<use f='llvm/llvm/lib/ExecutionEngine/JITLink/EHFrameSupportImpl.h' l='67' u='w' c='_ZN4llvm7jitlink16EHFrameEdgeFixer10EdgeTargetC1ERKNS0_4EdgeE'/>
<dec f='llvm/llvm/lib/ExecutionEngine/JITLink/EHFrameSupportImpl.h' l='69' type='llvm::jitlink::Symbol *'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/EHFrameSupport.cpp' l='442' u='r' c='_ZN4llvm7jitlink16EHFrameEdgeFixer10processFDEERNS1_12ParseContextERNS0_5BlockEmmmjRNS_8DenseMapIjNS1_10EdgeTargetENS_12DenseMapInfoIjEENS_6detail12DenseMapPairIjS7_EEEE'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/EHFrameSupport.cpp' l='485' u='r' c='_ZN4llvm7jitlink16EHFrameEdgeFixer10processFDEERNS1_12ParseContextERNS0_5BlockEmmmjRNS_8DenseMapIjNS1_10EdgeTargetENS_12DenseMapInfoIjEENS_6detail12DenseMapPairIjS7_EEEE'/>
<use f='llvm/llvm/lib/ExecutionEngine/JITLink/EHFrameSupport.cpp' l='491' u='r' c='_ZN4llvm7jitlink16EHFrameEdgeFixer10processFDEERNS1_12ParseContextERNS0_5BlockEmmmjRNS_8DenseMapIjNS1_10EdgeTargetENS_12DenseMapInfoIjEENS_6detail12DenseMapPairIjS7_EEEE'/>
<offset>0</offset>
