<def f='llvm/llvm/include/llvm/TextAPI/MachO/Target.h' l='24' ll='38'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/Target.h' l='32' c='_ZN4llvm5MachO6Target6createENS_9StringRefE'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/Target.h' l='40' c='_ZN4llvm5MachOeqERKNS0_6TargetES3_'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/Target.h' l='40' c='_ZN4llvm5MachOeqERKNS0_6TargetES3_'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/Target.h' l='44' c='_ZN4llvm5MachOneERKNS0_6TargetES3_'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/Target.h' l='44' c='_ZN4llvm5MachOneERKNS0_6TargetES3_'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/Target.h' l='48' c='_ZN4llvm5MachOltERKNS0_6TargetES3_'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/Target.h' l='48' c='_ZN4llvm5MachOltERKNS0_6TargetES3_'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/Target.h' l='52' c='_ZN4llvm5MachOeqERKNS0_6TargetERKNS0_12ArchitectureE'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/Target.h' l='56' c='_ZN4llvm5MachOneERKNS0_6TargetERKNS0_12ArchitectureE'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/Target.h' l='60' c='_ZN4llvm5MachO16mapToPlatformSetENS_8ArrayRefINS0_6TargetEEE'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/Target.h' l='61' c='_ZN4llvm5MachO20mapToArchitectureSetENS_8ArrayRefINS0_6TargetEEE'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/Target.h' l='63' c='_ZN4llvm5MachOlsERNS_11raw_ostreamERKNS0_6TargetE'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/Symbol.h' l='56'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/Symbol.h' l='62' c='_ZN4llvm5MachO6Symbol9addTargetENS0_6TargetE'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/Symbol.h' l='97'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/InterfaceFile.h' l='92' c='_ZN4llvm5MachO16InterfaceFileRef9addTargetERKNS0_6TargetE'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/InterfaceFile.h' l='196' c='_ZN4llvm5MachO13InterfaceFile9addTargetERKNS0_6TargetE'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/InterfaceFile.h' l='205' c='_ZN4llvm5MachO13InterfaceFile10addTargetsEOT_'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/InterfaceFile.h' l='214'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/InterfaceFile.h' l='276' c='_ZN4llvm5MachO13InterfaceFile17addParentUmbrellaERKNS0_6TargetENS_9StringRefE'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/InterfaceFile.h' l='282' c='_ZNK4llvm5MachO13InterfaceFile9umbrellasB5cxx11Ev'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/InterfaceFile.h' l='295' c='_ZN4llvm5MachO13InterfaceFile18addAllowableClientENS_9StringRefERKNS0_6TargetE'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/InterfaceFile.h' l='308' c='_ZN4llvm5MachO13InterfaceFile20addReexportedLibraryENS_9StringRefERKNS0_6TargetE'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/InterfaceFile.h' l='321' c='_ZN4llvm5MachO13InterfaceFile7addUUIDERKNS0_6TargetENS_9StringRefE'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/InterfaceFile.h' l='327' c='_ZN4llvm5MachO13InterfaceFile7addUUIDERKNS0_6TargetEPh'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/InterfaceFile.h' l='332' c='_ZNK4llvm5MachO13InterfaceFile5uuidsB5cxx11Ev'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/InterfaceFile.h' l='422'/>
<use f='llvm/llvm/include/llvm/TextAPI/MachO/InterfaceFile.h' l='426'/>
<size>8</size>
<doc f='llvm/llvm/include/llvm/TextAPI/MachO/Target.h' l='21'>// This is similar to a llvm Triple, but the triple doesn&apos;t have all the
// information we need. For example there is no enum value for x86_64h. The
// only way to get that information is to parse the triple string.</doc>
<fun r='_ZN4llvm5MachO6TargetC1Ev'/>
<fun r='_ZN4llvm5MachO6TargetC1ENS0_12ArchitectureENS0_12PlatformKindE'/>
<fun r='_ZN4llvm5MachO6TargetC1ERKNS_6TripleE'/>
<fun r='_ZN4llvm5MachO6Target6createENS_9StringRefE'/>
<fun r='_ZNK4llvm5MachO6TargetcvNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEEv'/>
<mbr r='llvm::MachO::Target::Arch' o='0' t='llvm::MachO::Architecture'/>
<mbr r='llvm::MachO::Target::Platform' o='32' t='llvm::MachO::PlatformKind'/>
<use f='llvm/llvm/lib/TextAPI/MachO/InterfaceFile.cpp' l='33' c='_ZN12_GLOBAL__N_18addEntryERT_RKN4llvm5MachO6TargetE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/InterfaceFile.cpp' l='35' c='_ZN12_GLOBAL__N_18addEntryERT_RKN4llvm5MachO6TargetE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/InterfaceFile.cpp' l='35' c='_ZN12_GLOBAL__N_18addEntryERT_RKN4llvm5MachO6TargetE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/InterfaceFile.cpp' l='45' c='_ZN4llvm5MachO16InterfaceFileRef9addTargetERKNS0_6TargetE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/InterfaceFile.cpp' l='50' c='_ZN4llvm5MachO13InterfaceFile18addAllowableClientENS_9StringRefERKNS0_6TargetE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/InterfaceFile.cpp' l='56' c='_ZN4llvm5MachO13InterfaceFile20addReexportedLibraryENS_9StringRefERKNS0_6TargetE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/InterfaceFile.cpp' l='61' c='_ZN4llvm5MachO13InterfaceFile17addParentUmbrellaERKNS0_6TargetENS_9StringRefE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/InterfaceFile.cpp' l='63' c='_ZN4llvm5MachO13InterfaceFile17addParentUmbrellaERKNS0_6TargetENS_9StringRefE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/InterfaceFile.cpp' l='64' c='_ZN4llvm5MachO13InterfaceFile17addParentUmbrellaERKNS0_6TargetENS_9StringRefE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/InterfaceFile.cpp' l='74' c='_ZN4llvm5MachO13InterfaceFile7addUUIDERKNS0_6TargetENS_9StringRefE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/InterfaceFile.cpp' l='76' c='_ZN4llvm5MachO13InterfaceFile7addUUIDERKNS0_6TargetENS_9StringRefE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/InterfaceFile.cpp' l='77' c='_ZN4llvm5MachO13InterfaceFile7addUUIDERKNS0_6TargetENS_9StringRefE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/InterfaceFile.cpp' l='87' c='_ZN4llvm5MachO13InterfaceFile7addUUIDERKNS0_6TargetEPh'/>
<use f='llvm/llvm/lib/TextAPI/MachO/InterfaceFile.cpp' l='98' c='_ZN4llvm5MachO13InterfaceFile9addTargetERKNS0_6TargetE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/InterfaceFile.cpp' l='104' c='_ZNK4llvm5MachO13InterfaceFile7targetsENS0_15ArchitectureSetE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/InterfaceFile.cpp' l='104' c='_ZNK4llvm5MachO13InterfaceFile7targetsENS0_15ArchitectureSetE'/>
<size>8</size>
<use f='llvm/llvm/lib/TextAPI/MachO/Symbol.cpp' l='50' c='_ZNK4llvm5MachO6Symbol7targetsENS0_15ArchitectureSetE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/Symbol.cpp' l='51' c='_ZNK4llvm5MachO6Symbol7targetsENS0_15ArchitectureSetE'/>
<size>8</size>
<use f='llvm/llvm/lib/TextAPI/MachO/Target.cpp' l='20' c='_ZN4llvm5MachO6Target6createENS_9StringRefE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/Target.cpp' l='48' c='_ZN4llvm5MachO6Target6createENS_9StringRefE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/Target.cpp' l='56' c='_ZN4llvm5MachOlsERNS_11raw_ostreamERKNS0_6TargetE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/Target.cpp' l='61' c='_ZN4llvm5MachO16mapToPlatformSetENS_8ArrayRefINS0_6TargetEEE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/Target.cpp' l='68' c='_ZN4llvm5MachO20mapToArchitectureSetENS_8ArrayRefINS0_6TargetEEE'/>
<size>8</size>
<fun r='_ZN4llvm5MachO6Target6createENS_9StringRefE'/>
<fun r='_ZNK4llvm5MachO6TargetcvNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEEv'/>
<use f='llvm/llvm/lib/TextAPI/MachO/TextStubCommon.h' l='23'/>
<use f='llvm/llvm/lib/TextAPI/MachO/TextStub.cpp' l='243'/>
<use f='llvm/llvm/lib/TextAPI/MachO/TextStub.cpp' l='248'/>
<use f='llvm/llvm/lib/TextAPI/MachO/TextStub.cpp' l='254'/>
<use f='llvm/llvm/lib/TextAPI/MachO/TextStub.cpp' l='258' c='_ZN12_GLOBAL__N_16UUIDv4C1ERKN4llvm5MachO6TargetERKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/TextStub.cpp' l='280'/>
<use f='llvm/llvm/lib/TextAPI/MachO/TextStub.cpp' l='376'/>
<use f='llvm/llvm/lib/TextAPI/MachO/TextStub.cpp' l='377' c='_ZN4llvm4yaml12ScalarTraitsINS_5MachO6TargetEvE6outputERKS3_PvRNS_11raw_ostreamE'/>
<use f='llvm/llvm/lib/TextAPI/MachO/TextStub.cpp' l='416' c='_ZN4llvm4yaml12ScalarTraitsINS_5MachO6TargetEvE5inputENS_9StringRefEPvRS3_'/>
<size>8</size>
<use f='llvm/llvm/lib/TextAPI/MachO/TextStubCommon.cpp' l='229' c='_ZN4llvm4yaml12ScalarTraitsISt4pairINS_5MachO6TargetENSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEEvE5inputENS_9StringRefEPvRSB_'/>
<size>8</size>
<use f='llvm/llvm/tools/llvm-ifs/llvm-ifs.cpp' l='227' c='_ZL12writeTbdStubRKN4llvm6TripleERKSt6vectorI9IFSSymbolSaIS4_EENS_9StringRefERNS_11raw_ostreamE'/>
<size>8</size>
<use f='llvm/llvm/unittests/TextAPI/TextStubHelpers.h' l='26'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV1Tests.cpp' l='78' c='_ZN5TBDv119TBDv1_ReadFile_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV1Tests.cpp' l='132' c='_ZN5TBDv120TBDv1_ReadFile2_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV1Tests.cpp' l='174' c='_ZN5TBDv120TBDv1_WriteFile_Test8TestBodyEv'/>
<size>8</size>
<use f='llvm/llvm/unittests/TextAPI/TextStubV2Tests.cpp' l='79' c='_ZN5TBDv219TBDv2_ReadFile_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV2Tests.cpp' l='151' c='_ZN5TBDv220TBDv2_ReadFile2_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV2Tests.cpp' l='192' c='_ZN5TBDv220TBDv2_WriteFile_Test8TestBodyEv'/>
<size>8</size>
<use f='llvm/llvm/unittests/TextAPI/TextStubV3Tests.cpp' l='82' c='_ZN5TBDv319TBDv3_ReadFile_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV3Tests.cpp' l='84' c='_ZN5TBDv319TBDv3_ReadFile_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV3Tests.cpp' l='86' c='_ZN5TBDv319TBDv3_ReadFile_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV3Tests.cpp' l='172' c='_ZN5TBDv332TBDv3_ReadMultipleDocuments_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV3Tests.cpp' l='174' c='_ZN5TBDv332TBDv3_ReadMultipleDocuments_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV3Tests.cpp' l='176' c='_ZN5TBDv332TBDv3_ReadMultipleDocuments_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV3Tests.cpp' l='268' c='_ZN5TBDv320TBDv3_WriteFile_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV3Tests.cpp' l='333' c='_ZN5TBDv333TBDv3_WriteMultipleDocuments_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV3Tests.cpp' l='334' c='_ZN5TBDv333TBDv3_WriteMultipleDocuments_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV3Tests.cpp' l='359' c='_ZN5TBDv333TBDv3_WriteMultipleDocuments_Test8TestBodyEv'/>
<size>8</size>
<use f='llvm/llvm/unittests/TextAPI/TextStubV4Tests.cpp' l='89' c='_ZN5TBDv419TBDv4_ReadFile_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV4Tests.cpp' l='90' c='_ZN5TBDv419TBDv4_ReadFile_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV4Tests.cpp' l='91' c='_ZN5TBDv419TBDv4_ReadFile_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV4Tests.cpp' l='230' c='_ZN5TBDv432TBDv4_ReadMultipleDocuments_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV4Tests.cpp' l='265' c='_ZN5TBDv432TBDv4_ReadMultipleDocuments_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV4Tests.cpp' l='362' c='_ZN5TBDv420TBDv4_WriteFile_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV4Tests.cpp' l='363' c='_ZN5TBDv420TBDv4_WriteFile_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV4Tests.cpp' l='430' c='_ZN5TBDv433TBDv4_WriteMultipleDocuments_Test8TestBodyEv'/>
<use f='llvm/llvm/unittests/TextAPI/TextStubV4Tests.cpp' l='431' c='_ZN5TBDv433TBDv4_WriteMultipleDocuments_Test8TestBodyEv'/>
<size>8</size>
