<dec f='llvm/llvm/include/llvm/MC/MCObjectFileInfo.h' l='426' type='llvm::Triple'/>
<use f='llvm/llvm/include/llvm/MC/MCObjectFileInfo.h' l='437' u='a' c='_ZNK4llvm16MCObjectFileInfo15getTargetTripleEv'/>
<offset>5888</offset>
<use f='llvm/llvm/lib/MC/MCObjectFileInfo.cpp' l='938' u='w' c='_ZN4llvm16MCObjectFileInfo20InitMCObjectFileInfoERKNS_6TripleEbRNS_9MCContextEb'/>
<use f='llvm/llvm/lib/MC/MCObjectFileInfo.cpp' l='940' u='m' c='_ZN4llvm16MCObjectFileInfo20InitMCObjectFileInfoERKNS_6TripleEbRNS_9MCContextEb'/>
<use f='llvm/llvm/lib/MC/MCObjectFileInfo.cpp' l='943' u='r' c='_ZN4llvm16MCObjectFileInfo20InitMCObjectFileInfoERKNS_6TripleEbRNS_9MCContextEb'/>
<use f='llvm/llvm/lib/MC/MCObjectFileInfo.cpp' l='946' u='m' c='_ZN4llvm16MCObjectFileInfo20InitMCObjectFileInfoERKNS_6TripleEbRNS_9MCContextEb'/>
<use f='llvm/llvm/lib/MC/MCObjectFileInfo.cpp' l='951' u='r' c='_ZN4llvm16MCObjectFileInfo20InitMCObjectFileInfoERKNS_6TripleEbRNS_9MCContextEb'/>
<use f='llvm/llvm/lib/MC/MCObjectFileInfo.cpp' l='955' u='r' c='_ZN4llvm16MCObjectFileInfo20InitMCObjectFileInfoERKNS_6TripleEbRNS_9MCContextEb'/>
<use f='llvm/llvm/lib/MC/MCObjectFileInfo.cpp' l='959' u='r' c='_ZN4llvm16MCObjectFileInfo20InitMCObjectFileInfoERKNS_6TripleEbRNS_9MCContextEb'/>
<use f='llvm/llvm/lib/MC/MCObjectFileInfo.cpp' l='966' u='r' c='_ZN4llvm16MCObjectFileInfo20InitMCObjectFileInfoERKNS_6TripleEbRNS_9MCContextEb'/>
<use f='llvm/llvm/lib/MC/MCObjectFileInfo.cpp' l='976' u='m' c='_ZNK4llvm16MCObjectFileInfo21getDwarfComdatSectionEPKcm'/>
<use f='llvm/llvm/lib/MC/MCObjectFileInfo.cpp' l='1060' u='m' c='_ZNK4llvm16MCObjectFileInfo25getPseudoProbeDescSectionENS_9StringRefE'/>
