<dec f='llvm/llvm/include/llvm/MC/MCExpr.h' l='42' type='4'/>
<use f='llvm/llvm/include/llvm/MC/MCExpr.h' l='644' u='r' c='_ZN4llvm12MCTargetExprC1Ev'/>
<use f='llvm/llvm/include/llvm/MC/MCExpr.h' l='663' u='r' c='_ZN4llvm12MCTargetExpr7classofEPKNS_6MCExprE'/>
<doc f='llvm/llvm/include/llvm/MC/MCExpr.h' l='42'>///&lt; Target specific expression.</doc>
<use f='llvm/llvm/lib/MC/MCELFStreamer.cpp' l='392' c='_ZN4llvm13MCELFStreamer21fixSymbolsInTLSFixupsEPKNS_6MCExprE'/>
<use f='llvm/llvm/lib/MC/MCExpr.cpp' l='44' c='_ZNK4llvm6MCExpr5printERNS_11raw_ostreamEPKNS_9MCAsmInfoEb'/>
<use f='llvm/llvm/lib/MC/MCExpr.cpp' l='796' c='_ZNK4llvm6MCExpr25evaluateAsRelocatableImplERNS_7MCValueEPKNS_11MCAssemblerEPKNS_11MCAsmLayoutEPKNS_7MCFixupEPKNS_8DenseMapIPKNS_9MCSectionEmNS_12Dens14347918'/>
<use f='llvm/llvm/lib/MC/MCExpr.cpp' l='1001' c='_ZNK4llvm6MCExpr22findAssociatedFragmentEv'/>
<use f='llvm/llvm/lib/MC/MCParser/AsmParser.cpp' l='1323' c='_ZN12_GLOBAL__N_19AsmParser19applyModifierToExprEPKN4llvm6MCExprENS1_15MCSymbolRefExpr11VariantKindE'/>
<use f='llvm/llvm/lib/MC/MCParser/AsmParser.cpp' l='6156' c='_ZN4llvm13MCParserUtilsL24isSymbolUsedInExpressionEPKNS_8MCSymbolEPKNS_6MCExprE'/>
<use f='llvm/llvm/lib/MC/MCStreamer.cpp' l='1015' c='_ZN4llvm10MCStreamer13visitUsedExprERKNS_6MCExprE'/>
<use f='llvm/llvm/lib/Target/AArch64/MCTargetDesc/AArch64MCExpr.h' l='171' u='r' c='_ZN4llvm13AArch64MCExpr7classofEPKNS_6MCExprE'/>
<use f='llvm/llvm/lib/Target/AArch64/MCTargetDesc/AArch64MCExpr.cpp' l='116' c='_ZL28fixELFSymbolsInTLSFixupsImplPKN4llvm6MCExprERNS_11MCAssemblerE'/>
<use f='llvm/llvm/lib/Target/AMDGPU/MCTargetDesc/SIMCCodeEmitter.cpp' l='457' c='_ZL10needsPCRelPKN4llvm6MCExprE'/>
<use f='llvm/llvm/lib/Target/ARM/MCTargetDesc/ARMMCExpr.h' l='73' u='r' c='_ZN4llvm9ARMMCExpr7classofEPKNS_6MCExprE'/>
<use f='llvm/llvm/lib/Target/ARM/MCTargetDesc/ARMMCCodeEmitter.cpp' l='1199' u='r' c='_ZNK12_GLOBAL__N_116ARMMCCodeEmitter19getHiLo16ImmOpValueERKN4llvm6MCInstEjRNS1_15SmallVectorImplINS1_7MCFixupEEERKNS1_15MCSubtargetInfoE'/>
<use f='llvm/llvm/lib/Target/AVR/MCTargetDesc/AVRMCExpr.h' l='70' u='r' c='_ZN4llvm9AVRMCExpr7classofEPKNS_6MCExprE'/>
<use f='llvm/llvm/lib/Target/AVR/MCTargetDesc/AVRMCCodeEmitter.cpp' l='234' u='r' c='_ZNK4llvm16AVRMCCodeEmitter14getExprOpValueEPKNS_6MCExprERNS_15SmallVectorImplINS_7MCFixupEEERKNS_15MCSubtargetInfoE'/>
<use f='llvm/llvm/lib/Target/Hexagon/MCTargetDesc/HexagonMCExpr.cpp' l='42' c='_ZL28fixELFSymbolsInTLSFixupsImplPKN4llvm6MCExprERNS_11MCAssemblerE'/>
<use f='llvm/llvm/lib/Target/Hexagon/MCTargetDesc/HexagonMCExpr.cpp' l='102' u='r' c='_ZN4llvm13HexagonMCExpr7classofEPKNS_6MCExprE'/>
<use f='llvm/llvm/lib/Target/Lanai/MCTargetDesc/LanaiMCExpr.h' l='50' u='r' c='_ZN4llvm11LanaiMCExpr7classofEPKNS_6MCExprE'/>
<use f='llvm/llvm/lib/Target/Mips/MCTargetDesc/MipsMCExpr.h' l='81' u='r' c='_ZN4llvm10MipsMCExpr7classofEPKNS_6MCExprE'/>
<use f='llvm/llvm/lib/Target/Mips/AsmParser/MipsAsmParser.cpp' l='1832' c='_ZL11isEvaluatedPKN4llvm6MCExprE'/>
<use f='llvm/llvm/lib/Target/Mips/MCTargetDesc/MipsMCCodeEmitter.cpp' l='609' u='r' c='_ZNK4llvm17MipsMCCodeEmitter14getExprOpValueEPKNS_6MCExprERNS_15SmallVectorImplINS_7MCFixupEEERKNS_15MCSubtargetInfoE'/>
<use f='llvm/llvm/lib/Target/Mips/MCTargetDesc/MipsMCExpr.cpp' l='226' c='_ZL28fixELFSymbolsInTLSFixupsImplPKN4llvm6MCExprERNS_11MCAssemblerE'/>
<use f='llvm/llvm/lib/Target/NVPTX/NVPTXMCExpr.h' l='83' u='r' c='_ZN4llvm16NVPTXFloatMCExpr7classofEPKNS_6MCExprE'/>
<use f='llvm/llvm/lib/Target/NVPTX/NVPTXMCExpr.h' l='125' u='r' c='_ZN4llvm27NVPTXGenericMCSymbolRefExpr7classofEPKNS_6MCExprE'/>
<use f='llvm/llvm/lib/Target/NVPTX/NVPTXAsmPrinter.cpp' l='2092' c='_ZN4llvm15NVPTXAsmPrinter11printMCExprERKNS_6MCExprERNS_11raw_ostreamE'/>
<use f='llvm/llvm/lib/Target/PowerPC/MCTargetDesc/PPCMCExpr.h' l='88' u='r' c='_ZN4llvm9PPCMCExpr7classofEPKNS_6MCExprE'/>
<use f='llvm/llvm/lib/Target/PowerPC/AsmParser/PPCAsmParser.cpp' l='40' c='_ZL14EvaluateCRExprPKN4llvm6MCExprE'/>
<use f='llvm/llvm/lib/Target/PowerPC/AsmParser/PPCAsmParser.cpp' l='1274' c='_ZN12_GLOBAL__N_112PPCAsmParser23ExtractModifierFromExprEPKN4llvm6MCExprERNS1_9PPCMCExpr11VariantKindE'/>
<use f='llvm/llvm/lib/Target/PowerPC/AsmParser/PPCAsmParser.cpp' l='1361' c='_ZN12_GLOBAL__N_112PPCAsmParser16FixupVariantKindEPKN4llvm6MCExprE'/>
<use f='llvm/llvm/lib/Target/PowerPC/MCTargetDesc/PPCELFObjectWriter.cpp' l='45' u='r' c='_ZL16getAccessVariantRKN4llvm7MCValueERKNS_7MCFixupE'/>
<use f='llvm/llvm/lib/Target/RISCV/MCTargetDesc/RISCVMCExpr.h' l='80' u='r' c='_ZN4llvm11RISCVMCExpr7classofEPKNS_6MCExprE'/>
<use f='llvm/llvm/lib/Target/RISCV/MCTargetDesc/RISCVELFObjectWriter.cpp' l='103' u='r' c='_ZNK12_GLOBAL__N_120RISCVELFObjectWriter12getRelocTypeERN4llvm9MCContextERKNS1_7MCValueERKNS1_7MCFixupEb'/>
<use f='llvm/llvm/lib/Target/RISCV/MCTargetDesc/RISCVMCCodeEmitter.cpp' l='285' u='r' c='_ZNK12_GLOBAL__N_118RISCVMCCodeEmitter13getImmOpValueERKN4llvm6MCInstEjRNS1_15SmallVectorImplINS1_7MCFixupEEERKNS1_15MCSubtargetInfoE'/>
<use f='llvm/llvm/lib/Target/RISCV/MCTargetDesc/RISCVMCExpr.cpp' l='168' c='_ZL28fixELFSymbolsInTLSFixupsImplPKN4llvm6MCExprERNS_11MCAssemblerE'/>
<use f='llvm/llvm/lib/Target/Sparc/MCTargetDesc/SparcMCExpr.h' l='102' u='r' c='_ZN4llvm11SparcMCExpr7classofEPKNS_6MCExprE'/>
<use f='llvm/llvm/lib/Target/Sparc/AsmParser/SparcAsmParser.cpp' l='1361' c='_ZL15hasGOTReferencePKN4llvm6MCExprE'/>
<use f='llvm/llvm/lib/Target/Sparc/MCTargetDesc/SparcMCExpr.cpp' l='171' c='_ZL28fixELFSymbolsInTLSFixupsImplPKN4llvm6MCExprERNS_11MCAssemblerE'/>
<use f='llvm/llvm/lib/Target/X86/MCTargetDesc/X86MCExpr.h' l='73' u='r' c='_ZN4llvm9X86MCExpr7classofEPKNS_6MCExprE'/>
