<dec f='llvm/llvm/lib/Target/PowerPC/MCTargetDesc/PPCInstPrinter.h' l='22' type='llvm::Triple'/>
<use f='llvm/llvm/lib/Target/PowerPC/MCTargetDesc/PPCInstPrinter.h' l='32' u='w' c='_ZN4llvm14PPCInstPrinterC1ERKNS_9MCAsmInfoERKNS_11MCInstrInfoERKNS_14MCRegisterInfoENS_6TripleE'/>
<use f='llvm/llvm/lib/Target/PowerPC/MCTargetDesc/PPCInstPrinter.cpp' l='62' u='m' c='_ZN4llvm14PPCInstPrinter9printInstEPKNS_6MCInstEmNS_9StringRefERKNS_15MCSubtargetInfoERNS_11raw_ostreamE'/>
<use f='llvm/llvm/lib/Target/PowerPC/MCTargetDesc/PPCInstPrinter.cpp' l='460' u='m' c='_ZN4llvm14PPCInstPrinter18printBranchOperandEPKNS_6MCInstEmjRKNS_15MCSubtargetInfoERNS_11raw_ostreamE'/>
<use f='llvm/llvm/lib/Target/PowerPC/MCTargetDesc/PPCInstPrinter.cpp' l='467' u='m' c='_ZN4llvm14PPCInstPrinter18printBranchOperandEPKNS_6MCInstEmjRKNS_15MCSubtargetInfoERNS_11raw_ostreamE'/>
<use f='llvm/llvm/lib/Target/PowerPC/MCTargetDesc/PPCInstPrinter.cpp' l='582' u='m' c='_ZNK4llvm14PPCInstPrinter30showRegistersWithPercentPrefixEPKc'/>
<use f='llvm/llvm/lib/Target/PowerPC/MCTargetDesc/PPCInstPrinter.cpp' l='622' u='m' c='_ZNK4llvm14PPCInstPrinter23showRegistersWithPrefixEv'/>
<offset>512</offset>
