<dec f='llvm/llvm/include/llvm/Transforms/Instrumentation/InstrProfiling.h' l='48' type='llvm::Triple'/>
<offset>384</offset>
<use f='llvm/llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp' l='472' u='m' c='_ZNK4llvm14InstrProfiling33isRuntimeCounterRelocationEnabledEv'/>
<use f='llvm/llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp' l='542' u='w' c='_ZN4llvm14InstrProfiling3runERNS_6ModuleESt8functionIFRKNS_17TargetLibraryInfoERNS_8FunctionEEE'/>
<use f='llvm/llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp' l='808' u='m' c='_ZN4llvm14InstrProfiling25getOrCreateRegionCountersEPNS_22InstrProfIncrementInstE'/>
<use f='llvm/llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp' l='822' u='m' c='_ZN4llvm14InstrProfiling25getOrCreateRegionCountersEPNS_22InstrProfIncrementInstE'/>
<use f='llvm/llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp' l='834' u='m' c='_ZN4llvm14InstrProfiling25getOrCreateRegionCountersEPNS_22InstrProfIncrementInstE'/>
<use f='llvm/llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp' l='849' u='m' c='_ZN4llvm14InstrProfiling25getOrCreateRegionCountersEPNS_22InstrProfIncrementInstE'/>
<use f='llvm/llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp' l='858' u='r' c='_ZN4llvm14InstrProfiling25getOrCreateRegionCountersEPNS_22InstrProfIncrementInstE'/>
<use f='llvm/llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp' l='871' u='m' c='_ZN4llvm14InstrProfiling25getOrCreateRegionCountersEPNS_22InstrProfIncrementInstE'/>
<use f='llvm/llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp' l='904' u='m' c='_ZN4llvm14InstrProfiling25getOrCreateRegionCountersEPNS_22InstrProfIncrementInstE'/>
<use f='llvm/llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp' l='932' u='r' c='_ZN4llvm14InstrProfiling10emitVNodesEv'/>
<use f='llvm/llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp' l='968' u='m' c='_ZN4llvm14InstrProfiling10emitVNodesEv'/>
<use f='llvm/llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp' l='992' u='m' c='_ZN4llvm14InstrProfiling12emitNameDataEv'/>
<use f='llvm/llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp' l='1004' u='r' c='_ZN4llvm14InstrProfiling16emitRegistrationEv'/>
<use f='llvm/llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp' l='1045' u='m' c='_ZN4llvm14InstrProfiling15emitRuntimeHookEv'/>
<use f='llvm/llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp' l='1045' u='m' c='_ZN4llvm14InstrProfiling15emitRuntimeHookEv'/>
<use f='llvm/llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp' l='1066' u='m' c='_ZN4llvm14InstrProfiling15emitRuntimeHookEv'/>
