<dec f='llvm/llvm/lib/Target/SystemZ/SystemZInstrInfo.h' l='113' type='const llvm::MachineOperand *'/>
<use f='llvm/llvm/lib/Target/SystemZ/SystemZInstrInfo.h' l='127' u='w' c='_ZN4llvm9SystemZII6BranchC1ENS0_10BranchTypeEjjPKNS_14MachineOperandE'/>
<use f='llvm/llvm/lib/Target/SystemZ/SystemZInstrInfo.h' l='129' u='r' c='_ZN4llvm9SystemZII6Branch10isIndirectEv'/>
<use f='llvm/llvm/lib/Target/SystemZ/SystemZInstrInfo.h' l='129' u='r' c='_ZN4llvm9SystemZII6Branch10isIndirectEv'/>
<use f='llvm/llvm/lib/Target/SystemZ/SystemZInstrInfo.h' l='130' u='r' c='_ZN4llvm9SystemZII6Branch12hasMBBTargetEv'/>
<use f='llvm/llvm/lib/Target/SystemZ/SystemZInstrInfo.h' l='130' u='r' c='_ZN4llvm9SystemZII6Branch12hasMBBTargetEv'/>
<use f='llvm/llvm/lib/Target/SystemZ/SystemZInstrInfo.h' l='132' u='r' c='_ZN4llvm9SystemZII6Branch12getMBBTargetEv'/>
<offset>0</offset>
<doc f='llvm/llvm/lib/Target/SystemZ/SystemZInstrInfo.h' l='112'>// The target of the branch. In case of INLINEASM_BR, this is nullptr.</doc>
