<def f='llvm/llvm/lib/Target/X86/ImmutableGraph.h' l='47' ll='57'/>
<use f='llvm/llvm/lib/Target/X86/ImmutableGraph.h' l='62'/>
<use f='llvm/llvm/lib/Target/X86/ImmutableGraph.h' l='68' c='_ZNK4llvm14ImmutableGraph4Node11edges_beginEv'/>
<use f='llvm/llvm/lib/Target/X86/ImmutableGraph.h' l='73' c='_ZNK4llvm14ImmutableGraph4Node9edges_endEv'/>
<use f='llvm/llvm/lib/Target/X86/ImmutableGraph.h' l='74' c='_ZNK4llvm14ImmutableGraph4Node5edgesEv'/>
<use f='llvm/llvm/lib/Target/X86/ImmutableGraph.h' l='80' c='_ZN4llvm14ImmutableGraphC1ESt10unique_ptrIA_NS0_4NodeESt14default_deleteIS3_EES1_IA_NS0_4EdgeES4_IS8_EEii'/>
<use f='llvm/llvm/lib/Target/X86/ImmutableGraph.h' l='94' c='_ZNK4llvm14ImmutableGraph5edgesEv'/>
<use f='llvm/llvm/lib/Target/X86/ImmutableGraph.h' l='95' c='_ZNK4llvm14ImmutableGraph11edges_beginEv'/>
<use f='llvm/llvm/lib/Target/X86/ImmutableGraph.h' l='96' c='_ZNK4llvm14ImmutableGraph9edges_endEv'/>
<use f='llvm/llvm/lib/Target/X86/ImmutableGraph.h' l='106' c='_ZNK4llvm14ImmutableGraph12getEdgeIndexERKNS0_4EdgeE'/>
<use f='llvm/llvm/lib/Target/X86/ImmutableGraph.h' l='206' c='_ZN4llvm14ImmutableGraph7EdgeSet6insertERKNS0_4EdgeE'/>
<use f='llvm/llvm/lib/Target/X86/ImmutableGraph.h' l='212' c='_ZN4llvm14ImmutableGraph7EdgeSet5eraseERKNS0_4EdgeE'/>
<use f='llvm/llvm/lib/Target/X86/ImmutableGraph.h' l='216' c='_ZNK4llvm14ImmutableGraph7EdgeSet8containsERKNS0_4EdgeE'/>
<use f='llvm/llvm/lib/Target/X86/ImmutableGraph.h' l='272' c='_ZNK4llvm14ImmutableGraph7EdgeSet8iteratordeEv'/>
<use f='llvm/llvm/lib/Target/X86/ImmutableGraph.h' l='289'/>
<use f='llvm/llvm/lib/Target/X86/X86LoadValueInjectionLoadHardening.cpp' l='121'/>
<size>16</size>
<mbr r='llvm::ImmutableGraph::Edge::Dest' t='const llvm::ImmutableGraph::Node *'/>
<mbr r='llvm::ImmutableGraph::Edge::Value' t='llvm::ImmutableGraph::edge_value_type'/>
<fun r='_ZNK4llvm14ImmutableGraph4Edge7getDestEv'/>
<fun r='_ZNK4llvm14ImmutableGraph4Edge8getValueEv'/>
