<def f='llvm/llvm/lib/Analysis/CFLGraph.h' l='61' ll='64'/>
<use f='llvm/llvm/lib/Analysis/CFLGraph.h' l='66'/>
<use f='llvm/llvm/lib/Analysis/CFLGraph.h' l='132' c='_ZN4llvm5cflaa8CFLGraph7addEdgeENS0_17InstantiatedValueES2_l'/>
<use f='llvm/llvm/lib/Analysis/CFLGraph.h' l='133' c='_ZN4llvm5cflaa8CFLGraph7addEdgeENS0_17InstantiatedValueES2_l'/>
<size>24</size>
<mbr r='llvm::cflaa::CFLGraph::Edge::Other' o='0' t='llvm::cflaa::CFLGraph::Node'/>
<mbr r='llvm::cflaa::CFLGraph::Edge::Offset' o='128' t='int64_t'/>
