<dec f='llvm/polly/lib/External/ppcg/ppcg_options.h' l='49' type='int'/>
<offset>640</offset>
<doc f='llvm/polly/lib/External/ppcg/ppcg_options.h' l='48'>/* The target we generate code for. */</doc>
<use f='llvm/polly/lib/External/ppcg/ppcg.c' l='730' u='r' c='compute_dependences'/>
<use f='llvm/polly/lib/External/ppcg/ppcg_options.c' l='28' u='r' c='ppcg_options_set_target_defaults'/>
