<dec f='llvm/build/projects/compiler-rt/lib/fuzzer/libcxx_fuzzer_x86_64/include/c++/v1/filesystem' l='288' type='7'/>
<use f='llvm/build/projects/compiler-rt/lib/fuzzer/libcxx_fuzzer_x86_64/include/c++/v1/filesystem' l='2018' u='r' c='_ZNSt8__Fuzzer4__fs10filesystem9is_socketENS1_11file_statusE'/>
<use f='llvm/build/projects/compiler-rt/lib/fuzzer/libcxx_fuzzer_x86_64/include/c++/v1/filesystem' l='2355' u='r' c='_ZNKSt8__Fuzzer4__fs10filesystem15directory_entry9is_socketEv'/>
<use f='llvm/build/projects/compiler-rt/lib/fuzzer/libcxx_fuzzer_x86_64/include/c++/v1/filesystem' l='2359' u='r' c='_ZNKSt8__Fuzzer4__fs10filesystem15directory_entry9is_socketERNS_10error_codeE'/>
