<dec f='llvm/build/include/c++/v1/iterator' l='893' type='_Container *'/>
<use f='llvm/build/include/c++/v1/iterator' l='897' u='w' c='_ZNSt3__120back_insert_iteratorC1ERT_'/>
<use f='llvm/build/include/c++/v1/iterator' l='899' u='c' c='_ZNSt3__120back_insert_iteratoraSERKNT_10value_typeE'/>
<use f='llvm/build/include/c++/v1/iterator' l='902' u='c' c='_ZNSt3__120back_insert_iteratoraSEONT_10value_typeE'/>
<dec f='llvm/libcxx/include/iterator' l='893' type='_Container *'/>
<use f='llvm/libcxx/include/iterator' l='897' u='w' c='_ZNSt3__120back_insert_iteratorC1ERT_'/>
<use f='llvm/libcxx/include/iterator' l='899' u='c' c='_ZNSt3__120back_insert_iteratoraSERKNT_10value_typeE'/>
<use f='llvm/libcxx/include/iterator' l='902' u='c' c='_ZNSt3__120back_insert_iteratoraSEONT_10value_typeE'/>
