<dec f='llvm/build/include/c++/v1/iterator' l='926' type='_Container *'/>
<use f='llvm/build/include/c++/v1/iterator' l='930' u='w' c='_ZNSt3__121front_insert_iteratorC1ERT_'/>
<use f='llvm/build/include/c++/v1/iterator' l='932' u='c' c='_ZNSt3__121front_insert_iteratoraSERKNT_10value_typeE'/>
<use f='llvm/build/include/c++/v1/iterator' l='935' u='c' c='_ZNSt3__121front_insert_iteratoraSEONT_10value_typeE'/>
<dec f='llvm/libcxx/include/iterator' l='926' type='_Container *'/>
<use f='llvm/libcxx/include/iterator' l='930' u='w' c='_ZNSt3__121front_insert_iteratorC1ERT_'/>
<use f='llvm/libcxx/include/iterator' l='932' u='c' c='_ZNSt3__121front_insert_iteratoraSERKNT_10value_typeE'/>
<use f='llvm/libcxx/include/iterator' l='935' u='c' c='_ZNSt3__121front_insert_iteratoraSEONT_10value_typeE'/>
