<dec f='ffmpeg/libavcodec/cavs.h' l='148' type='int16_t'/>
<use f='ffmpeg/libavcodec/cavs.c' l='557' u='r' c='mv_pred_median'/>
<use f='ffmpeg/libavcodec/cavs.c' l='558' u='r' c='mv_pred_median'/>
<use f='ffmpeg/libavcodec/cavs.c' l='559' u='r' c='mv_pred_median'/>
<use f='ffmpeg/libavcodec/cavs.c' l='587' u='w' c='ff_cavs_mv'/>
<offset>32</offset>
<use f='ffmpeg/libavcodec/cavsdec.c' l='471' u='w' c='mv_pred_direct'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='472' u='w' c='mv_pred_direct'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='476' u='r' c='mv_pred_direct'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='477' u='r' c='mv_pred_direct'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='479' u='r' c='mv_pred_direct'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='480' u='r' c='mv_pred_direct'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='492' u='w' c='mv_pred_sym'/>
<dec f='include/lzma/delta.h' l='59' type='uint32_t'/>
<offset>32</offset>
<doc f='include/lzma/delta.h' l='49'>/**
	 * \brief       Delta distance
	 *
	 * With the only currently supported type, LZMA_DELTA_TYPE_BYTE,
	 * the distance is as bytes.
	 *
	 * Examples:
	 *  - 16-bit stereo audio: distance = 4 bytes
	 *  - 24-bit RGB image data: distance = 3 bytes
	 */</doc>
