<dec f='ffmpeg/libavcodec/cavs.h' l='175' type='int [2]'/>
<use f='ffmpeg/libavcodec/cavs.c' l='587' u='r' c='ff_cavs_mv'/>
<offset>7040</offset>
<doc f='ffmpeg/libavcodec/cavs.h' l='175'>///&lt; temporal distances from current frame to ref frames</doc>
<use f='ffmpeg/libavcodec/cavsdec.c' l='471' u='r' c='mv_pred_direct'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='472' u='r' c='mv_pred_direct'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='492' u='r' c='mv_pred_sym'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='1038' u='w' c='decode_pic'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='1040' u='w' c='decode_pic'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='1042' u='w' c='decode_pic'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='1043' u='r' c='decode_pic'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='1043' u='r' c='decode_pic'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='1044' u='r' c='decode_pic'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='1044' u='r' c='decode_pic'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='1046' u='r' c='decode_pic'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='1052' u='r' c='decode_pic'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='1052' u='r' c='decode_pic'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='1053' u='r' c='decode_pic'/>
<use f='ffmpeg/libavcodec/cavsdec.c' l='1053' u='r' c='decode_pic'/>
