<dec f='ffmpeg/libavfilter/vf_waveform.c' l='53' type='0'/>
<use f='ffmpeg/libavfilter/vf_waveform.c' l='144' u='r'/>
<use f='ffmpeg/libavfilter/vf_waveform.c' l='144' u='r'/>
<use f='ffmpeg/libavfilter/vf_waveform.c' l='144' u='r'/>
<use f='ffmpeg/libavfilter/vf_waveform.c' l='144' u='r'/>
<use f='ffmpeg/libavfilter/vf_waveform.c' l='144' u='r'/>
<use f='ffmpeg/libavfilter/vf_waveform.c' l='144' u='r'/>
<use f='ffmpeg/libavfilter/vf_waveform.c' l='144' u='r'/>
<use f='ffmpeg/libavfilter/vf_waveform.c' l='144' u='r'/>
<use f='ffmpeg/libavfilter/vf_waveform.c' l='683' u='r' c='lowpass16'/>
<use f='ffmpeg/libavfilter/vf_waveform.c' l='737' u='r' c='lowpass16'/>
<use f='ffmpeg/libavfilter/vf_waveform.c' l='761' u='r' c='lowpass16'/>
<use f='ffmpeg/libavfilter/vf_waveform.c' l='821' u='r' c='lowpass'/>
<use f='ffmpeg/libavfilter/vf_waveform.c' l='874' u='r' c='lowpass'/>
<use f='ffmpeg/libavfilter/vf_waveform.c' l='898' u='r' c='lowpass'/>
<use f='ffmpeg/libavfilter/vf_waveform.c' l='3424' u='r' c='filter_frame'/>
<use f='ffmpeg/libavfilter/vf_waveform.c' l='3426' u='r' c='filter_frame'/>
