<dec f='ffmpeg/libavformat/movenc.h' l='48' type='int64_t'/>
<use f='ffmpeg/libavformat/movenc.c' l='1066' u='r' c='get_cluster_duration'/>
<use f='ffmpeg/libavformat/movenc.c' l='1068' u='r' c='get_cluster_duration'/>
<use f='ffmpeg/libavformat/movenc.c' l='3188' u='r' c='mov_write_edts_tag'/>
<use f='ffmpeg/libavformat/movenc.c' l='3192' u='r' c='mov_write_edts_tag'/>
<use f='ffmpeg/libavformat/movenc.c' l='3194' u='r' c='mov_write_edts_tag'/>
<use f='ffmpeg/libavformat/movenc.c' l='3375' u='r' c='mov_write_trak_tag'/>
<use f='ffmpeg/libavformat/movenc.c' l='4522' u='r' c='mov_write_tfxd_tag'/>
<use f='ffmpeg/libavformat/movenc.c' l='4602' u='r' c='mov_add_tfra_entries'/>
<use f='ffmpeg/libavformat/movenc.c' l='4718' u='r' c='mov_write_sidx_tag'/>
<use f='ffmpeg/libavformat/movenc.c' l='5398' u='r' c='mov_flush_fragment'/>
<use f='ffmpeg/libavformat/movenc.c' l='5445' u='r' c='mov_flush_fragment'/>
<use f='ffmpeg/libavformat/movenc.c' l='5456' u='r' c='mov_flush_fragment'/>
<use f='ffmpeg/libavformat/movenc.c' l='5525' u='r' c='check_pkt'/>
<use f='ffmpeg/libavformat/movenc.c' l='5763' u='w' c='ff_mov_write_packet'/>
<use f='ffmpeg/libavformat/movenc.c' l='5771' u='w' c='ff_mov_write_packet'/>
<use f='ffmpeg/libavformat/movenc.c' l='5780' u='r' c='ff_mov_write_packet'/>
<use f='ffmpeg/libavformat/movenc.c' l='5798' u='w' c='ff_mov_write_packet'/>
<use f='ffmpeg/libavformat/movenc.c' l='5837' u='r' c='ff_mov_write_packet'/>
<use f='ffmpeg/libavformat/movenc.c' l='5840' u='r' c='ff_mov_write_packet'/>
<use f='ffmpeg/libavformat/movenc.c' l='5840' u='r' c='ff_mov_write_packet'/>
<use f='ffmpeg/libavformat/movenc.c' l='5945' u='r' c='mov_write_single_packet'/>
<offset>64</offset>
