<dec f='ffmpeg/libavcodec/opus.h' l='91' type='int'/>
<use f='ffmpeg/libavcodec/opus.c' l='106' u='w' c='ff_opus_parse_packet'/>
<use f='ffmpeg/libavcodec/opus.c' l='256' u='r' c='ff_opus_parse_packet'/>
<use f='ffmpeg/libavcodec/opus.c' l='261' u='r' c='ff_opus_parse_packet'/>
<use f='ffmpeg/libavcodec/opus.c' l='263' u='r' c='ff_opus_parse_packet'/>
<use f='ffmpeg/libavcodec/opus.c' l='264' u='r' c='ff_opus_parse_packet'/>
<use f='ffmpeg/libavcodec/opus.c' l='266' u='r' c='ff_opus_parse_packet'/>
<use f='ffmpeg/libavcodec/opus.c' l='269' u='r' c='ff_opus_parse_packet'/>
<offset>160</offset>
<doc f='ffmpeg/libavcodec/opus.h' l='91'>/**&lt; configuration: tells the audio mode,
                                     **                bandwidth, and frame duration */</doc>
<use f='ffmpeg/libavcodec/opusdec.c' l='196' u='r' c='opus_decode_frame'/>
<use f='ffmpeg/libavcodec/opusdec.c' l='444' u='r' c='opus_decode_packet'/>
<use f='ffmpeg/libavcodec/opusdec.c' l='515' u='r' c='opus_decode_packet'/>
