<dec f='ffmpeg/libavcodec/opus.h' l='114' type='OpusRangeCoder'/>
<offset>384</offset>
<use f='ffmpeg/libavcodec/opusdec.c' l='181' u='a' c='opus_decode_frame'/>
<use f='ffmpeg/libavcodec/opusdec.c' l='193' u='a' c='opus_decode_frame'/>
<use f='ffmpeg/libavcodec/opusdec.c' l='214' u='a' c='opus_decode_frame'/>
<use f='ffmpeg/libavcodec/opusdec.c' l='216' u='a' c='opus_decode_frame'/>
<use f='ffmpeg/libavcodec/opusdec.c' l='221' u='a' c='opus_decode_frame'/>
<use f='ffmpeg/libavcodec/opusdec.c' l='224' u='a' c='opus_decode_frame'/>
<use f='ffmpeg/libavcodec/opusdec.c' l='268' u='a' c='opus_decode_frame'/>
<use f='ffmpeg/libavcodec/opusdec.c' l='270' u='a' c='opus_decode_frame'/>
