<dec f='ffmpeg/libavcodec/scpr.h' l='52' type='RangeCoder'/>
<use f='ffmpeg/libavcodec/scpr3.c' l='738' u='a' c='decode_value3'/>
<use f='ffmpeg/libavcodec/scpr3.c' l='826' u='a' c='decode_unit3'/>
<use f='ffmpeg/libavcodec/scpr3.c' l='896' u='a' c='decode_units3'/>
<use f='ffmpeg/libavcodec/scpr3.c' l='933' u='a' c='decompress_i3'/>
<use f='ffmpeg/libavcodec/scpr3.c' l='1024' u='a' c='decompress_p3'/>
<use f='ffmpeg/libavcodec/scpr3.c' l='1124' u='m' c='decompress_p3'/>
<use f='ffmpeg/libavcodec/scpr3.c' l='1133' u='m' c='decompress_p3'/>
<use f='ffmpeg/libavcodec/scpr3.c' l='1136' u='m' c='decompress_p3'/>
<use f='ffmpeg/libavcodec/scpr3.c' l='1138' u='a' c='decompress_p3'/>
<use f='ffmpeg/libavcodec/scpr.c' l='166' u='a' c='decode_value'/>
<use f='ffmpeg/libavcodec/scpr.c' l='210' u='a' c='decode_unit'/>
<use f='ffmpeg/libavcodec/scpr.c' l='308' u='a' c='decompress_i'/>
<use f='ffmpeg/libavcodec/scpr.c' l='381' u='a' c='decompress_p'/>
<offset>384</offset>
