<dec f='include/python3.8/memoryobject.h' l='46' type='Py_buffer'/>
<offset>256</offset>
<doc f='include/python3.8/memoryobject.h' l='46'>/* snapshot buffer obtained from the original exporter */</doc>
