<use f='halide/halide-install/include/Halide.h' l='25821' u='m' c='_ZNK6Halide16GeneratorContext10get_targetEv'/>
<dec f='halide/halide-install/include/Halide.h' l='25862' type='GeneratorParam&lt;Halide::Target&gt;'/>
<offset>64</offset>
<use f='halide/apps/fft/fft_generator.cpp' l='111' u='m' c='_ZN12_GLOBAL__N_112FFTGenerator8generateEv'/>
<use f='halide/apps/fft/fft_generator.cpp' l='116' u='m' c='_ZN12_GLOBAL__N_112FFTGenerator8generateEv'/>
<use f='halide/apps/fft/fft_generator.cpp' l='123' u='m' c='_ZN12_GLOBAL__N_112FFTGenerator8generateEv'/>
<use f='halide/apps/fft/fft_generator.cpp' l='125' u='m' c='_ZN12_GLOBAL__N_112FFTGenerator8generateEv'/>
<use f='halide/apps/hannk/halide/conv_generator.cpp' l='76' u='m' c='_ZN5hannk4Conv9configureEv'/>
<use f='halide/apps/hannk/halide/conv_generator.cpp' l='87' u='m' c='_ZN5hannk4Conv8generateEv'/>
<use f='halide/apps/hannk/halide/conv_generator.cpp' l='93' u='m' c='_ZN5hannk4Conv8generateEv'/>
<use f='halide/apps/hannk/halide/conv_generator.cpp' l='112' u='m' c='_ZN5hannk4Conv8generateEv'/>
<use f='halide/apps/hannk/halide/conv_generator.cpp' l='185' u='m' c='_ZN5hannk4Conv8generateEv'/>
<use f='halide/apps/hannk/halide/conv_generator.cpp' l='231' u='m' c='_ZN5hannk4Conv8generateEv'/>
<use f='halide/apps/hannk/halide/conv_generator.cpp' l='247' u='m' c='_ZN5hannk4Conv8generateEv'/>
<use f='halide/apps/hannk/halide/conv_generator.cpp' l='276' u='m' c='_ZN5hannk4Conv8generateEv'/>
<use f='halide/apps/hannk/halide/conv_generator.cpp' l='323' u='m' c='_ZN5hannk14TileConvFilter9configureEv'/>
<use f='halide/apps/hannk/halide/conv_generator.cpp' l='333' u='m' c='_ZN5hannk14TileConvFilter8generateEv'/>
<use f='halide/apps/hannk/halide/depthwise_conv_generator.cpp' l='112' u='m' c='_ZN5hannk13DepthwiseConv8generateEv'/>
<use f='halide/apps/hannk/halide/fully_connected_generator.cpp' l='50' u='m' c='_ZN5hannk14FullyConnected8generateEv'/>
<use f='halide/apps/hannk/halide/fully_connected_generator.cpp' l='107' u='m' c='_ZN5hannk14FullyConnected8generateEv'/>
<use f='halide/apps/hannk/halide/fully_connected_generator.cpp' l='148' u='m' c='_ZN5hannk14FullyConnected8generateEv'/>
<use f='halide/apps/hannk/halide/fully_connected_generator.cpp' l='180' u='m' c='_ZN5hannk14FullyConnected8generateEv'/>
<use f='halide/build/include/Halide.h' l='25821' u='m' c='_ZNK6Halide16GeneratorContext10get_targetEv'/>
<dec f='halide/build/include/Halide.h' l='25862' type='GeneratorParam&lt;Halide::Target&gt;'/>
<offset>64</offset>
<use f='halide/src/Generator.h' l='2887' u='m' c='_ZNK6Halide16GeneratorContext10get_targetEv'/>
<dec f='halide/src/Generator.h' l='2928' type='GeneratorParam&lt;Halide::Target&gt;'/>
<use f='halide/src/Generator.cpp' l='18' u='w' c='_ZN6Halide16GeneratorContextC1ERKNS_6TargetEbRKNS_13MachineParamsE'/>
<use f='halide/src/Generator.cpp' l='26' u='m' c='_ZN6Halide16GeneratorContext17init_from_contextERKS0_'/>
<offset>64</offset>
