<def f='halide/src/autoschedulers/adams2019/Timer.h' l='33' ll='47'/>
<use f='halide/src/autoschedulers/adams2019/AutoSchedule.cpp' l='500' c='_ZN6Halide8Internal13Autoscheduler16optimal_scheduleERNS1_11FunctionDAGERKSt6vectorINS0_8FunctionESaIS5_EERKNS_13MachineParamsEPNS_9CostModelERSt23mer6524153'/>
<size>8</size>
<mbr r='Halide::Internal::Autoscheduler::Timer::start' o='0' t='std::chrono::time_point&lt;Clock&gt;'/>
<fun r='_ZN6Halide8Internal13Autoscheduler5TimerC1Ev'/>
<fun r='_ZN6Halide8Internal13Autoscheduler5Timer7restartEv'/>
<fun r='_ZNK6Halide8Internal13Autoscheduler5Timer7elapsedEv'/>
